#connect-container.option-orders-show {

  &::before, &::after {
    background-color:  #ffffff;
  }

  h2 {
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    padding: 5px 0;
    margin: 20px 0;
    color: #5a5a5a;
    font-size: 18px;
  }

  div.connect-container-wrapper {
    background-color: #ffffff;
    color: #333;

    p {
      padding: 10px 0;
    }

    p.number, p.price {
      padding: 40px 0 0 0;
    }
  }

}