.button {
	display: inline-block;
  width: 100%;
  padding: 15px;
  border:none;
  font-weight: lighter;
  transition: 0.4s;
}

  .button.blue {
    background: #3d44ac;
    color: #fff;
  }
    .button.blue:hover {
      background: #2A2F7D;
    }
  .button.green {
    background: #4dc0a1;
    color: #fff;
  }
    .button.green:hover {
      background: #3C9C82;
    }
