.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row.arround {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.split2 {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}
  .split2:first-child {
    padding: 0 20px 0 0;
  }

.split3 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
  .split3:not(:first-child) {
  }

.split4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
  .split4:not(:first-child) {
    margin: 0 0 0 35px;
  }

/*
 * Responsiveness
 */
@media (max-width: 900px)
{
  .row {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .split2, .split3 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 80% !important;
        -ms-flex: 0 0 80% !important;
            flex: 0 0 80% !important;
    padding: 10px !important;
    margin: 10px !important;
  }
  .split4 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 40% !important;
        -ms-flex: 0 0 40% !important;
            flex: 0 0 40% !important;
    padding: 10px !important;
    margin: 10px !important;
  }
}
@media (max-width: 500px)
{
  .split4 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 80% !important;
        -ms-flex: 0 0 80% !important;
            flex: 0 0 80% !important;
    padding: 10px !important;
    margin: 10px !important;
  }
}
