.row {
  display: flex;
}
.row.arround {
  justify-content: space-around;
}

.split2 {
  flex: 0.5;
}
  .split2:first-child {
    padding: 0 20px 0 0;
  }

.split3 {
  justify-content: space-between;
}
  .split3:not(:first-child) {
  }

.split4 {
  flex: 1;
}
  .split4:not(:first-child) {
    margin: 0 0 0 35px;
  }

/*
 * Responsiveness
 */
@media (max-width: 900px)
{
  .row {
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .split2, .split3, .split4 {
    flex: 0 0 80% !important;
    padding: 10px !important;
    margin: 10px !important;
  }
}
