span.red-line {
  border-top: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
}

/*
 * Responsiveness
 */
@media (max-width: 900px)
{
  span.red-line {
    display: none !important;
  }
}
