.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
}

.tabs:after {
    content: '';
    display: table;
    clear: both;
}

.tabs input[type=radio] {
    display:none;
}

.tabs label {
    text-align: center;
    cursor: pointer;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-transform: uppercase;
}
  .tabs > label:not(.first) {
    margin: 0 0 0 10px;
  }

.tabs label span {
    display: none;
}

.tabs label i {
    padding: 5px;
    margin-right: 0;
}

.tabs label p {
  -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
.tabs label p:hover {
    background: #464646;
}

.tab-content {
    display: none;
    width: 100%;
    padding: 15px;
    margin: 20px 0 0 0;
    position: relative;
}
.tab-content:before {
    content: '';
    position: absolute;
    border-left: 9px solid transparent;
  	border-right: 9px solid transparent;
  	border-bottom: 7px solid #959595;
    top: -7px;
}
#tab-content1:before {
  left: 113px;
}
#tab-content2:before {
  left: 371px;
}
#tab-content3:before {
  left: 633px;
}
#tab-content4:before {
  left: 883px;
}

.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}

@-webkit-keyframes scale {

  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0);
    }

  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    opacity: 0.5;
    filter: alpha(opacity=50);
    }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }

}

@keyframes scale {

  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
    filter: alpha(opacity=0);
    }

  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    opacity: 0.5;
    filter: alpha(opacity=50);
    }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }

}

.tabs [id^="tab"]:checked + label {

}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4 {
    display: block;
}

/*
 * Responsiveness
 */
@media (max-width: 900px)
{
  .tabs {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .tabs label {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 80% !important;
        -ms-flex: 0 0 80% !important;
            flex: 0 0 80% !important;
    margin: 10px !important;
  }
  .tab-content {
    width: 80% !important;
  }
  .tab-content .row {
    -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
            flex-wrap: nowrap !important;
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .tab-content:before {
    content: none !important;
  }
  .tabs [id^="tab"]:checked + label p {
    background: #464646 !important;
  }
}
