<% content_for :id, "order-login" %>

<div class="drawbar">
  <div class="logo"><%= image_tag "layout/logo" %></div>

  <div class="title">
    <h1>RJ Login 17</h1>
    <h2>Edition</h2>
  </div>
</div>

<div class="back"><%= link_to "Retour", { action: "confirmation" } %></div>

<%= render 'form' %>
