<div class="sector">
  <div class="row">
    <div class="name">
      <%= image_tag "connect/volunteer/technic.png" %>
      <p><%= name %></p>
    </div>
    <div class="actions">
      <button class="more">+/- d'infos</button>
      <button class="engage">Ça m'intéresse!</button>
    </div>
  </div>
  <p class="more">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
    ad minim veniam, quis nostrud.
  </p>
</div>