@import "../../../components/variables";
@import '../../../components/button-bar';

#container.vision section#donation {
  background-image: image-url("vision/donation/background.jpg");
  background-size: cover;

  .section-container {
    max-width: $main-width;
    padding: 0 $main-padding;
    margin: auto;
    font-size: $medium-title;
    padding: 180px 0;
    color: #fff;
    font-weight: bold;
    text-align: center;

    p:first-of-type {
      font-style: italic;
      padding: 0 0 30px 0;
    }
  }

  div.title {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f56a55+49,1e21c2+100 */
    background: #f56a55; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f56a55 49%, #1e21c2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f56a55 49%,#1e21c2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f56a55 49%,#1e21c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f56a55', endColorstr='#1e21c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    text-align: center;
    padding: 40px 0 70px 0;

    h2 {
        color: #fff;
        font-size: $title-size;
        line-height: 0.9em;
        position: relative;
        z-index: 0;
        cursor: pointer;
        display: inline-block;

      &::after {
        @include button-bar(-2.5em, -0.9em, right, 20px);
        background-color: #000;
      }
    }
  }

}