@import '../../base/variables';

section#home {
  height: 100vh !important;
  color: #fff;
  padding: 30px $pright $pbottom $pleft;
  background-color: #333;

  h1 {
    position: absolute;
    left: -9999px;
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }

  /* First row*/
  .row.first {
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 40px;

    img {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 50px;
    }
  }

  /* Second row*/
  .row.second {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;

    /* First col*/
    & > div:nth-child(1) {
      text-align: center;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
    /* Second col*/
    & > div:nth-child(2) {
      text-align: right;
      -ms-flex-item-align: start;
          align-self: flex-start;
      font-size: 60px;
      font-weight: bold;
      text-transform: uppercase;
    }

    img {
      width: 300px;
    }
  }

  /* Third row*/
  .row.third {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    div {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      text-transform: uppercase;
      text-align: right;
      // a:nth-of-type(1) {
      //   margin: 0 20px 0 0;
      // }
      img {
        width: 180px;
        vertical-align: middle;
      }
      img.ios {
        width: 161px;
      }
    }
  }
}

@media only screen and (max-width: $responsive-size) {
  section#home {
    padding: $responsive-padding;
    height: initial !important;

    background: image-url('layout/background.jpg');
    background-size: cover;
    background-position: center;

    video {
      display: none !important;
    }

    .row > div {
      -webkit-box-flex: 1 !important;
          -ms-flex: 1 1 100% !important;
              flex: 1 1 100% !important;
      padding: 40px 0 !important;
    }
    .row.third {
      padding: 20px 0 20px 0 !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;

      p {
        text-align: center !important;
        line-height: 50px !important;

        a:nth-of-type(1) {
          margin: 0px !important;
        }
      }
    }
    img {
      max-width: 100% !important;
    }
  }
}
