@import '../../base/variables';

section#home {
  background: #000;
  color: #fff;
  padding: $ptop $pright $pbottom $pleft;

  h1 {
    position: absolute;
    left: -9999px;
  }

  // First row
  .row.first {
    text-align: right;
    flex: 2;
    justify-content: flex-end;

    img {
      align-self: center;
    }
  }

  // Second row
  .row.second {
    flex: 3;

    // First col
    & > div:nth-child(1) {
      text-align: center;
      align-self: center;
    }
    // Second col
    & > div:nth-child(2) {
      text-align: right;
      align-self: flex-start;
      font-size: 60px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  // Third row
  .row.third {
    flex: 1;
    justify-content: flex-end;

    p {
      align-self: center;
      text-transform: uppercase;
      a:nth-of-type(1) {
        margin: 0 20px 0 0;
      }
    }
  }
}
