@import '../../base/variables';

section#program {
  color: #fff;

  // First row
  .row.first {
    min-height: 400px;

    // First col
    & > div:nth-of-type(1) {
      flex: 1 0 25%;
      position: relative;
      padding: $ptop $pright $pbottom $pleft;

      background: image-url("sections/program/title.jpg");
      background-size: cover;

      h2 {
        transform-origin: right top;
        transform: translateX(-100%) rotate(-90deg);
        font-size: $title-size;
        text-transform: uppercase;
        font-family: delirium, sans-serif;
        position: absolute;
      }
    }
    // Second col
    & > div:nth-of-type(2) {
      flex: 1 0 75%;
      text-align: right;
      padding: $ptop $pright $pbottom $pleft;

      background: $red;

      p.date {
        font-size: 50px;
        text-transform: uppercase;
      }
      p.images {
        padding: 60px 0 0 0;
        font-size: 50px; // Give space to images

        img {
          border-radius: 50%;
        }
      }
    }
  }

  // Second row
  .row.second {
    padding: $ptop $pright $pbottom $pleft;
    color: black;

    background: image-url("sections/vision/smoke.jpg");
    background-position: right;
    background-size: cover;

    // All col
    & > div {
      flex: 1;
    }
    // First col
    & > div:nth-of-type(1) {
      font-size: 40px;

      .active {
        color: $red;
      }
    }
    // Second col
    & > div:nth-of-type(2) {
      position: relative;

      & > div {
        // Make all elements overlap
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
