section#video {
  min-height: inherit !important;
  padding: 0;            /* get rid of pre-styling */
  margin: 0;
  width: 100%;           /* take up full width available */
  padding-top: 55.50%;   /* give aspect ratio of 16:9; "720 / 1280 = 0.5625" */
  height: 0px;           /* don't want it to expand beyond padding */
  position: relative;

  iframe {
    position: absolute;    /* expand to fill */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}
