@import '../../base/variables';

section#vision {

  .row {
    flex: 1;

    div:nth-child(1) {
      padding: $ptop $pright $pbottom $pleft;

        p:nth-child(1) {
          font-size: 22px;
        }
        p:nth-child(2) {
          font-size: 22px;
          padding: 20px 0;
        }
    }

    div:nth-child(2) {
      background: #000;
      color: #fff;
      text-transform: uppercase;
      font-family: delirium, sans-serif;
      position: relative;
      h2 {
        transform: rotate(-90deg);
        font-size: $title-size;
        position: absolute;
        top: 20%;
        right: 20%;
      }
    }
  }
}
