<% content_for :id, "session-new" %>

<div class="content-wrap">

  <h2>Se connecter</h2>

  <%= render "form" %>

    <div class="row">
      <span></span>
      <p>
        Pas encore inscrit ?
        <%= link_to "S'inscrire", new_user_path %>
      </p>
    </div>

    <div class="row">
      <span></span>
      <p>
        Mot de passe oublié?
        <%= link_to "Réinitialiser le mot de passe", new_users_password_reset_path %>
      </p>
    </div>
  </div>
</div>

<%= render "layouts/headers/application" %>
