<div class="standard-form-row">

    <div class="row">
      <span></span>
      <%= link_to "Finaliser ma commande", complete_order_path(@order.order_id), method: :patch, class: "main-button connect-btn-light-dark-full" %>
    </div>


</div>
