<div class="standard-form-row">

  <div class="row">
    <span></span>
    <%= link_to "Finaliser ma commande", orders_completion_path(@order.order_id), method: :patch, class: "main-button button-link connect-btn-light-dark-full" %>
  </div>

</div>
