<p>Pour un montant supérieur à ..., le paiement se fait par facture. Après avoir confirmé votre commande, une facture vous sera envoyé par email.</p>

<%= link_to "Finaliser ma commande", orders_complete_path(@order.id) %>
