<!-- Postfinance form -->

<div class="standard-form-row">

  <%= form_tag pay_order_path(order.order_id), method: :post do %>

    <div class="row">
      <span></span>
      <p><%= image_tag "orders/pay-cards.png" %></p>
    </div>

    <div class="row">
      <span></span>
      <input type="submit" value="Payer" class="main-button connect-btn-light-dark-full">
    </div>
  <% end %>

</div>