<% content_for :id, "orders-payments-show" %>

<div class="content-wrap">
  <h2>Faire un paiement</h2>
  <p>Montant du paiement: <%= display_price(@payment.amount) %></p>
  <%= render "orders/payments/postfinance", payment: @payment, user: @user %>
</div>

<%= render "layouts/headers/application" %>