<h1>Confirmation d'inscription</h1>
<p>Merci pour ta commande.</p>

<% if @order.postfinance? %>
<p>
  Votre paiement a bien été reçu et votre inscription à la RJ est validée.
</p>
<% else %>
<p>
  Votre inscription pour la RJ a été reçue. Une facture vous parviendra dans les prochains jours. Une fois payée, votre inscription sera validée.
</p>
<% end %>

<%= render "order_mailer/records/rj/summary" %>

<p>
  <br>
  Pour tout complément d'information ou problème, tu peux envoyer un email à l'adresse inscriptions@rencontredejeunesse.ch</p>
</p>

<p>Nous nous réjouissons de te voir le 4 mai 2018 ! </p>
