<h1>Inscription de groupe</h1>
<h6>
  Tu as demandé à inscrire un groupe de 15 personnes ou plus à la Rencontre de jeunesse.
</h6>
<p>
  Tu trouveras joint à cette email un tableur Excel©. Remplis ce document avec les participants que tu souhaites inscrire ainsi que le nombre de lits que tu souhaites. Tu peux également engager ton groupe à être bénévole dans un secteur.
</p>
<p>
  Renvoie finalement le document à inscription@rencontredejeunesse.ch avec comme objet <i><a href="mailto:inscription@rencontredejeunesse.ch?subject=Commande de groupe <%= @order.order_id %>">Commande de groupe <%= @order.order_id %></a></i>.<br>
  Tu recevras ensuite une facture personnalisée. Une fois payée, l'inscription de ton groupe sera validée.
</p>
