<section id="registration">

  <div class="section-container">
    <div class="title">
      <h2>Inscris-<br>toi</h2>
    </div>

    <div class="right">
      <div class="text">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
          </p>
      </div>

      <div class="offers">
        <div class="offer">
          <p class="price">50.-</p>
          <p class="date">Du xx au xx mois<br>Paiement avant le XX</p>
          <button class="disabled">S'inscrire</button>
        </div>
        <div class="offer">
          <p class="price">50.-</p>
          <p class="date">Du xx au xx mois<br>Paiement avant le XX</p>
          <a class="disabled" href="#">S'Inscrire</a>
        </div>
        <div class="offer">
          <p class="price">50.-</p>
          <p class="date">Du xx au xx mois<br>Paiement avant le XX</p>
          <a href="#">S'Inscrire</a>
        </div>
      </div>
      <div class="faq">
        <a href="#">FAQ</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      </div>
    </div>

    <div class="brush-1">
      <%= render "pages/rj/2019/brushes/b4" %>
    </div>
    <div class="brush-2">
      <%= render "pages/rj/2019/brushes/b5" %>
    </div>
    
  </div>

  <div class="banner">
  </div>

</section>