<section id="welcome">

  <div class="section-container">
    <div class="text">
      <p>3-5 mai 2019</p>
      <p>Bulle - Suisse</p>
      <p>David Pothier</p>
      <p>Mattheus Van Der Steen</p>
      <p>Hillsong France</p>
      <p>CDV Neuchâtel</p>
    </div>

    <div class="brush-1">
      <%= render "pages/rj/2019/brushes/b6" %>
    </div>
    <div class="brush-2">
      <%= render "pages/rj/2019/brushes/b7" %>
    </div>
    <div class="brush-3">
      <%= render "pages/rj/2019/brushes/b8" %>
    </div>
  </div>

</section>