---
---

<section class="cont">
  <div class="section-container">
    <h2>UN GRAND MERCI AUX BÉNÉVOLES DE LA RJ 2022</h2>
    <p>
      Quelle RJ incroyable nous avons eu ! Cette conférence a été une grande
      réussite, tellement de vies ont été transformées et des personnes ont été
      inspirées et encouragées.
    </p>
    <p>
      Nous voudrions dire encore un très grand merci à tous nos bénévoles qui,
      année après année, servent sans relâche pendant tout le week-end de la RJ.
      Nous ne pourrions pas le faire sans eux. Ils ont voyagé de près comme de
      loin afin de rendre cet événement possible et nous en sommes infiniment
      reconnaissants.
    </p>
    <p>
      En tant qu’organisateurs, nous sommes tellement impatients de servir
      bientôt avec vous lors de la prochaine RJ.
    </p>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section.cont {
    background-image: url("/volunteers/thanks/background.jpg");
    background-size: cover;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .section-container {
      height: 100%;
      width: 100%;
      max-width: $main-width;
      padding: 150px $main-padding;
      color: #fff;
      text-align: center;

      h2 {
        font-size: $sub-title;
        padding: 0 0 40px 0;
      }

      p {
        font-size: $large-text;
        padding: 10px $sub-padding 0 $sub-padding;
        line-height: 1.6em;
      }
    }
  }
</style>
