<section id="covid19">
    <div class="banner">
        <h1>Annonce</h1>
    </div>
    <div class="section-container">
        <p>
            La Rencontre de Jeunesse (RJ) est contrainte d’annuler son édition 2020
        </p>
        <p>
            En raison des réglementations cantonales et fédérales suisses liées à la pandémie du Coronavirus, nous sommes tristes et désolés de devoir vous annoncer que la RJ est contrainte d'annuler son édition 2020 qui devait avoir lieu du 1 au 3 mai à Bulle (FR).
        </p>
        <p>
            Plus d'informations pratiques, notamment concernant les inscriptions, seront annoncées prochainement.
        </p>
        <p>
            Ensemble, prions pour la situation, les malades, les autorités et plaçons notre confiance en Dieu.
        </p>
    </div>
</section>