<section id="covid19">
    <div class="banner">
        <h1>Annonce</h1>
    </div>
    <div class="section-container">
        <h2>Annulation RJ 2020 - Faire un don</h2>
        <p>
            En raison des réglementations cantonales et fédérales suisses liées à la pandémie du Coronavirus, nous sommes tristes et désolés de devoir vous annoncer que la RJ est contrainte d’annuler son édition 2020 qui devait avoir lieu du 1er au 3 mai à Bulle (FR).
        </p>
        <p>
            La RJ génère le 90 % de ses recettes grâce aux ventes de billets. Cette annulation met donc la RJ dans une position difficile. En effet, les frais déjà engagés et irrécupérables pour l’édition 2020 sont déjà importants.
        </p>
        <p>
            Si le cœur t’en dit, tu as la possibilité de faire un don qui permettrait de pérenniser l’organisation des prochaines RJ. Tout soutien est bienvenu ! 
        </p>

        <p class="account">
            Rencontre de jeunesse, 1607 Palézieux<br>
            IBAN CH91 0900 0000 1717 2886 0
        </p>

        <p>
            La RJ remercie du fond du cœur tous ses bénévoles qui ont soutenu et investi du temps jusqu’ici. Un grand merci à tous les participants qui nous motivent à avancer. On a hâte de tous vous retrouver du vendredi 30 avril au dimanche 2 mai 2021 et de vivre ce que Dieu nous réserve.<br>
            Prenez soin de vous !
        </p>
    <div>

    </div>
</section>