<section id="guest">

  <div class="section-container">
    <div class="left">
      <p>Invités</p>
    </div>

    <div class="right">
      <div class="description">
        <div class="element">
          <h3>Teo Hayashi</h3>
          <p>
            Teo Hayashi est le fondateur du <a target="_blank" href="http://dunamismovement.com/teo-hayashi/">Mouvement Dunamis</a> (projet missionnaire dans les universités) et il fait partie des organisateurs des rassemblements « <a target="_blank" href="https://thesend.org/">The Send</a> ». Le dernier a réuni 140’000 personnes sur trois stades au Brésil, ainsi que plus d’un million de participants en ligne !
          </p>
          <p>
            Teo Hayashi s'investit pour lever des leaders qui amènent le Royaume de Dieu sur terre, et il inspire les jeunes de nombreux pays à vivre et répandre l’évangile ! Après avoir été avec JEM en Asie et pasteur en Caroline du Nord, il est actuellement pasteur à São Paulo où il vit avec sa femme Junia et ses deux enfants : Zach et Koa. C’est un honneur pour nous de le recevoir à la RJ2020 et on se réjouit de l’entendre prêcher l’amour de Jésus et la puissance du Saint-Esprit !
          </p>
        </div>
      </div>
    </div>
  <div>
</section>