<section id="welcome">

  <div class="section-container">
    <div class="left">
        <p class="a">parce qu'Il</p>
        <p class="b">nous</p>
        <p class="c">a aimés le</p>
        <p class="d">prem1er</p>
    </div>

    <div class="right">

      <div class="orators">
        <b>Orateurs</b><br>
        Teo Hayashi (Brésil)<br>
        Yves Bulundwe (Suisse)<br>
        <b>Louange</b><br>
        Horizon Music (Paris)<br>
        GCOron Worship (Suisse)
      </div>

      <div class="info-wrapper">
        <div class="info">
          01 - 03 mai 2020<br>
          Bulle - Suisse<br>
          rencontredejeunesse.ch
        </div>
        <div class="logo">
          <%= image_tag "rj/2020/welcome/logo.png" %>
        </div>
      </div>

      <div class="subscribe">
        <a href="#registration">S'inscrire</a>
      </div>
      <p class="info-subscribe">
        «Mais nous, nous aimons, parce que Dieu nous a aimés le premier.» 1 Jean 4.19
        <br><br>
        Son amour est parfait. Et par son amour on peut l’aimer, on peut aimer les autres et on 
        peut s’aimer soi-même. Par son sacrifice parfait nous sommes capable de vivre son plus grand commandement.
      </p>


    </div>
  </div>

</section>