<section id="welcome">

  <div class="section-container">
    <div class="left">
        <p class="a">parce qu'Il</p>
        <p class="b">nous</p>
        <p class="c">a aimés le</p>
        <p class="d">prem1er</p>
    </div>

    <div class="right">

      <div class="orators">
        Orateurs<br>
        Teo Ayashi (Brésil)<br>
        Yves Bulundwe (Suisse)<br>
        Louange<br>
        Horizon Music (Paris)<br>
        GCO Worship (Suisse)
      </div>

      <div class="info-wrapper">
        <div class="info">
          01 - 03 mai 2020<br>
          Bulle - Suisse<br>
          rencontredejeunesse.ch
        </div>
        <div class="logo">
          <img src="assets/rj/2020/welcome/logo.png">
        </div>
      </div>

      <div class="subscribe">
        <a href="#">S'inscrire</a>
      </div>
      <p class="info-subscribe">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>

  <div class="nice-image">
  </div>

</section>