#container section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 40px 0 50px 0;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; /* safari bug fixes */
}
#container section.red-line:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: red;
  height: 1px;
}
  #container section .section-content {
    width: 1000px;
  }

  /*
   * Responsiveness
   */
  @media (max-width: 900px)
  {
    #container section .section-content {
      width: 100% !important;
    }
    #container section .section-content > p {
      padding: 20px !important;
    }
  }
