#container section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 80px 0 50px 0;
}
  #container section .section-content {
    width: 1000px;
  }

  /*
   * Responsiveness
   */
  @media (max-width: 900px)
  {
    #container section .section-content {
      width: 100% !important;
    }
    #container section .section-content > p {
      padding: 20px !important;
    }
  }
