#topbar {
  z-index: 3;
  /* Fix safari bug */
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
  #topbar nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(214,214,214,0.8);
    height: 70px;
  }
    #topbar nav img {
      cursor: pointer;
    }
    #topbar nav img.logo {
      height: 50px;
      margin: 10px 0;
    }
    #topbar nav a {
      text-transform: uppercase;
      background-color: #fff;
      color: #000;
      padding: 0 20px;
      line-height: 0;
      max-height: 100%;
    }
      #topbar nav a.active, #topbar nav a:hover {
        font-weight: bold;
        text-decoration: overline;
      }
      /* Prevents text shifting with bold hover */
      #topbar nav a:after {
        display:block;
        content:attr(title);
        font-weight:bold;
        visibility:hidden;
        font-size: 1.02em;
      }

    #topbar nav button {
      display: none;
      background: none;
      border: none;
    }
    #topbar nav button.cross {
      position: absolute;
      top: 20px;
      right: 20px;
    }

/*
 * When mobile menu is open
 */
#topbar.open nav a:not(:first-of-type) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: right;
  padding: 20px;
  display: block;
  border-top: 1px solid #BFBFBF;
}
#topbar.open button.burger {
  display: none;
}
#topbar.open nav button.cross {
  display: block;
}
  #topbar.open nav button.cross img {
    width: initial !important;
  }

/*
 * When header is fixed
 */
 body.fixed #topbar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
 }

/*
 * Responsiveness
 */
@media (max-width: 1000px)
{
   #topbar nav a {
     padding: 0 10px;
   }
 }
@media (max-width: 900px)
{
  #topbar nav {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  /* reducing logo's size */
  #topbar nav img.logo {
    width: 50px !important;
  }
  /* hiding menu except logo */
  #topbar nav a:not(:first-of-type) {
    display: none;
  }
  /* displaying the burger */
  #topbar nav button.burger {
    display: block;
  }
}
