<h1>Bienvenue sur RJ Connect</h1>
<h2>Tu as créé un compte Rencontre de Jeunesse</h2>
<p>Félicitations pour la création de ton compte sur rencontredejeunesse.ch. Celui-ci te permet de faire des commandes, de les suivre sur l'espace client, de t'engager comme bénévole et t'octroie plein d'autres avantages !</p>
<p>Mais avant d'accéder aux pleines fonctionnalités du compte RJ, tu dois d'abord confirmer ton email en suivant le lien ci-dessous :</p>

<table class="row">
  <tbody>
    <tr>
      <column>
        <table class="button expanded">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center data-parsed=""><%= link_to "Confirmer mon compte", edit_users_verification_url(@user.verify_token) %></center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </column>
    </tr>
  </tbody>
</table>
