<h2>Tu as oublié ton mot de passe !</h2>
<p>Pour réinitialiser ton mot de passe, clique sur le lien suivant et suis les instructions:<br>
<%= link_to "Réinitialiser", edit_users_password_reset_url(@user.reset_token) %></p>
<p>A bientôt sur le RJ Connect !</p>
