---
import { SlideShow } from "../Slideshow";
---

<section class="cont">
  <div class="section-container">
    <div class="row-title">
      <div class="first-half"></div>
      <div class="second-half">
        <h2>Top 30</h2>
      </div>
    </div>

    <SlideShow
      client:load
      imagesFolder="/highlights/top20/images"
      numImages="30"
    />
  </div>

  <div class="banner"></div>
</section>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/button-bar";

  section.cont {
    .section-container {
      max-width: $main-width;
      padding: 0 $main-padding;
      margin: auto;

      display: flex;
      flex-direction: column;

      div.row-title {
        display: flex;
        flex-direction: row;

        div.first-half {
          flex: 1;
        }

        div.second-half {
          flex: 1;
          width: 60%;
          padding: 0 70px 40px 0;

          background: #f56953; /* Old browsers */
          background: -moz-linear-gradient(
            45deg,
            #f56953 0%,
            #5c35a1 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            45deg,
            #f56953 0%,
            #5c35a1 100%
          ); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(
            45deg,
            #f56953 0%,
            #5c35a1 100%
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f56953', endColorstr='#5c35a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

          h2 {
            font-size: $title-size;
            color: #fff;
            background-color: #000;
            line-height: 0.9em;
            padding: 30px 30px;
            transform: translate(-40%);
            width: 120%;
          }
        }
      }
    }

    div.banner {
      background-image: url("/highlights/top20/banner.jpg");
      background-size: cover;
      background-position-y: center;
      height: 300px;
      width: 100%;
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        div.row-title {
          flex-direction: column !important;

          div.first-half {
            flex: 0 !important;
          }

          div.second-half {
            flex: 1 !important;
            width: 100% !important;
            padding: 0 0 40px 0 !important;

            h2 {
              transform: translate(-5%) !important;
              width: 100% !important;
            }
          }
        }

        div.row-text {
          flex-direction: column !important;
        }
      }
    }
  }
</style>
