@import "../components/variables";

#container.mob-application {
  min-height: 100%;
  background-color: rgb(46, 46, 46);
  color: #fff;

  section#main-mob-application {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .section-container {
      height: 100%;
      width: 100%;
      max-width: $main-width;
      padding: $logo-burger-height $main-padding 50px $main-padding;

      p.logos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
      }
    }
  }
}