@import "../components/variables";

#container.privacy {
  min-height: 100%;
  background-color: rgb(46, 46, 46);
  color: #fff;

  section#main-privacy {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .section-container {
      height: 100%;
      width: 100%;
      max-width: $main-width;
      padding: $logo-burger-height $main-padding 50px $main-padding;

      h3 {
        font-family: "Helvetica neue", "Helvetica", sans-serif;
        padding: 50px 0 30px 0;
      }

      p {
        font-family: "Helvetica neue", "Helvetica", sans-serif;
        padding: 15px 0 10px 0;
        line-height: 1.5em;
      }
    }
  }
}