#container.signin {

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;

    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    input {
      height: 27px;
      margin: 8px 0;
    }

    .columns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;

      margin: 0 10px 15px 10px;
    }

    .labels {
      text-align: right;
    }

    button[type=submit] {
      background-color: #00AEE9;
      padding: 5px 60px;
      margin: 20px 0;
      color: white;
      box-sizing: content-box;
      border: none;

      &:hover {
        background-color: #36ccff;
      }
    }
  }

}
