#container.vitrine {
  text-align: center;
  font-family: didot;
  overflow: hidden;

  .background {
    z-index: -100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    video, source {
      width: 100%;
    }
  }

  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    & > div {
      flex: 1;
      & > .inner-wrap {
        display: inline-block;
      }
    }
    .center {
      color: #fff;
      .inner-wrap {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        transition: .1s;
        position: relative;

        img {
          padding: 0 0 30px 0;
        }

        #pulse {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #000;
          border-radius: 50%;
          animation: pulse 5s ease-out;
          animation-iteration-count: infinite;
          animation-delay: 5s;
          opacity: 0;
        }

        #soon {
          cursor: pointer;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #000;
          color: #fff;
          border-radius: 50%;
          padding: 170px 0 0 0;
          transition: transform 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000), opacity .4s .3s;
          transform-origin: top;
          &.open {
            transform-origin: top;
            transform: rotate(-100deg);
            // opacity: .2;
          }
        }
        #behind {
          cursor: pointer;
          position: absolute;
          z-index: 1;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          background: #fff;
          color: #000;
          font-size: 30px;
          font-weight: bold;
          padding: 135px 60px;
          border-radius: 50%;
          border: 2px solid #000;
        }
      }
    }
    .right {
      text-align: center;
      min-width: 250px;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 2em;
      .inner-wrap {
        text-align: right;
      }
    }
  }

}

/* Animation */

@keyframes pulse {
 0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
 4% {
    -webkit-transform: scale(1);
    opacity: 0.1;
 }
 8% {
    -webkit-transform: scale(1.05);
    opacity: 0.2;
 }
 13% {
    -webkit-transform: scale(1.1);
    opacity: 0.2;
 }
 17% {
    -webkit-transform: scale(1.15);
    opacity: 0.0;
 }
}

/* Mobile compatibility */

@media (max-width: 800px) {
  .left {
    display: none;
  }
}
