#container.vitrine {
  text-align: center;
  overflow-x: hidden;
  font-family: didot, 'Arial', serif;

  div.login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.9em;
    position: absolute;
    right: 5px;
    bottom: 10px;
  }

  div.login span {
    margin-left: 5px;
  }

  div.login img {
    margin-left: 5px;
  }

  div.login img:hover {
    cursor: pointer;
  }

  // .background {
  //   z-index: -100;
  //   position: fixed;
  //   width: 100vw;
  //   height: 100vh;
  //   video, source {
  //     height: 100%;
  //     width: 100%;
  //     -o-object-fit: cover;
  //        object-fit: cover;
  //   }
  // }

video {
  position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}

  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    & > div {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      & > .inner-wrap {
        display: inline-block;
      }
    }
    .center {
      color: #fff;
      margin: 0 50px;
      .inner-wrap {
        width: 400px;
        height: 400px;
        max-width: 100%;
        border-radius: 50%;
        -webkit-transition: .1s;
        transition: .1s;
        position: relative;

        img {
          padding: 0 0 30px 0;
        }

        #pulse {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #000;
          border-radius: 50%;
          -webkit-animation: pulse 5s ease-out;
                  animation: pulse 5s ease-out;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;
          -webkit-animation-delay: 5s;
                  animation-delay: 5s;
          opacity: 0;
        }

        #soon {
          cursor: pointer;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #000;
          color: #fff;

          border-radius: 50%;
          border-radius: 200px;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;

          padding: 170px 0 0 0;
          -webkit-transition: opacity .4s .3s, -webkit-transform 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
          transition: opacity .4s .3s, -webkit-transform 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
          transition: transform 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000), opacity .4s .3s;
          transition: transform 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000), opacity .4s .3s, -webkit-transform 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
          -webkit-transform-origin: top;
                  transform-origin: top;
          &.open {
            -webkit-transform-origin: top;
                    transform-origin: top;
            -webkit-transform: rotate(-100deg);
                    transform: rotate(-100deg);
            /* opacity: .2;*/
          }
        }
        #behind {
          cursor: pointer;
          position: absolute;
          z-index: 1;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 20px;
          background: #fff;
          color: #000;
          font-size: 30px;
          font-weight: bold;
          padding: 135px 60px;

          border-radius: 50%;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-radius: 200px;

          border: 2px solid #000;
        }
      }
    }
    .right {
      text-align: center;
      min-width: 250px;
      font-size: 30px;
      text-transform: uppercase;
      line-height: 2em;
      .inner-wrap {
        text-align: right;
      }
    }
  }

}

/* Animation */

@-webkit-keyframes pulse {
 0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
 4% {
    -webkit-transform: scale(1);
    opacity: 0.1;
 }
 8% {
    -webkit-transform: scale(1.05);
    opacity: 0.2;
 }
 13% {
    -webkit-transform: scale(1.1);
    opacity: 0.2;
 }
 17% {
    -webkit-transform: scale(1.15);
    opacity: 0.0;
 }
}

@keyframes pulse {
 0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
 4% {
    -webkit-transform: scale(1);
    opacity: 0.1;
 }
 8% {
    -webkit-transform: scale(1.05);
    opacity: 0.2;
 }
 13% {
    -webkit-transform: scale(1.1);
    opacity: 0.2;
 }
 17% {
    -webkit-transform: scale(1.15);
    opacity: 0.0;
 }
}

/* Crappy stuff, hide play button on iOS */

video::-webkit-media-controls {
    display:none !important;
}

video {
    &::-webkit-media-controls {
        display:none !important;
    }

    &::-webkit-media-controls-start-playback-button {
        display: none!important;
        -webkit-appearance: none;
    }
}

/* Crappy stuff, hide blue shadow on mobile */

// -webkit-tap-highlight-color: rgba(0,0,0,0);
// -webkit-tap-highlight-color: transparent;

/* Mobile compatibility */

@media (max-width: 800px) {
  #container.vitrine {
    .left {
      display: none;
    }
    .center, .right {
      width: 100% !important;
      -webkit-box-flex: 1 !important;
          -ms-flex: 1 0 100% !important;
              flex: 1 0 100% !important;
    }
  }
  html {
    background: image-url('vitrine/smoke.png');
    background-size: cover;
  }
  video {
    display: none !important;
  }
}

@media (max-width: 420px) {
  .center {
    .inner-wrap {
      width: 300px !important;
      height: 300px !important;
    }
  }
  #soon {
    padding: 90px 0 0 0 !important;
    border-radius: 150px !important;
  }
  #behind {
    padding: 80px 60px !important;
    font-size: 25px !important;
    border-radius: 150px !important;
  }
}
