<header id="connect-header">
  <div class="left">
    <%= link_to (image_tag "connect/layout/logo.png", class: "logo"), connect_root_path %>
    <a href="/" class="back">← Site RJ</a>
  </div>
  <div class="right">
    <%= link_to signout_path, method: :delete do %>
      <%= image_tag "connect/layout/logout.svg", class: "logout" %>
    <% end %>
  </div>
</header>