section#about {
  color: #3d44ac;
}
  #about .split4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .split4 p {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px 0;
  }

  section#about .lightbox-wrap .lightbox:nth-child(1) .img {
    background-image: url('../../images/lightbox/banner_RJ.png');
  }
  section#about .lightbox-wrap .lightbox:nth-child(2) .img {
    background-image: url('../../images/lightbox/banner_activities.png');
  }
  section#about .lightbox-wrap .lightbox:nth-child(3) .img {
    background-image: url('../../images/lightbox/banner_espace_G.png');
  }
  section#about .lightbox-wrap .lightbox:nth-child(4) .img {
    background-image: url('../../images/lightbox/banner_FAQ.png');
  }
