section#about {
  color: #3d44ac;
}
  section#about:before {
    content: none !important;
  }
  #about .split4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .split4 p {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px 0;
  }

.lightbox .img {
  background-size: cover !important;
}
  #about-1 .lightbox .img {
    background-image: url('../../images/lightbox/banner_RJ.png');
  }
  #about-2 .lightbox .img {
    background-image: url('../../images/lightbox/banner_activites.png');
  }
  #about-3 .lightbox .img {
    background-image: url('../../images/lightbox/banner_espace_G.png');
  }
  #about-4 .lightbox .img {
    background-image: url('../../images/lightbox/banner_FAQ.png');
  }

  section#about .img {
    height: 230px;
    background-size: cover;
  }
    section#about .split4:nth-of-type(1) .img {
      background-image: url('../../images/pictures/la_rj.jpg');
    }
    section#about .split4:nth-of-type(2) .img {
      background-image: url('../../images/pictures/activites.jpg');
    }
    section#about .split4:nth-of-type(3) .img {
      background-image: url('../../images/pictures/espaceg.jpg');
    }
    section#about .split4:nth-of-type(4) .img {
      background-image: url('../../images/pictures/faq.jpg');
    }
