section#benevoles {
  background-image: url('../../images/benevoles/benevoles.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
}
  section#benevoles p {
    background: #fff;
    padding: 20px;
  }

    section#benevoles p a.button {
     text-transform: uppercase;
     text-decoration: none !important;
     color: white;
     width: 50%
    }
