#inscriptions {
  background-color: #4dc0a1;
  background-image: url("../../images/layout/coralie_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

  #inscriptions .pre {
    padding: 0 0 90px 0;
    text-align: center;
  }

  #inscriptions .split3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 300px;
    text-align: center;
    padding: 20px 40px;
    flex-basis: 280px;
  }
  #inscriptions .split3 .middle span {
    font-size: 3.5em;
    font-family: 'futura';
  }
  #inscriptions .split3 .bottom p {
    text-transform: uppercase;
  }
  #inscriptions .split3.disabled {
    color: #A2A2A2;
  }
    #inscriptions .split3.disabled a {
      pointer-events: none;
      cursor: default;
      color: #A2A2A2;
    }
