#programmation {
  background: #000;
  -webkit-font-smoothing: antialiased;
}
#programmation h1 {
  color: #fff;
}

#programmation .big {
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
#programmation .mid {
  font-size: 1.1em;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#programmation .tabs .tab-content .row > div {
  padding: 10px 20px;
}
