section#vision16 {
  background-color: #FA5456;
  color: white;
  padding-bottom: 0;
  -webkit-font-smoothing: antialiased;
}
  section#vision16 h1 {
    font-size: 1.5em;
    word-break: break-word;
  }
  section#vision16 .row .split2:first-of-type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#vision16 .row .split2:nth-of-type(2) {
    font-size: 0; /* Prevents empty space */
    position: relative;
  }
    section#vision16 .row .split2:nth-of-type(2) img {
      max-width: 100%;
    }
    section#vision16 .row .split2:nth-of-type(2) img.vision {
      position: absolute;
      top: 10%;
      right: 10%;
    }

/*
 * Responsiveness
 */
@media (max-width: 900px)
{
  section#vision16 .row {
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
  }
  section#vision16 .row .split2:nth-of-type(2) img.vision {
    top: 0;
    left: 0;
    width: 100%;
  }
}
