---
---

<section>

</section>
  
  <style lang="scss">
    @import "../../styles/variables";
  
    section {
      background-size: cover;
  
      width: 100%;
      height: min(400px, 100vh);
      margin-bottom: -20px;

      background: url('/2025/background.png');
      background-size: contain;
      background-repeat: repeat-x;
      background-position: bottom;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  