---
---
<section id="inscription">
    <div class="section-container">
        <h2>INSCRIPTION</h2>
        <div class="columns">
           <div class="column">
                <p class="head"></p>
                <p>Vendredi soir</p>
                <p>Samedi journée</p>
                <p>Samedi soir</p>
                <p>Weekend</p>
           </div>
           <div class="column">
                <p class="head">en ligne</p>
                <p>30.-</p>
                <p>40.-</p>
                <p>30.-</p>
                <p>60.-</p>
           </div>
           <div class="column">
                <p class="head">sur place<br>dès 26.04</p>
                <p>40.-</p>
                <p>50.-</p>
                <p>40.-</p>
                <p>70.-</p>
           </div>
        </div>
        <p class="information">Cette année, tu as la possibilité de précommander un T-shirt de la RJ pour 39 CHF. Commande aujourd'hui, et reçois ensuite ton T-shirt lors du weekend de la RJ ! Tu peux voir les T-shirt sur notre <a href="" target="_blank">Instagram</a>.</p>
        <div class="register">
            <a href="https://tickets.rencontredejeunesse.ch/orders/rj-25/events/new">S'inscrire</a>
            <a href="https://tickets.rencontredejeunesse.ch/order_bundles/rj-tshirt-25/option_orders/new">S'inscrire avec un T-SHIRT</a>
        </div>
    </div>
</section>

<style lang="scss">
    @import "../../styles/variables";
    
    section {
        background-size: cover;
    
        width: 100%;
        max-width: $main-width;
        display: flex;
        justify-content: center;
        
        padding: 20px;
        position: relative;
        margin: $blank-space 0;
        height: 200%;
        min-height: fit-content;

        h2 {
            margin: 0 0 40px 0;
            font-size: 40px;
            text-align: center;
        }

        .columns {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-weight: bold;
            font-size: 30px;

            .column {
                margin: 0 40px 0 40px;
                display: flex;
                flex-direction: column;

                p {
                    margin: 0 0 6px 0;

                    &.head {
                        font-style: italic;
                        height: 60px;
                        font-size: 20px;
                    }
                }

            }
        }

        .information {
            text-align: center;
            max-width: 600px;
            margin: 60px 0 40px 0;
        }

        .register {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            a {
                color: #fff;
                font-weight: bold;
                font-size: 20px;
                padding: 10px 20px;
                margin: 0 15px 0 15px;
                border: none;
                border-radius: 20px;
                background: #fad45b;
            }
        }
       
    }

    @media screen and (max-width: $mobile-width) {

        .columns {
            font-size: 20px !important;

            .column {
                margin: 0 20px 0 20px !important;
            }
        }

        .register {
            flex-direction: column;

            a {
                margin: 15px !important;
            }
        } 
    }
</style>
      