---
---

<section>
    <div class="section-container">
        <img src="/2025/textures/Brush_Bl6.png" class="section-background">
        <h2>GROUPES DE LOUANGE</h2>
        <div>
            <div>
                <img src="/2025/speakers/reichor.png" alt="">
                <span>Darja Reichör</span> 
            </div>
            <div>
                <img src="/2025/speakers/bamenaw.png" alt="">
                <span>David Bamenaw</span> 
            </div>
            <div>
                <img src="/2025/speakers/bader.png" alt="">
                <span>Jérémie Bader</span> 
            </div>
            <div>
                <img src="/2025/speakers/bingono.png" alt="">
                <span>Luc Berlrand Bingono</span> 
            </div>
        </div>
        <div></div>
    </div>
</section>

<style lang="scss">
@import "../../styles/variables";

section {
    background-size: cover;

    width: 100%;
    max-width: $main-width;
    display: flex;
    justify-content: center;
    
    padding: 20px;
    position: relative;
    color: #fad45b;
    margin: $blank-space 0;
    height: 200%;
    min-height: fit-content;

    .section-background {
        z-index: -10;
        opacity: 0.6;
        position: absolute;
        height: 100%;
        width: auto;
        aspect-ratio: 2000 / 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & > div {
        margin: 40px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: $main-width;
        flex-direction: column;
        gap: 40px;
        min-height: fit-content;

        h2 {
            margin: 0px;
            font-size: 40px;
        }

        img {
            width: 150px;
        }

        & > div {
            display: flex;
            justify-content: center;
            gap: 40px;
            width: 100%;
            max-width: 800px;
            font-size: 20px;
            flex-wrap: wrap;

            & > div {
                max-width: max(20%, 150px);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }

            span {
                width: 130px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}
</style>
  