---
---

<section>
    <div>
        <img src="/2025/maps/tavannes.png" alt="Tavannes">
        <span>TAVANNES</span>
        <div>
            <p>
                Centre évangélique Tavannes<br>
                <a href="https://maps.app.goo.gl/ZnJorwbkB15WiPSj7?g_st=com.google.maps.preview.copy" target="_blank">La Combe 10, 2710 Tavannes</a>                
            </p>
        </div>
    </div>
    <div>
        <img src="/2025/maps/oron.png" alt="Tavannes">
        <span>ORON</span>
        <div>
            <p>
                Gospel Center Oron<br>
                <a href="https://maps.app.goo.gl/MF3gEyH7kDjS5zV1A?g_st=com.google.maps.preview.copy" target="_blank">Rte du Flon 28, 1610 Oron</a>
            </p>
        </div>
    </div>
    <div>
        <img src="/2025/maps/aigle.png" alt="Tavannes">
        <span>AIGLE</span>
        <div>
            <p>
                Eglise Evangélique de Châble-Croix<br>
                <a href="https://maps.app.goo.gl/LfLj8SJ3TGkbDGKq5?g_st=com.google.maps.preview.copy" target="_blank">Chem. de Marjolin 71, 1860 Aigle</a>
            </p>
        </div>
    </div>
    <div>
        <img src="/2025/maps/ambilly.png" alt="Tavannes">
        <span>AMBILLY</span>
        <div>
            <p>
                Église Évangélique d'Élim Centre vie et foi<br>
                <a href="https://maps.app.goo.gl/ocNUPMUv68ZLPiTC6?g_st=com.google.maps.preview.copy" target="_blank">1 Rue des Saules, 74100 Ambilly, France</a>
            </p>
        </div>
    </div>
</section>

<style lang="scss">
@import "../../styles/variables";

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 20px;
    max-width: 1300px;
    margin: $blank-space 0;

    & > div {
        width: min(100%, 600px);
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            margin-bottom: -30px;
        }
        span {
            font-size: 50px;
            font-weight: bold;
            color: #fad45b;
        }

        & > div {
            margin-top: 20px;
            width: 100%;
            p {
                text-align: center;
                a {
                    color: #fad45b;
                }
            }
        }
    }
}
</style>
  