<section id="programme">

  <div class="section-container">
    <div class="title">
      <h2>Programmation</h2>
    </div>
    <div class="content">
      <h3 class="date">4-6 mai</h3>
      <div class="guests">
        <div class="guest">
          <%= image_tag "rj/2018/programme/david.jpg" %>
          <h3>Invite 1</h3>
          <p>Provenance</p>
        </div>
        <div class="guest">
          <%= image_tag "rj/2018/programme/david.jpg" %>
          <h3>Invite 1</h3>
          <p>Provenance</p>
        </div>
        <div class="guest">
          <%= image_tag "rj/2018/programme/david.jpg" %>
          <h3>Invite 1</h3>
          <p>Provenance</p>
        </div>
      </div>
    </div>
  </div>

</section>