<section id="programme">

  <div class="section-container">

    <div class="title">
      <div class="title-wrap">
        <h2>Programmation</h2>
      </div>
    </div>

    <div class="content">
      <div class="content-wrap">
        <h3 class="date">4-6 mai</h3>
        <div class="guests">
          <div class="guest">
            <%= image_tag "rj/2018/programme/patrice.jpg" %>
            <h3>Patrice Martorano</h3>
            <p>Pasteur de l'église Momentum, Bordeaux</p>
            <p class="see-more">Voir son parcours ↓</p>
            <div class="text">
              <p>
                Dan a été élevé dans une famille de musiciens. En 1996, il accepte Jésus comme son Sauveur et Seigneur et se consacre à Lui par le biais de la musique. Après avoir eu le privilège de participer à quelques albums de louange en 2007 il sort son premier album solo « Pour qui Tu es ». En mai 2010, après 9 années de « formation » au Québec, Alice et lui pensent qu’il est temps de retourner en France. Aujourd’hui Dan travaille activement au service de Dieu dans l’Église Momentum, son album « Majestueux », est sorti en Janvier 2016.
              </p>
            </div>
          </div>
          <div class="guest">
            <%= image_tag "rj/2018/programme/dan.jpg" %>
            <h3>Dan Luiten</h3>
            <p>Pasteur louange de l'église Momentum, Bordeaux</p>
            <p class="see-more">Voir son parcours ↓</p>
            <div class="text">
              <p>
                Patrice Martorano est le Pasteur principal de l’Église Momentum à Bordeaux. Il travaille à bâtir, avec son équipe et les dizaines de bénévoles, une église actuelle, passionnée et impliquée socialement. Son ministère inspire des milliers de chrétiens dans toute la francophonie au travers de la « Pensée du jour » sur le TopChrétien. Homme de vision, inspiré et encourageant, il a à cœur d’aider chacun à trouver sa véritable valeur aux yeux de Dieu. Son rêve est de former des leaders et d’établir une Eglise qui fait la différence dans cette génération. Sa devise ? Le meilleur est devant vous ! Il aime Dieu, sa famille et la vie. Il n’aime pas le mépris, l’indifférence et l’égoïsme.
                Lui, son épouse Roselyne et leurs trois enfants habitent dans la région bordelaise.
              </p>
            </div>
          </div>
          <div class="guest">
            <%= image_tag "rj/2018/programme/philipp.jpg" %>
            <h3>Philipp Schmerold</h3>
            <p>Ministère prophétique</p>
            <p class="see-more">Voir son parcours ↓</p>
            <div class="text">
              <p>
                Philipp J. Schmerold à un ministère prophétique, c’est un conférencier et un auteur de plusieurs livres. Il voyage à travers le monde pour son ministère, il a une grande passion pour Dieu, d’être Son ami et de le faire connaître. Il a soif de la présence du Saint-Esprit.
                Il est diplômé de l’école du Supernaturel à Bethel à Redding en Californie, il travaille avec Chris Overstreet et fais partie du collège Biblique de Rhema où il enseigne aux responsables de l’école.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
