<section id="registration">

  <div class="section-container">
    <div class="content">
      <div class="content-wrap">

        <p class="text-info">
          Le prix comprend le pass d’entrée pour le week-end. On te conseille de t’inscrire le plus vite possible pour profiter des rabais et pour assurer ta place.<br>
          Rejoins plus de 3200 jeunes pour amener la liberté dans cette génération !
        </p>

        <div class="prices">
          <div class="price">
            <h3>60.-</h3>
            <p>du 27.01 au 25.02 à minuit</p>
            <p><%= link_to "S'inscrire", "#" %></p>
          </div>
          <div class="price">
            <h3>75.-</h3>
            <p>du 26.02 au 22.04 à minuit</p>
            <p><%= link_to "S'inscrire", "#" %></p>
          </div>
          <div class="price">
            <h3>90.-</h3>
            <p>du 23.04 au 04.05</p>
            <p><%= link_to "S'inscrire", "#" %></p>
          </div>
        </div>

        <div class="address">
          <p>
            LIEU<br>
            Espace Gruyère SA<br>
            Rue de Vevey 136/144<br>
            Case postale 460<br>
            1630 Bulle
          </p>
        </div>

      </div>
    </div>

    <div class="title">
      <div class="title-wrap">
        <h2>Inscription</h2>
      </div>
    </div>
  </div>

</section>
