<section id="timetable">

  <div class="section-container">
    <div class="days">
      <h2>Vendredi</h2>
      <h2>Samedi</h2>
      <h2>Dimanche</h2>
      <h2>2019</h2>
    </div>
    <div class="times">
      <p><span>19h00</span>lorem ipsum dolor sit amet</p>
      <p><span>20h00</span>lorem ipsum dolor sit amet</p>
      <p><span>21h00</span>lorem ipsum dolor sit amet</p>
      <p><span>22h00</span>lorem ipsum dolor sit amet</p>
      <p><span>23h00</span>lorem ipsum dolor sit amet</p>
    </div>
  </div>

</section>