<section id="timetable">

  <div class="section-container">
    <div class="days" id="timetable-links">
      <h2 data-day="friday" class="active"><span>Vendredi</span></h2>
      <h2 data-day="saturday"><span>Samedi</span></h2>
      <h2 data-day="sunday"><span>Dimanche</span></h2>
    </div>
    <div class="times" id="timetable-content">
      <div class="friday active">
        <p><span>18h00</span><span>Accueil à l'extérieur</span></p>
        <p><span>18h30</span><span>Ouverture du village et du Fun Park</span></p>
        <p><span>19h45</span><span>Ouverture des portes</span></p>
        <p><span>20h15</span><span>Plénière avec Philipp Schmerold // Louange Dan Luiten</span></p>
        <p><span>22h30</span><span>Fin de la plénière</span></p>
        <p><span>00h30</span><span>Fermeture du village et du Fun Park</span></p>
      </div>

      <div class="saturday">
        <p><span>08h00</span><span>Ouverture du village et du Fun Park</span></p>
        <p><span>09h15</span><span>Ouverture des portes</span></p>
        <p><span>09h45</span><span>Plénière avec Patrice Martorano // Louange ECHO</span></p>
        <p><span>11h45</span><span>Fin de la plénière</span></p>
        <p><span>13h15</span><span>Ouverture des portes</span></p>
        <p><span>13h30</span><span>Atelier 1: St-Esprit, avec David Guyaz</span></p>
        <p><span>14h15</span><span>Pause</span></p>
        <p><span>14h30</span><span>Atelier 2: Des hommes et des femmes d'honneur, avec Philipp Schmerold</span></p>
        <p><span>15h15</span><span>Pause</span></p>
        <p><span>15h30</span><span>Atelier 3: Regard du Père / Identité, avec Yves Bulundwe</span></p>
        <p><span>16h15</span><span>Pause</span></p>
        <p><span>16h30</span><span>Atelier 4: Alliance, avec Majo Ekundayo</span></p>
        <p><span>16h30</span><span>Atelier 5: Mission (salle du 2ème étage), avec Philippe Saehr</span></p>
        <p><span>19h15</span><span>Ouverture des portes</span></p>
        <p><span>20h00</span><span>Plénière avec Patrice Martorano // Louange Dan Luiten</span></p>
        <p><span>22h30</span><span>Fin de la plénière</span></p>
        <p><span>22h45</span><span>Scène du village</span></p>
        <p><span>00h30</span><span>Fermeture du village et du Fun Park</span></p>
      </div>

      <div class="sunday">
        <p><span>08h00</span><span>Ouverture du village et du Fun Park</span></p>
        <p><span>09h15</span><span>Ouverture des portes</span></p>
        <p><span>09h45</span><span>Plénière avec Philipp Schmerold // Louange Dan Luiten</span></p>
        <p><span>11h30</span><span>Fin de la plénière</span></p>
        <p><span>13h15</span><span>Ouverture des portes</span></p>
        <p><span>13h30</span><span>Plénière avec Philipp Schmerold // Louange Dan Luiten</span></p>
        <p><span>15h00</span><span>FIN officielle</span></p>
      </div>
    </div>
  </div>

</section>
