<section id="timetable">

  <div class="section-container">
    <div class="days" id="timetable-links">
      <h2 data-day="friday" class="active">Vendredi</h2>
      <h2 data-day="saturday">Samedi</h2>
      <h2 data-day="sunday">Dimanche</h2>
    </div>
    <div class="times" id="timetable-content">
      <div class="friday active">
        <p><span>18h00</span>Accueil à l'extérieur</p>
        <p><span>18h30</span>Ouverture du village et du Fun Park</p>
        <p><span>19h45</span>Ouverture des portes</p>
        <p><span>20h15</span>Plénière</p>
        <p><span>22h30</span>Fin de la plénière</p>
        <p><span>00h30</span>Fermeture du village et du Fun Park</p>
      </div>

      <div class="saturday">
        <p><span>08h00</span>Ouverture du village et du Fun Park</p>
        <p><span>09h15</span>Ouverture des portes</p>
        <p><span>09h45</span>Plénière</p>
        <p><span>11h45</span>Fin de la plénière</p>
        <p><span>13h15</span>Ouverture des portes</p>
        <p><span>13h30</span>Atelier 1: Julien et Sandra Dubi, Love & Sex</p>
        <p><span>14h15</span>Pause</p>
        <p><span>14h30</span>Atelier 2: Luc Dumont, Découvrir et développer mon appel, salle principale</p>
        <p><span>14h30</span>Atelier 2: Alpha Jeune, Invite une génération à explorer la vie, la foi et Dieu, deuxième étage (salle de conférence)</p>
        <p><span>15h15</span>Pause</p>
        <p><span>15h30</span>Atelier 3: Ben Fitzgerald, Saint-Esprit</p>
        <p><span>16h15</span>Pause</p>
        <p><span>16h30</span>Atelier 4:  Samuel Grondin , Je ne me laisserai asservir par rien</p>
        <p><span>19h15</span>Ouverture des portes</p>
        <p><span>20h00</span>Plénière</p>
        <p><span>22h30</span>Fin de la plénière</p>
        <p><span>00h30</span>Fermeture du village et du Fun Park</p>
      </div>

      <div class="sunday">
        <p><span>08h00</span>Ouverture du village et du Fun Park</p>
        <p><span>09h15</span>Ouverture des portes</p>
        <p><span>10h00</span>Plénière</p>
        <p><span>11h30</span>Fin de la plénière</p>
        <p><span>13h00</span>Ouverture des portes</p>
        <p><span>13h15</span>Plénière</p>
        <p><span>14h30</span>FIN officielle</p>
      </div>
    </div>
  </div>

</section>
