<section id="video">

  <div class="section-container">
    <iframe width="100%" height="100%" 
      src="https://www.youtube-nocookie.com/embed/tJyMcfh5hiU?rel=0&amp;showinfo=0" 
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</section>