<section id="welcome">

  <div class="section-container">

    <div class="col1">
      <div class="title">
        <h1>Un Seul<br>Nom</h1>
      </div>
      <div class="date">
        <h2>4-6 mai<br>2018</h2>
      </div>
    </div>

    <div class="col2">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="col3">
      <div class="location">
        <h2>Bulle<br>Suisse</h2>
      </div>
    </div>

  </div>

</section>
