<h1>Badges</h1>

<ul>
  <li><%= link_to "Badges", admin_badges_path(format: "pdf"), method: :post %></li>
  <li><%= link_to "Badges bénévoles", volunteer_admin_badges_path(format: "pdf") %></li>
  <li><%= link_to "Badges équipiers", prayer_admin_badges_path(format: "pdf") %></li>
</ul>