@import "../../components/variables.scss";

#connect-container.users-edit {

  &::after, &::before {
    background-color: rgba(255, 255, 255, 0.9);
    // animation-delay: .4s;
    // animation-duration: 1s;
    // animation-name: background-opacity-fadein;
    // animation-fill-mode: forwards;
  }

  div.connect-container-wrapper{
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    // animation-delay: .4s;
    // animation-duration: 1s;
    // animation-name: background-opacity-fadein;
    // animation-fill-mode: forwards;  
  }
}

@keyframes background-opacity-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}