#connect-container.users-show {

  section.content-wrap {

    .avatar {
      text-align: center;
      padding: 10px 0 0 0;

      img {
        width: 85px;
      }
    }

    .name {
      font-size: 30px;
      font-weight: 200;
      color: #fff;
      text-align: center;
      padding: 20px 0 0 0;
    }

    .apps {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      padding: 100px 0 50px 0;
      
      .app {
        display: flex;
        justify-content: center;
        flex-direction: column;

        text-align: center;
        width: 90px;
        color: #fff;
        padding: 0 0 10px 0;

        .icon {
          width: 64px;
          height: 64px;
          background: red;
          background: linear-gradient(#FF2D55, rgb(226, 25, 62));
          border-radius: 16px;
          align-self: center;
          position: relative;

          img {
            width: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: .7;
          }
        }

        .app-name {
          padding: 10px 0 0 0;
          font-size: 12px;
        }
      }
    }
  }
}