#connect-container.users-show {
  div.connect-container-wrapper {
    .avatar {
      text-align: center;
      padding: 10px 0 0 0;

      img {
        width: 85px;
      }
    }

    .name {
      font-size: 30px;
      font-weight: 200;
      color: #fff;
      text-align: center;
      padding: 20px 0 60px 0;
    }

    p.update-required {
      text-align: center;
      background: yellow;
      color: #000;
      padding: 10px;
      border-radius: 7px;
      margin: 20px 0;
    }

    .apps {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      padding: 40px 0 50px 0;

      .app {
        display: flex;
        justify-content: center;
        flex-direction: column;

        text-align: center;
        width: 90px;
        color: #fff;
        padding: 0 0 10px 0;

        .icon {
          width: 64px;
          height: 64px;
          background: red;
          background: linear-gradient(#ff2d55, rgb(226, 25, 62));
          border-radius: 16px;
          align-self: center;
          position: relative;

          img {
            width: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
          }
        }

        .app-name {
          padding: 10px 0 0 0;
          font-size: 12px;
        }
      }
    }

    .corona-form-row {
      padding: 20px;
      background: rgba(255, 255, 255, 0.12);

      h2 {
        padding: 0 0 10px 0;
        font-weight: 200;
        font-size: 20px;
      }

      a {
        font-style: italic;
        color: #fff;
      }

      form {
        margin-top: 20px;
      }

      .row {
        padding: 10px;

        &.comment {
          display: flex;
          flex-direction: column;

          textarea {
            padding: 10px;
            margin: 5px 0 0 0;
          }
        }
      }

      p.title {
        text-align: left;
        padding: 0 0 10px 0;
      }

      input[type="submit"] {
        padding: 10px 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 4px 2px;
        border: none;
      }

      .radio > label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 3px 0;

        input {
          flex-shrink: 0;
          margin: 0 15px 0 0;
        }
      }
    }
  }
}
