<div class="home" id="render-wrap">
  <h1>Vous n'avez pas encore vérifié votre compte</h1>
  <p>Vous avez reçu un email afin de confirmer votre compte. Ouvrez celui-ci et suivez le lien "Confirmer mon compte" qui se trouve dans l'email. Vous pourrez ensuite accéder à toutes les fonctionnalités de votre compte.</p>
  <%= link_to "Renvoyer l'email de confirmation", new_users_verification_path, class: "link-button" %>
</div>