<section id="countdown">

  <div class="section-container">
    <div class="left">
      <p id="countdown-text"></p>
    </div>
    <div class="right">
      <p>49CHF</p>
    </div>
  </div>

</section>

<%= javascript_include_tag "countdown", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "standalone/rj/flash/countdown.js", 'data-turbolinks-track': 'reload' %>