<section id="header">

  <div class="section-container">

    <div class="poster"></div>
    <div class="title">
      <div class="title-wrapper">
        <a href="#"><h2>tarif<br>réduit</h2></a>
        <p>dès maintenant et pendant 48h</p>
      </div>
    </div>

  </div>

</section>
