---
---

<section>
  <div class="section-container">
    <div class="days">
      <div class="day">
        <h4>Vendredi soir</h4>
        <div class="timetable">
          <div class="line"><span>18h00</span><div><p>Ouverture de la billetterie</p></div></div>
          <div class="line"><span>18h30</span><div><p>Village des stands et fun zone</p></div></div>
          <div class="line"><span>19h30</span><div><p>Ouverture des portes</p><p>Plénière</p></div></div>
          <div class="line"><span>22h30</span><div><p>Fin plénière</p><p>After</p></div></div>
          <div class="line"><span>00h30</span><div><p>Fermeture</p></div></div>
        </div>
      </div>
      <div class="day">
        <h4>Samedi</h4>
        <div class="timetable">
          <div class="line"><span>07h00</span><div><p>Espace déjeuner</p></div></div>
          <div class="line"><span>09h30</span><div><p>Ouverture des portes</p><p>Plénière</p></div></div>
          <div class="line"><span>11h30 <span>jusqu'à</span> 19h00</span><div><p>Journée festival! Plusieurs activités, 25 ateliers, le village des stands, la fun zone, les artistes sur la scène libre</p></div></div>
          <div class="line"><span>22h30</span><div><p>Fin plénière</p><p>After</p></div></div>
          <div class="line"><span>00h30</span><div><p>Fermeture</p></div></div>
        </div>
      </div>
      <div class="day">
        <h4>Dimanche</h4>
        <div class="timetable">
          <div class="line"><span>07h00</span><div><p>Espace déjeuner</p></div></div>
          <div class="line"><span>09h30</span><div><p>Ouverture des portes</p><p>Plénière</p></div></div>
          <div class="line"><span>14h00</span><div><p>Concert</p></div></div>
          <div class="line"><span>16h00</span><div><p>Fin officielle</p></div></div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section {
    color: #507d82;
    font-family: lato, sans-serif;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;

    .section-container {
      max-width: $main-width;
      padding: 80px 50px;
      overflow: auto;
      .days {
        display: flex;
        gap: 30px;
      }
      .day {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .timetable {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .line {
            display: flex;
            gap: 5px;
            width: 300px;
            span {
              font-weight: bold;
              span {
                font-size: 0.8em;
              }
            }
            div {
              display: flex;
              flex-direction: column;
              gap: 0px;
              p {
                display: flex;
                gap: 5px;
                &::before {
                  content: "|";
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      h4 {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
</style>