---
---

<section>
  <div class="section-container">
    <h2>La Rencontre de Jeunesse</h2>
    <p>
      Ezéchiel 47.9 : Là où cette eau parviendra, tout sera assaini. Là où parviendra le torrent, il y aura profusion de vie.
    </p>
    <p>
      À la lumière de ce verset, notre vision pour cet événement est de permettre à chacun de découvrir que la vie véritable se trouve en Dieu et en son amour inconditionnel, d'expérimenter son Esprit et être activé pour transmettre la vie en son nom.
    </p>
    <p>
      Nous sommes heureux de vous annoncer un week-end extraordinaire, démarrant le vendredi soir par une soirée de rencontre avec Dieu, suivi par une journée de type "festival" le samedi avec toute une palette d'activités diversifiées, des ateliers, aux stands, animations, espaces prière et bien plus encore ! Nous vivrons le dimanche matin un culte ouvert aux églises de la région et terminerons le week-end par un  concert exceptionnel ! 
    </p>
    <p>
      Rejoins-nous pour vivre des moments forts dans la présence de Dieu.
    </p>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section {
    display: flex;
    justify-content: center;
    background-color: #507d82;
    font-family: lato, sans-serif;
    letter-spacing: 0.1em;

    .section-container {
      max-width: $main-width;
      padding: 80px 50px;

      h2 {
        font-size: $sub-title;
        text-transform: uppercase;
        padding: 0 0 30px 0;
        color: #fff;

        &:not(:nth-of-type(1)) {
          padding-top: 40px;
        }
      }

      p {
        text-transform: uppercase;
        font-size: $large-text;
        color: #fff;
        font-weight: normal;
        line-height: 1.2em;
        padding: 0 0 10px 0;
      }
    }
  }
</style>
