<div class="pass">
  <div><%= @order.product.entries %></div>
  <div>Pass RJ</div>
</div>
<div>
  <div><%= @order.product.man_lodging %></div>
  <div>Hébergement Gars</div>
</div>
<div>
  <div><%= @order.product.woman_lodging %></div>
  <div>Hébergement Fille</div>
</div>
