@mixin connect-btn-light-mixin {
  text-align: center;
  padding: 15px 30px; 
  margin: auto;
  border-radius: 25px; 
  border: none;
  margin: 30px 0;
  background: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #000;

  &:hover {
    background: #f4f4f4;
  }
}

a.connect-btn-light, input.connect-btn-light {
  @include connect-btn-light-mixin;
}

a.connect-btn-light-full, input.connect-btn-light-full {
  @include connect-btn-light-mixin;
  width: 100%;
}