.swipe-left {
    animation: swipe-left 1s forwards !important;
}

.swipe-right {
    animation: swipe-right 1s forwards !important;
}

@keyframes swipe-left {
    to {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes swipe-right {
    to {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
    }
}

.fade-in {
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}