<section id="anniversary">
  <h2>25 ans de rencontre</h2>

  <h3>Ce qui t'attend</h3>

  <div>
    <h4>Activités</h4>
    <p></p>
  </div>

  <div>
    <h4>Le lieu</h4>
    <p></p>
  </div>

  <div>
    <h4>Infos</h4>
    <p></p>
  </div>
</section>
