<section id="anniversary">
  <div class="row first">
    <h2>25 ans de rencontre</h2>
    <div class="split-3">
    </div>
    <div class="split-3">
    </div>
    <div class="split-3">
    </div>
  </div>

  <div class="row second">
    <div>
      <
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div>
      >
    </div>
  </div>

  <div class="row third">
    <div class="split-3">
    </div>
    <div class="split-3">
    </div>
    <div class="split-3">
    </div>
  </div>

  <div class="infos">
    <h3>Ce qui t'attend</h3>

    <div class="row forth">
      <div>
        <div class="wrap">
          <h4>Activités</h4>
          <p>
            La RJ, c’est tout un univers ! Pendant les pauses, ou avant et après les plénières, tu auras accès au VILLAGE… un univers pour toi et tes amis. Un FunPark, un village de stands, des lieux de rencontre pour ton groupe de jeunes, des ateliers, des stands de nourriture, un shooting photo, et plein de surprises.
        </div>
      </div>

      <div>
        <div class="wrap">
          <h4>Manger</h4>
          <p>
            Où manger ? Dans l’espace "Village", tu trouveras plein de snacks à prix abordables ! Tu peux aussi prendre un pique-nique avec toi ou aller en acheter un dans les commerces autour de l’Espace Gruyère. Prévois un peu d’argent de poche avec toi !
          </p>
        </div>
      </div>

      <div>
        <div class="wrap">
          <h4>Dormir</h4>
          <p>
            Lors de ton inscription, n’oublie pas de préciser si tu prends l’option "dortoirs".
            Le prix est de 25 CHF pour les deux nuits. Les matelas ne sont pas fournis, il te faudra en prendre un avec toi (max 80 cm de large). N’oublie pas de prendre ton sac de couchage et un oreiller si besoin. Attention, les places sont limitées : inscris-toi vite pour assurer ton logement sur place.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
