<section id="contact">

  <div class="section-container">
    <div class="form">
      <h2>contact</h2>
      <form>
        <input type="text" placeholder="NOM"/>
        <input type="text" placeholder="PRENOM"/>
        <input type="text" placeholder="SUJET"/>
        <textarea name="message" rows="10" cols="30">
TEXTE
        </textarea>
        <div class="input">
          <input type="submit" value="envoyer">
        </div>
      </form>
    </div>

    <div class="address">
      <p>
        Rue de Vevey 140<br>
        Bulle, Fribourg<br>
        Suisse
    </div>
  </div>

</section>