<section id="history">

  <div class="section-container">
    <div class="timeline">
      <div class="wrapper">
        <h2>histoire</h2>
        <ul class="history-links">
          <li><p data-content="history-1" class="selected"><span>⎯⎯</span> 1993</p></li>
          <li><p data-content="history-2"><span>⎯⎯</span> Première RJ</p></li>
          <li><p data-content="history-3"><span>⎯⎯</span> 1994 & 1995</p></li>
          <li><p data-content="history-4"><span>⎯⎯</span> 1996 à 2010</p></li>
          <li><p data-content="history-5"><span>⎯⎯</span> 1998</p></li>
          <li><p data-content="history-6"><span>⎯⎯</span> 2005</p></li>
          <li><p data-content="history-7"><span>⎯⎯</span> 2011</p></li>
          <li><p data-content="history-8"><span>⎯⎯</span> 2012</p></li>
          <li><p data-content="history-9"><span>⎯⎯</span> 2015</p></li>
          <li><p data-content="history-10"><span>⎯⎯</span> Aujourd'hui</p></li>
        </ul>
      </div>
    </div>
    <div class="show">
      <div id="history-1" class="content selected">
        <h3>1993</h3>
        <p>
          La RJ est fondée et dirigée par le précieux homme de foi et regretté Jean Blanc. Il sera secondé rapidement par Olivier Zaugg.
        </p>
      </div>
      <div id="history-2" class="content">
        <h3>1933</h3>
        <p>
          1re RJ à Orvin avec environ 150 jeunes.
        </p>
      </div>
      <div id="history-3" class="content">
        <h3>1994 & 1995</h3>
        <p>
          2e et 3e RJ à Péry avec environ 300 jeunes.
        </p>
      </div>
      <div id="history-4" class="content">
        <h3>1996 à 2010</h3>
        <p>
          La RJ se vit au Landeron, et le nombre de participants augmente chaque année par centaine.
        </p>
      </div>
      <div id="history-5" class="content">
        <h3>1998</h3>
        <p>
          La RJ passe le cap des 1000 participants.
        </p>
      </div>
      <div id="history-6" class="content">
        <h3>2005</h3>
        <p>
          Jean et Olivier passent le flambeau à une équipe d’amis qu’ils ont su lever à leurs côtés. Yves et Catherine Matthey, Blaise et Edith Thomi, Christophe Konrad, Christophe Monnot, David Guyaz, David Tripet, Christian Kuhn, Eddy Jeanneret.
        </p>
      </div>
      <div id="history-7" class="content">
        <h3>2011</h3>
        <p>
          Grâce à son succès, la RJ émigre en terre fribourgeoise dans les locaux de l’Espace Gruyère à Bulle. Elle passe le cap des 1500 participants.
        </p>
      </div>
      <div id="history-8" class="content">
        <h3>2012</h3>
        <p>
          Le cap des 2000 participants est franchi.
        </p>
      </div>
      <div id="history-9" class="content">
        <h3>2012</h3>
        <p>
          Le cap des 3000 participants est franchi.
        </p>
      </div>
      <div id="history-10" class="content">
        <h3>Aujourd'hui</h3>
        <p>
          Aujourd’hui, la RJ est à l’étroit à Bulle et des projets d’agrandissement sont à l’étude. La RJ est organisée par une équipe d’ami/es qui sont tous/tes engagés/es dans différentes églises locales de Suisse romande. Elle accueille des jeunes de plus de 10 fédérations d’églises différentes.<br>
          Durant toutes ces années, la RJ a permis à :
          <ul>
            <li>des centaines de jeunes de donner leur vie à Jésus. (Certains pasteurs actuels en Suisse romande ont rencontré Jésus à la RJ.)</li>
            <li>des centaines de jeunes de vivre des guérisons physiques</li>
            <li>des centaines de jeunes d’être baptisés du Saint-Esprit</li>
            <li>des centaines de jeunes de vivre des délivrances</li>
            <li>des centaines de jeunes de recevoir des appels précis pour leur vie</li>
            <li>des milliers de jeunes d’être encouragés dans leur foi… </li>
          </ul>
          L’aventure continue…
        </p>
      </div>
    </div>
  </div>

</section>
