<section id="history">

  <div class="section-container">
    <div class="timeline">
      <div class="wrapper">
        <h2>histoire</h2>
        <ul>
          <li><p>⎯⎯Première RJ</p></li>
          <li><p>⎯⎯ Evénement marquant 2</p></li>
          <li><p>⎯⎯ Evénement marquant 3</p></li>
          <li class="selected"><p>⎯⎯ Evénement marquant 4</p></li>
          <li><p>⎯⎯ Evénement marquant 5</p></li>
          <li><p>⎯⎯ RJ 2018</p></li>
        </ul>
      </div>
    </div>
    <div class="show">
      <div class="content">
        <h3>Evénement marquant 4</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </div>
  </div>

</section>