<section id="history">

  <div class="section-container">
    <div class="timeline">
      <div class="wrapper">
        <h2>histoire</h2>
        <ul class="history-links">
          <li><p data-content="history-1" class="selected"><span>⎯⎯</span>Première RJ</p></li>
          <li><p data-content="history-2"><span>⎯⎯</span> Evénement marquant 2</p></li>
          <li><p data-content="history-3"><span>⎯⎯</span> Evénement marquant 3</p></li>
          <li><p data-content="history-4"><span>⎯⎯</span> Evénement marquant 4</p></li>
          <li><p data-content="history-5"><span>⎯⎯</span> Evénement marquant 5</p></li>
          <li><p><span>⎯⎯</span> RJ 2018</p></li>
        </ul>
      </div>
    </div>
    <div class="show">
      <div id="history-1" class="content selected">
        <h3>Evénement marquant 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div id="history-2" class="content">
        <h3>Evénement marquant 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div id="history-3" class="content">
        <h3>Evénement marquant 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div id="history-4" class="content">
        <h3>Evénement marquant 4</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
      <div id="history-5" class="content">
        <h3>Evénement marquant 5</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>
    </div>
  </div>

</section>
