<section id="home">
  <div class="background">
    <video loop muted autoplay>
        <source src="<%= video_path('smoke_bg_dark.mp4') %>" type="video/mp4">
    </video>
  </div>

  <div class="row first">
    <a href="/"><%= image_tag "sections/home/logo.png" %></a>
  </div>

  <div class="row second">
    <div class="split-2">
      <%= image_tag "sections/home/freedom_logo.png" %>
    </div>
    <div class="split-2">
      <p>
        5-7mai17<br>
        Bulle<br>
        Suisse
      </p>
    </div>
  </div>

  <div class="row third">
    <div>
      <p>Télécharge l'application RJ 2017!</p>
      <p>
        <a href='https://play.google.com/store/apps/details?id=com.id1lnx0as1aunq3r129xr5d&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponible sur Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/fr_badge_web_generic.png'/></a>
        <a href="https://itunes.apple.com/us/app/rj/id1102561198?mt=8"><%= image_tag "sections/home/app-store.svg", class: "ios" %></a>
      </p>
    </div>
    <!--<p>
      <a class="btn-wire" data-turbolinks="false" href="#inscription">S'inscrire</a>
    </p>-->
  </div>
</section>
