<section id="home">
  <h1>Rencontre de jeunesse Bulle - freedom.</h1>

  <div class="row first">
    <%= image_tag "sections/home/logo.png" %>
  </div>

  <div class="row second">
    <div class="split-2">
      <%= image_tag "sections/home/freedom_logo.png" %>
    </div>
    <div class="split-2">
      <p>
        5-7mai17<br>
        Bulle<br>
        Suisse
      </p>
    </div>
  </div>

  <div class="row third">
    <p>
      <a class="btn-wire" href="#inscription">S'inscrire</a>
      <a class="btn-wire">S'engager</a>
    </p>
  </div>
</section>
