<section id="home">
  <div class="background">
    <video loop muted autoplay>
        <source src="<%= video_path('smoke_bg_dark.mp4') %>" type="video/mp4">
    </video>
  </div>

  <div class="row first">
    <a href="/"><%= image_tag "sections/home/logo.png" %></a>
  </div>

  <div class="row second">
    <div class="split-2">
      <%= image_tag "sections/home/freedom_logo.png" %>
    </div>
    <div class="split-2">
      <p>
        5-7mai17<br>
        Bulle<br>
        Suisse
      </p>
    </div>
  </div>

  <div class="row third">
    <p>
      <a class="btn-wire" href="#inscription">S'inscrire</a>
    </p>
  </div>
</section>
