<section id="inscription">

  <div class="row first">
    <div>
      <h2 class="font-light">Inscription</h2>
    </div>

    <div>
      <p class="intro">
        Le prix comprend le pass d’entrée pour le week-end. On te conseille de t’inscrire le plus vite possible pour profiter des rabais et pour assurer ta place.
        Rejoins plus de 3200 jeunes pour amener la liberté dans cette génération !
      </p>

      <div class="row prices">
        <div>
          <span>50.-</span>
          <p>
            Du 5 février au 26 mars à minuit
          </p>
          <a class="btn-red disabled">S'inscrire</a>
        </div>

        <div>
          <span>65.-</span>
          <p>
            Du 27 mars au 23 avril à minuit
          </p>
          <a class="btn-red disabled">S'inscrire</a>
        </div>

        <div>
          <span>80.-</span>
          <p>
            Dès le 24 avril
          </p>
          <a class="btn-red disabled">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row faq">
    <div>
      <p class="intro">
        Des questions ? Consulte notre FAQ pour en savoir plus !
      </p>
      <a class="btn-wire faq">FAQ</a>
    </div>
    <div class="text">
      <div class="wrap">
        <h4>Est-ce que je peux acheter mon entrée sur place?</h4>
        <p>Oui! Au stand Accueil tu pourras acheter des pass journaliers. Mais profite des réductions et assure-toi ton entrée en t’inscrivant avant la fin des prélocations !</p>
        <h4>A partir de quel âge est-ce que je peux participer à la RJ?</h4>
        <p>Dès 12 ans. Même si le programme s’adresse principalement à des 12-22 ans, il n’y a pas d’âge limite (les encadrants, accompagnants,... sont les bienvenus!). Les entrées sont payantes dès 11 ans.</p>
        <h4>Est-ce que je dois prendre mon matelas avec moi?</h4>
        <p>Oui (max. 80cm). N’oublie pas ton sac de couchage et oreiller si tu veux dormir confortablement!</p>
        <h4>Est-ce que les repas seront inclus?</h4>
        <p>Non. Par contre, tu pourras trouver des snacks et repas chauds sur place à bon prix. Un supermarché se trouve à deux pas de l’Espace Gruyère.</p>
        <h4>Comment puis-je soutenir cet évènement?</h4>
        <p>Partage l'évènement sur Facebook, encourage tes amis à y participer! Si tu as à coeur de faire un don, voici nos coordonnées postales: CCP 17-172886-0, Rencontre de jeunesse, 1607 Palézieux. Merci du fond du coeur!</p>
        <h4>Quelle est l'adresse de contact?</h4>
        <p>Rencontre de Jeunesse, 1607 Palézieux, info@rencontredejeunesse.ch</p>
      </div>
    </div>
  </div>
</section>
