<section id="inscription">
  <h2>Inscription</h2>

  <div>
    <span>50.-</span>
    <p>du jj.mm.aa au jj.mm.aa</p>
    <a>S'inscrire</a>
  </div>

  <div>
    <span>55.-</span>
    <p>du jj.mm.aa au jj.mm.aa</p>
    <a>S'inscrire</a>
  </div>

  <div>
    <span>60.-</span>
    <p>du jj.mm.aa au jj.mm.aa</p>
    <a>S'inscrire</a>
  </div>

  <p>Lorem ipsum dolorem.</p>
  <a>FAQ</a>
</section>
