<section id="inscription">

  <div class="row first">
    <div>
      <h2>Inscription</h2>
    </div>

    <div>
      <p class="intro">
        Le prix comprend le pass d’entrée pour le week-end. On te conseille de t’inscrire le plus vite possible pour profiter des rabais et pour assurer ta place.
        Rejoins plus de 3200 jeunes pour amener la liberté dans cette génération !
      </p>

      <div class="row prices">
        <div>
          <span>50.-</span>
          <p>
            Jusqu'au 26 mars à minuit
          </p>
          <a class="btn-red">S'inscrire</a>
        </div>

        <div>
          <span>65.-</span>
          <p>
            Du 27 mars au 23 avril à minuit
          </p>
          <a class="btn-red">S'inscrire</a>
        </div>

        <div>
          <span>80.-</span>
          <p>
            Dès le 24 avril
          </p>
          <a class="btn-red">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row faq">
    <div>
      <p class="intro">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div>
      <a class="btn-wire">FAQ</a>
    </div>
  </div>
</section>
