<section id="program">
  <h2>Programmation</h2>
  <p>5-7 mai</p>

  <a>Vendredi</a>
  <a>Samedi</a>
  <a>Dimanche</a>
  <a>2018</a>

  <div class="friday">
    
  </div>

  <div class="saturday">

  </div>

  <div class="sunday">

  </div>

  <div class="2018">

  </div>
</section>
