<section id="program">
  <div class="row first">
    <div>
      <h2 class="font-light"><span>Programmation</span></h2>
    </div>
    <div>
      <p class="date">5-7mai</p>
      <div class="images">
        <div class="person">
          <%= image_tag "sections/program/ben.jpg" %>
          <div class="information">
            <h4>Ben Fitzgerald</h4>
            <h5>Awakening Europe</h5>
            <div class="text first">
              <p>
                Ben Fitzgerald est le responsable de Awakening Europe et de GODfest Ministries. Il passe beaucoup de son temps à voyager à l’étranger en tant qu’évangéliste. Avant cela, il a été pasteur à l’église Bethel de Redding, en Californie durant plusieurs années. Originaire d’Australie, baignant dans le trafic de drogues, il fait une rencontre avec Jésus à la fin 2002 qui le changera profondément. Depuis lors, Ben vit passionnément pour une chose : montrer Jésus au monde dans sa vie quotidienne et amener la bonne nouvelle du Royaume aux nations. Ben aime aider les gens à vivre dans la plénitude de la liberté et de l’identité de Dieu et a une profonde conviction que l’avenir des nations sera transformé par des croyants radicaux qui vivent libres en proclamant Jésus avec audace.
              </p>
            </div>
          </div>
        </div>
        <div class="person">
          <%= image_tag "sections/program/luc.jpg" %>
          <div class="information">
            <h4>Luc Dumont</h4>
            <h5></h5>
            <div class="text second">
              <p>
                Luc Dumont sillonne la francophonie depuis plusieurs années afin d’apporter un chant nouveau d’adoration et partager un message d’inspiration dans un style simple et dynamique. Le mandat de Luc est de communiquer le cœur de Dieu pour libérer les destinées, nous faire découvrir à quel point Dieu nous aime et pour nous encourager à vivre à fond les rêves qu’Il a pour nous. Luc aime souvent dire qu’il existe autre chose que ce que nous connaissons, et il ouvre ainsi les possibilités divines dans la vie de chacun.
              </p>
            </div>
          </div>
        </div>
        <div class="person">
          <%= image_tag "sections/program/impact.jpg" %>
          <div class="information">
            <h4>Impact</h4>
            <h5>Louange</h5>
            <div class="text third">
              <p>
                Basé à Longueuil, situé sur la rive sud de Montréal, le groupe de louange Impact est leadé par les chanteurs Sébastien Corn, originaire de Marignane et pasteur à plein-temps, Ben Luiten, de Dunkerque et Sandra Kouame, de Lyon, et six musiciens. Impact est né des activités du département de jeunes de l’église Nouvelle Vie, au sein de laquelle près de 500 jeunes se réunissent chaque semaine pour vivre ensemble la présence de Dieu.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row second">
    <div id="program-links">
      <a data-day="friday" class="active">Vendredi</a><br>
      <a data-day="saturday">Samedi</a><br>
      <a data-day="sunday">Dimanche</a><br>
      <a data-day="2018">2018</a>
    </div>
    <div id="program-content">
      <div class="friday active">
        <table>
          <tr>
            <td>18h00</td><td>Accueil à l'extérieur</td>
          </tr>
          <tr>
            <td>18h30</td><td>Ouverture du village et du Fun Park</td>
          </tr>
          <tr>
            <td>19h45</td><td>Ouverture des portes</td>
          </tr>
          <tr>
            <td>20h15</td><td>Plénière</td>
          </tr>
          <tr>
            <td>22h30</td><td>Fin de la plénière</td>
          </tr>
          <tr>
            <td>00h30</td><td>Fermeture du village et du Fun Park</td>
          </tr>
        </table>
      </div>

      <div class="saturday">
        <table>
          <tr>
            <td>08h00</td><td>Ouverture du village et du Fun Park</td>
          </tr>
          <tr>
            <td>09h15</td><td>Ouverture des portes</td>
          </tr>
          <tr>
            <td>09h45</td><td>Plénière</td>
          </tr>
          <tr>
            <td>11h45</td><td>Fin de la plénière</td>
          </tr>
          <tr>
            <td>13h15</td><td>Ouverture des portes</td>
          </tr>
          <tr>
            <td>13h30</td><td>Atelier 1: Julien et Sandra Dubi, la sexualité</td>
          </tr>
          <tr>
            <td>14h15</td><td>Pause</td>
          </tr>
          <tr>
            <td>14h30</td><td>Atelier 2: Luc Dumont</td>
          </tr>
          <tr>
            <td>15h15</td><td>Pause</td>
          </tr>
          <tr>
            <td>15h30</td><td>Atelier 3: Ben Fitzgerald</td>
          </tr>
          <tr>
            <td>16h15</td><td>Pause</td>
          </tr>
          <tr>
            <td>16h30</td><td>Atelier 4</td>
          </tr>
          <tr>
            <td>19h15</td><td>Ouverture des portes</td>
          </tr>
          <tr>
            <td>19h50</td><td>Plénière</td>
          </tr>
          <tr>
            <td>22h30</td><td>Fin de la plénière</td>
          </tr>
          <tr>
            <td>00h30</td><td>Fermeture du village et du Fun Park</td>
          </tr>
        </table>
      </div>

      <div class="sunday">
        <table>
          <tr>
            <td>08h00</td><td>Ouverture du village et du Fun Park</td>
          </tr>
          <tr>
            <td>09h15</td><td>Ouverture des portes</td>
          </tr>
          <tr>
            <td>09h45</td><td>Plénière</td>
          </tr>
          <tr>
            <td>11h15</td><td>Fin de la plénière</td>
          </tr>
          <tr>
            <td>13h00</td><td>Ouverture des portes</td>
          </tr>
          <tr>
            <td>13h15</td><td>Plénière</td>
          </tr>
          <tr>
            <td>14h45</td><td>FIN officielle</td>
          </tr>
        </table>
      </div>

      <div class="2018">
        <p>
          La RJ revient l'année prochaine !
        </p>
      </div>
    </div>
  </div>
</section>
