<section id="twotiles">

  <div class="section-container">

    <div class="highlights">
      <h3>Les highlighs<br>de l'édition 2017</h3>
    </div>

    <div class="next">
      <h3>
        <span class="hashtag">#RJ2013</span><br>
        <span class="soon">coming soon</span>
      </h3>
    </div>

  </div>

</section>