<section id="vision">
  <div class="row">
    <div class="split-2">
      <p>"Là où est l'Esprit du Seigneur, là est la liberté."</p>
      <p>2 Corinthiens 3:13</p>
      <p>
        Nous sommes dans un temps nouveau. Dieu veut briser toutes les chaînes qui nous retiennent de vivre dans Sa liberté. Nous voulons déclarer au monde que nous sommes libres de le louer, libres de vivre pour Lui, libres d’entrer dans la destinée qu’Il a pour chacun de nous.
      </p>
      <p>
        Nous voulons faire taire les mensonges de l’ennemi sur nos vies, nous voulons voir notre génération LIBRE.
      </p>
      <p>Le comité RJ</p>
</p>
    </div>
    <div class="split-2">
      <h2>Vision 2017</h2>
    </div>
  </div>
</section>
