<section id="welcome">

  <div class="section-container">

    <div class="row1">
      <%= link_to image_tag("layout/logo.png", class: "logo"), "#" %>
      <%= image_tag "layout/burger.svg", id: "header-btn" %>
    </div>

    <div class="row2">
      <h1>Bienvenue<br>à la Rencontre<br>de Jeunesse</h1>
    </div>

    <div class="row3">
      <div class="app">
        <h3>Télécharge notre appli!</h3>
        <%= image_tag "home/welcome/app-store.svg" %>
        <%= image_tag "home/welcome/google-play.svg" %>
      </div>
    </div>


  </div>

</section>
