<% content_for :id, "option_order-new" %>

<div class="content-wrap">

<h1>Inscription bénévole</h1>

<% if signed_in? %>
  
  <%= render 'form' %>

<% else %>

  <%= render "sessions/form", redirect_url: new_option_order_path(params[:order_bundle_id]) %>

<% end %>
</div>

<%= render "layouts/headers/application" %>