@font-face {
 font-family: 'futura';
 src: url(../../fonts/futura-light.ttf) format('truetype')
}

@font-face {
 font-family: 'texgyreadventor';
 src: url(../../fonts/texgyreadventor-bold.otf)
 font-weight: bold;
}
@font-face {
 font-family: 'texgyreadventor';
 src: url(../../fonts/texgyreadventor-bolditalic.otf)
 font-weight: bold;
 font-style: italic;
}
@font-face {
 font-family: 'texgyreadventor';
 src: url(../../fonts/texgyreadventor-italic.otf)
 font-style: italic;
}
@font-face {
 font-family: 'texgyreadventor';
 src: url(../../fonts/texgyreadventor-regular.otf)
}
