html, body {
  height: 100%;
  font-family: 'Open sans';
}

h1 {
  text-align: center;
  padding: 0 0 50px 0;
  text-transform: uppercase;
  font-weight: lighter;
}
h1:not(:first-child) {
  padding: 100px 0 50px 0;
}

p:not(:last-child) {
  padding: 0 0 15px 0;
}

p, button, #content {
  font-size: 14px;
}

blockquote {
  padding: 0 0 40px 0;
  font-weight: bold;
}

cite {
  font-weight: normal;
  font-size: 12px;
}

a {
  color: inherit;
}

::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

:-ms-input-placeholder {
   color: #333;  
}
