html, body {
  height: 100%;
  font-family: 'texgyreadventor', Arial, sans-serif;
}

h1 {
  text-align: center;
  line-height: 3em;
  text-transform: uppercase;
  letter-spacing: 15px;
  word-break: break-all;
  font-family: 'futura', Arial, sans-serif;
}
h1:not(:first-child) {
  padding-top: 1em;
}

p:not(:last-child) {
  padding: 0 0 15px 0;
}

p, button, #content {
  font-size: 14px;
}

blockquote {
  padding: 0 0 40px 0;
  font-weight: bold;
}

cite {
  font-weight: normal;
  font-size: 12px;
}

a {
  color: #3d44ac;
}
  a:hover {
    text-decoration: underline;
  }

::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;
}

:-ms-input-placeholder {
   color: #333;
}
