html, body {
  height: 100%;
}

h1 {
  text-align: center;
  padding: 0 0 50px 0;
}

p {
  padding: 0 0 15px 0;
}

p, button, #content {
  font-size: 14px;
}

blockquote {
  padding: 0 0 40px 0;
  font-weight: bold;
}

cite {
  font-weight: normal;
  font-size: 12px;
}
