<section id="footer">

  <div class="section-container">
    <div class="partners">
      <div class="content-wrap">
        <p>Partenaires</p>
        <p><a href="#">Vecteurcom</a> <a href="#">Cash Solutions</a> <a href="#">JSTECH</a></p>
      </div>
    </div>
    <div class="social-medias">
      <p>
        <a href="#"><%= image_tag "home/footer/facebook.svg" %></a>
        <a href="#"><%= image_tag "home/footer/instagram.svg" %></a>
        <a href="#"><%= image_tag "home/footer/youtube.svg" %></a>
      </p>
    </div>
  </div>

</section>