<section id="justtext">

  <div class="section-container">
    <p class="citation">
      “Je suis allée à la RJ en 2017 pour la première fois et c'était juste génial. La louange, les temps de plénières, les animations, l'ambiance, bref un weekend total dans la présence de Dieu. J'y retourne l'année prochaine, c'est sûr!”
    </p>
    <p class="author">
      Léna
    </p>
  </div>

</section>
