<section id="partner">

  <div class="section-container">
    <a class="tooltip">
      <h2>soutenir<br>la RJ</h2>
      <span class="tooltiptext">
        Coming soon
      </span>
    </a>
  </div>

</section>
