<section id="twotiles">

  <div class="section-container">

    <div class="next">
      <div class="rj">
        <h3>
          <span class="only-hash">#</span><span class="hashtag">RJ22</span><br>
          <!--<span class="soon">Annonce</span>-->
        </h3>
        <%= link_to "", "/2022", class: "global-link" %>
        <div class="mask"></div>
      </div>
      <div class="login">
        <h3>
          <span class="only-hash">#</span><span class="hashtag">RJLOGIN</span><br>
          <!--
          <small><i>inscriptions ouvertes</i></small>
          -->
        </h3>
        <%= link_to "", "/login", class: "global-link" %>
        <div class="mask"></div>
      </div>
    </div>

    <div class="highlights">
      <h3>Les highlights<br>de l'édition 2019</h3>
      <%= link_to "", highlights_path(year: 2019) , class: "global-link"%>
      <div class="mask"></div>
    </div>

  </div>

</section>
