<section id="twotiles">

  <div class="section-container">

    <div class="next">
      <div class="rj">
        <a href="/2019#registration" class="registration">S'inscire</a>
        <h3>
          <span class="only-hash">#</span><span class="hashtag">RJ19</span><br>
          <span class="soon">3-5 mai 2019</span>
        </h3>
        <%= link_to "", "/2019", class: "global-link" %>
        <div class="mask"></div>
      </div>
      <div class="login">
        <h3>
          <p>
          <span class="only-hash">#</span><span class="hashtag">
            RJLOGIN20
          </span>
          </p>
        </h3>
        <%= link_to "", "/login", class: "global-link" %>
        <div class="mask"></div>
      </div>
    </div>

    <div class="highlights">
      <h3>Les highlights<br>de l'édition 2018</h3>
      <%= link_to "", highlights_path %>
      <div class="mask"></div>
    </div>

  </div>

</section>
