<section id="twotiles">

  <div class="section-container">

    <div class="next">
      <div class="rj">
        <h3>
          <span class="only-hash">#</span><span class="hashtag">RJ19</span><br>
          <span class="soon">3-5 mai 2019</span>
        </h3>
        <%= link_to "", "/2019" %>
        <div class="mask"></div>
      </div>
      <div class="login">
        <h3>
          <p>
          <span class="only-hash">#</span><span class="hashtag"><!--
          <% "RJLOGIN19".each_char do |char|%>
            --><%= content_tag :span, char, :class=>"c#{rand(0...6)}" %><!--
          <% end %>-->
          <span class="news">NEWS!</span>
          </span><br>
          <span class="soon">26 janvier 2019</span>
          </p>
        </h3>
        <%= link_to "", "/login" %>
        <div class="mask"></div>
      </div>
    </div>

    <div class="highlights">
      <h3>Les highlights<br>de l'édition 2018</h3>
      <%= link_to "", highlights_path %>
      <div class="mask"></div>
    </div>

  </div>

</section>
