<section id="twotiles">

  <div class="section-container">

    <div class="highlights">
      <h3>Les highlights<br>de l'édition 2017</h3>
      <a href="https://www.youtube.com/user/RencontredeJeunesse" target="_blank"></a>
      <div class="mask"></div>
    </div>

    <div class="next">
      <h3>
        <span class="hashtag">#RJLogin18</span><br>
        <span class="soon">27/01/18</span>
      </h3>
      <%= link_to "", login_path %>
      <div class="mask"></div>
    </div>

  </div>

</section>
