<section id="volunteer">

  <div class="section-container">
    <div class="first-half"></div>
    <div class="second-half">
      <a href="/volunteers">
        <h2>devenir<br>bénévole</h2>
      </a>
    </div>
  </div>

</section>
