<section id="volunteer">

  <div class="section-container">
    <div class="first-half"></div>
    <div class="second-half">
      <a class="tooltip">
        <h2>devenir<br>bénévole</h2>
        <span class="tooltiptext">
          Coming soon
        </span>
      </a>
    </div>
  </div>

</section>