<%= javascript_include_tag "standalone/rj/2019/video.js", asyn: "asyn", defer: "defer" %>


<section id="welcome">

  <div class="section-container">

    <div class="row1">
      <h1>Bienvenue<br>à la <span>rencontre</span><br>de jeunesse</h1>
    </div>

    <%# <div class="row1-2">
      <a href="/2018#registration">S'inscrire</a>
    </div> %>

    <div class="row2">
      <div class="app">
        <h3>Télécharge notre appli!</h3>
        <a target="_blank" href="https://itunes.apple.com/us/app/rj/id1102561198?l=fr&ls=1&mt=8"><%= image_tag "home/welcome/app-store.svg" %></a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.id1lnx0as1aunq3r129xr5d"><%= image_tag "home/welcome/google-play.svg" %></a>
      </div>
    </div>


  </div>

</section>