@import "../../../components/variables";

#container.volunteer section#thanks {
  background-image: image-url('volunteer/thanks/background.jpg');
  background-size: cover;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .section-container {
    height: 100%;
    width: 100%;
    max-width: $main-width;
    padding: 150px $main-padding;
    color: #fff;
    text-align: center;

    h2 {
      font-size: $sub-title;
      padding: 0 0 40px 0;
    }

    p {
      font-size: $large-text;
      padding: 10px $sub-padding 0 $sub-padding;
      line-height: 1.5em;
    }
  }
}