@import "../../components/variables";

#container.resources {

  section.banner {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 700px;
    background: image-url("resources/banner.jpg");
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;

    div.section-container {
      max-width: $main-width;
      padding: 0 $main-padding 0 $main-padding;

      color: #fff;
      
      h1 {
        font-size: $sub-title;
        text-transform: uppercase;
        font-weight: bold;
      }

      p {
        max-width: 400px;
        font-family: serif;
        font-size: $large-text;
      }
    }
  }

  section.content {
    width: 100%;
    background: #f8f8f9;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    div.section-container {
      max-width: $main-width;
      padding: 0 $main-padding 0 $main-padding;

      h2 {
        font-size: $sub-title;
        padding: 60px 0 120px 0;
      }

      .elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 50px 0;

        .el {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 0 50px 0;

          .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: #e7eaee;
          }

          p {
            text-transform: uppercase;
            font-family: serif;
            padding: 20px 0 30px 0;
          }

          svg {
            width: 40px;

            path {
              fill: #57586a;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    section.content {
      div.section-container {
        .elements {
          flex-direction: column !important;
        }
      }
    }
  }
}