#container.order-login {

  .drawbar {
    background-color: black;
    height: 130px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    .title {
      color: white;
      text-align: center;
    }

    .logo {
      position: absolute;
      left: 10px;
      top: 30px;
    }
  }

  /*
    Edit
  */

  .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 30px 0;

    a {
      color: black;
      border: 1px solid black;
      padding: 10px;
    }
  }

}
