<header>
  <%= image_tag "layout/logo.png" %>

  <ul>
    <li class="text">Admininistration</li>
    <li><%= link_to "Utilisateurs", admin_users_path %></li>
    <li class="text">Commandes</li>
    <li><%= link_to "RJ", admin_rj_index_path %></li>
    <li><%= link_to "RJ Login", admin_login_index_path %></li>
  </ul>
</header>
