@import "../../../components/variables";
@import '../../../components/button-bar';

#container.highlights section#volunteer {
  background-image: image-url("highlights/volunteer/background.jpg");
  background-size: cover;

  .section-container {

    div.banner {
      width: 100%;
      height: 600px;
      background-position-y: center;
    }

    div.title {

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f56a55+49,1e21c2+100 */
      background: #f56a55; /* Old browsers */
      background: -moz-linear-gradient(45deg, #f56a55 49%, #1e21c2 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #f56a55 49%,#1e21c2 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #f56a55 49%,#1e21c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f56a55', endColorstr='#1e21c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      text-align: center;
      padding: 40px 0 70px 0;

      h2 {
          color: #fff;
          font-size: $title-size;
          line-height: 0.9em;
          position: relative;
          z-index: 0;
          display: inline-block;

        &::after {
          @include button-bar(-2.5em, -0.9em, right, 20px);
          background-color: #000;
        }

        &:hover::after {
          @include button-bar-hover-right();
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    div.title {
      h2 {
        min-width: 120px !important;
        
        &::after {
          @include button-bar(0, 0, right, 20px);
        }
      }
    }
  }
}