@mixin button-bar($right, $left, $text-align, $padding-top-bottom) {
  content: "→";
  text-align: $text-align;
  font-size: 20px;
  position: absolute;
  line-height: 0;
  right: $right;
  bottom: -1em;
  left: $left;
  z-index: -1;
  padding: $padding-top-bottom 10px;
  transition: .3s;
}

@mixin button-bar-hover-left {
  padding-left: 25px;
  animation-name: arrow-link-left;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@mixin button-bar-hover-right {
  padding-right: 20px;
  animation-name: arrow-link-right;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}