
@font-face {
  font-family: CormorantGaramond;
  src: url('/fonts/Cormorant/CormorantGaramond-VariableFont_wght.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}