$_max-pt: 100pt;
$_min-pt: 14pt;
$_max-em: 4.5em;
$_min-em: 0.9em;

$main-width: 1024px;
$main-padding: 30px;
$sub-padding: 30px;
$blank-space: 5%;

$mobile-padding: 30px;

$title-size: 4.5em;   // 100pt
$sub-title: 2.3em;    // 50pt
$medium-title: 1.7em; // 35pt

$large-text: 1.2em;   // 25pt
$normal-text: 1em;    // 20pt
$small-text: 0.9em;   // 14pt

$mobile-width: 768px;

$logo-burger-height: 75px;

// Linear proportionality between {a,b} <=> {a',b'}
// a is min and b is max
// i' = (i-a) / (b-a) * (b'-a') + a'
@function absolute-to-relative($size-pt) {
  @return ($size-pt - $_min-pt) / ($_max-pt - $_min-pt) * ($_max-em - $_min-em) + $_min-em;
}