$color-bg: #32173d;
$color-bg-dark: #150919;
$color-accent: #ff823e;
$color-accent-hover: #ee631d;
$color-text-light: #e9e9d6;
$color-text-warm: #fffaf2;
$font-display: CormorantGaramond, serif;
$font-body: Montserrat, sans-serif;
