<% content_for :id, "users-new"%>

<div class="content-wrap">
  <div class="signup standard-form-row">
    <h1>Créer un compte RJ Connect</h1>

    <%= form_for @user, url: users_path do |f| %>

      <%= render "error_messages", object: f.object %>

      <%= render "users/fields/new", f: f %>
      
    <% end %>
  </div>
</div>

<%= render "layouts/headers/application" %>