<h1>Bienvenue chez nous !</h1>
<p>
  Ton compte RJ Connect a été créé !
</p>
<p>
  Tu as reçu un email afin de confirmer ton compte. Clique sur le lien contenu dans l'email et tu pourras ensuite te connecter sur le site <a href="/">rencontredejeunesse.ch</a>.
</p>
<p>
  <a href="/">Retourner sur home</a>
  <a href="/signin">Se connecter</a>
</p>
