<% content_for :id, "users-success"%>

<div class="content-wrap">

  <h1>Bienvenue chez nous !</h1>
  <p>
    Ton compte RJ Connect a été créé !
  </p>
  <p>
    Tu as reçu un email afin de confirmer ton compte. Clique sur le lien contenu dans l'email et tu pourras ensuite te connecter sur le site rencontredejeunesse.ch.
  </p>
  <p>
    <a href="https://rencontredejeunesse.ch">Retourner sur home</a>
    <a href="/signin">Se connecter</a>
  </p>

</div>