section#people {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .intro {
    margin: 60px 5px 20px 5px;
    font-size: 1.2em;
    text-align: center;
  }

  .orators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    -ms-flex-pack: distribute;

        justify-content: space-around;

    width: 1000px;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  .orator {
    width: 150px;
    margin: 20px;

    img {
      margin-bottom: 10px;
    }

    p {
      height: 60px;

    }
  }

  img.round {
    border-radius: 50%;
  }

}
