#connect-flash {
  #flash {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-family: "Helvetica neue", "Helvetica", sans-serif;
    text-transform: uppercase;
  }

  .link-button {
    background-color: rgb(106, 157, 255);
    padding: 7px 10px;
    color: #fff;
  }
}