body#connect {
  header {
    padding: 10px 10px 40px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      img.logo {
        width: 120px;
      }
    }

    div {
      img.logout {
        width: 30px;
      }
    }
  }
}