@font-face {
  font-family: radikal;
  src: font-url("Radikal_Bold");
}

@font-face {
  font-family: swiss;
  src: font-url("Swiss_721_Black_Condensed_Italic_BT");
}

@font-face {
  font-family: monument;
  src: font-url("MonumentExtended-Ultrabold");
}

@font-face {
  font-family: monument-regular;
  src: font-url("MonumentExtended-Regular");
}

@font-face {
  font-family: helvetica-now-display;
  src: font-url("2020/Helvetica-Now-Display/Monotype-Helvetica-Now-Display.otf")
}

@font-face {
  font-family: PPWoodland;
  src: font-url("2020/PP-Woodland-Ultralight/PPWoodland-Ultralight.ttf")
}