@font-face {
  font-family: radikal;
  src: font-url("Radikal_Bold");
}

@font-face {
  font-family: swiss;
  src: font-url("Swiss_721_Black_Condensed_Italic_BT");
}

@font-face {
  font-family: monument;
  src: font-url("MonumentExtended-Ultrabold");
}