@font-face {
  font-family: "didot";
  src: asset-url("Didot.ttc") format("OpenType");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "delirium";
  src: asset-url("DELIRIUM.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
