#connect-container.unconfirmed {

  div.connect-container-wrapper {

    h1 {
      font-weight: 300;
      padding: 0 0 40px 0;
    }

    p {
      padding: 0 0 50px 0;
      line-height: 1.4em;
    }

    p.center {
      text-align: center;
    }
  }
}
