<%= render "orders/confirmation" do %>

  <!-- Registrants information -->
  <div class="registrants-information standard-form-row">
    <div class="row">
      <span></span>
      <h3>Mes produits</h3>
    </div>

    <% @order_items.each do |item| %>
      <div class="registrant">
        <div class="row tight">
          <span>Nom du produit</span>
          <p>
            <%= item.item.name_with_price %>
          </p>
        </div>
        <div class="row tight">
          <p>Quantité</p>
          <p><%= item.quantity %></p>
        </div>
      </div>
    <% end %>

    <div class="row">
      <span></span>
      <%= link_to " Modifier la commande", edit_orders_bundle_path(@order.order_id, key: params[:key]), class: "button-link" %>
    </div>
  </div>

<% end %>