<% content_for :id, "orders-canceled" %>

<div class="content-wrap">

  <%= render layout: 'message' do %>

  <h1>Tu as annulé le paiement</h1>
  <p>La commande a été annulée.</p>

  <% end %>

</div>

<%= render "layouts/headers/application" %>