<% content_for :id, "orders-confirmed" %>

<div class="content-wrap">

  <%= render layout: 'message' do %>

  <h1>Merci pour ta commande !</h1>
  <p>Ta commande a bien été reçue.</p>
  <p>Tu revevras un email de confirmation dans les minutes qui suivent. Si ce n'est pas le cas, contact immédiatement le support via le formulaire de contact.</p>
  <p>Tu peux consulter en tout temps ta commande dans ton <%= link_to "espace client", "/connect" %>.</p>

  <% end %>

</div>

<%= render "layouts/headers/application" %>