<% content_for :id, "orders-declined" %>

  <div class="content-wrap">

  <%= render layout: 'message' do %>

  <h1>Erreur</h1>
  <p>Une erreur est survenue lors du paiement. Le paiement n'a pas été fait.</p>

  <% end %>

</div>