<%= render layout: 'message' do %>

<h1>Votre commande a été validée</h1>
<p>Nous avons reçu votre pré-location. Votre paiement est en attente de validation par PostFinance.</p>
<p>Nous vous contacterons dès réception du paiement.</p>

<% end %>
