<% content_for :id, "orders-uncertain" %>

  <div class="content-wrap">

  <%= render layout: 'message' do %>

  <h1>Ta commande a été validée</h1>
  <p>Nous avons reçu ta prélocation. Ton paiement est en attente de validation par PostFinance.</p>
  <p>Nous te contacterons dès réception du paiement.</p>

  <% end %>

</div>

<%= render "layouts/headers/application" %>