<h1>Commandes RJ</h1>

<p>
  La recherche fonctionne sur les champs Id ainsi que le prénom, nom et email de la personne.<br>
  Certaines colonnes sont "triables" en cliquant sur les en-têtes.<br>
  Explication des statuts: <a target="_blank" href="https://e-payment-postfinance.v-psp.com/fr/guides/user%20guides/statuses-and-errors">Guide Postfinance</a>. Les commandes valides ont le statut 5 ou 9.
</p>

<%= @table.present(buttons: "admin/orders/buttons") %>
