<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Inscriptions">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Sexe</Data></Cell>
        <Cell><Data ss:Type="String">Prénom</Data></Cell>
        <Cell><Data ss:Type="String">Nom</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
      </Row>
    <% @participants.each do |participant| %>
      <Row>
        <Cell><Data ss:Type="String"><%= t("user.genders.#{participant.gender}") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= participant.firstname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= participant.lastname %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= participant.age %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
