<%= render layout: 'admin/orders/show' do %>

  <!-- Product information -->
  <p><strong>Nbre d'entrée:</strong> <%= @order.product.entries %></p>
  <p><strong>Groupe:</strong> <%= @order.product.group %></p>

<% end %>
