<% content_for :id, "mob-application" %>

<%= render "layouts/headers/home" %>

<section id="main-mob-application">
  <div class="section-container">

    <h1>Application officielle de la RJ !</h1>
    <p>L'application te permet de recevoir les dernières informations concernant l'événement ou alors des encouragements de la part des leaders. Tu trouveras également des informations pratiques comme le programme, les lieux où se restaurer et plein d'autres conseils !</p>
    <p class="center">
      Disponsible sur Android et iOS.<br><br>
    </p>
    <p class="logos">
      <a href='https://play.google.com/store/apps/details?id=com.id1lnx0as1aunq3r129xr5d&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img alt='Disponible sur Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/fr_badge_web_generic.png' width="300px">
      </a>
      <a href='https://geo.itunes.apple.com/us/app/rj/id1102561198?mt=8'>
        <%= image_tag "icons/app-store.png", alt: "Disponible sur l'App store" %>
      </a>
    </p>
    <p>
      Si tu as une question ou un problème concernant l'application, utilise le formulaire de contact disponible sur le site.
    </p>

  </div>
</section>