<% content_for :id, "resources" %>


<section class="banner">
  <div class="section-container">
    <h1>Ressources</h1>
    <p>Le site officiel des ressources de communication de la rencontre de jeunesse</p>
  </div>
</section>

<section class="content">
  <div class="section-container">
    <h2>Un vaste choix de ressources pour ton groupe de jeunes et ton église.</h2>

    <div class="elements">
      <div class="el">
        <div class="img">
        </div>
        <p>Instagram</p>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 47 47" style="enable-background:new 0 0 47 47;" xml:space="preserve">
          <g>
            <path d="M22.792,34.706c0.092,0.093,0.203,0.166,0.326,0.217C23.24,34.973,23.37,35,23.5,35s0.26-0.027,0.382-0.077
              c0.123-0.051,0.233-0.124,0.326-0.217l11.999-11.999c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L24.5,31.586V1
              c0-0.553-0.448-1-1-1s-1,0.447-1,1v30.586L12.207,21.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L22.792,34.706z"/>
            <path d="M1.5,43h44c0.553,0,1-0.447,1-1s-0.447-1-1-1h-44c-0.552,0-1,0.447-1,1S0.948,43,1.5,43z"/>
            <path d="M45.5,45h-44c-0.552,0-1,0.447-1,1s0.448,1,1,1h44c0.553,0,1-0.447,1-1S46.053,45,45.5,45z"/>
          </g>
        </svg>
      </div>

      <div class="el">
        <div class="img">
        </div>
        <p>Instagram</p>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 47 47" style="enable-background:new 0 0 47 47;" xml:space="preserve">
          <g>
            <path d="M22.792,34.706c0.092,0.093,0.203,0.166,0.326,0.217C23.24,34.973,23.37,35,23.5,35s0.26-0.027,0.382-0.077
              c0.123-0.051,0.233-0.124,0.326-0.217l11.999-11.999c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L24.5,31.586V1
              c0-0.553-0.448-1-1-1s-1,0.447-1,1v30.586L12.207,21.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L22.792,34.706z"/>
            <path d="M1.5,43h44c0.553,0,1-0.447,1-1s-0.447-1-1-1h-44c-0.552,0-1,0.447-1,1S0.948,43,1.5,43z"/>
            <path d="M45.5,45h-44c-0.552,0-1,0.447-1,1s0.448,1,1,1h44c0.553,0,1-0.447,1-1S46.053,45,45.5,45z"/>
          </g>
        </svg>
      </div>

      <div class="el">
        <div class="img">
        </div>
        <p>Instagram</p>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 47 47" style="enable-background:new 0 0 47 47;" xml:space="preserve">
          <g>
            <path d="M22.792,34.706c0.092,0.093,0.203,0.166,0.326,0.217C23.24,34.973,23.37,35,23.5,35s0.26-0.027,0.382-0.077
              c0.123-0.051,0.233-0.124,0.326-0.217l11.999-11.999c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L24.5,31.586V1
              c0-0.553-0.448-1-1-1s-1,0.447-1,1v30.586L12.207,21.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L22.792,34.706z"/>
            <path d="M1.5,43h44c0.553,0,1-0.447,1-1s-0.447-1-1-1h-44c-0.552,0-1,0.447-1,1S0.948,43,1.5,43z"/>
            <path d="M45.5,45h-44c-0.552,0-1,0.447-1,1s0.448,1,1,1h44c0.553,0,1-0.447,1-1S46.053,45,45.5,45z"/>
          </g>
        </svg>
      </div>

      <div class="el">
        <div class="img">
        </div>
        <p>Instagram</p>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 47 47" style="enable-background:new 0 0 47 47;" xml:space="preserve">
          <g>
            <path d="M22.792,34.706c0.092,0.093,0.203,0.166,0.326,0.217C23.24,34.973,23.37,35,23.5,35s0.26-0.027,0.382-0.077
              c0.123-0.051,0.233-0.124,0.326-0.217l11.999-11.999c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L24.5,31.586V1
              c0-0.553-0.448-1-1-1s-1,0.447-1,1v30.586L12.207,21.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L22.792,34.706z"/>
            <path d="M1.5,43h44c0.553,0,1-0.447,1-1s-0.447-1-1-1h-44c-0.552,0-1,0.447-1,1S0.948,43,1.5,43z"/>
            <path d="M45.5,45h-44c-0.552,0-1,0.447-1,1s0.448,1,1,1h44c0.553,0,1-0.447,1-1S46.053,45,45.5,45z"/>
          </g>
        </svg>
      </div>
    </div>

  </div>
</section>

<%= render "pages/home/contact" %>

<%= render "layouts/headers/application" %>