<% content_for :id, "vitrine" %>


<div class="background">
  <video loop muted autoplay>
      <source src="<%= video_path('smoke_bg.mp4') %>" type="video/mp4">
  </video>
</div>

<div class="wrap">

  <div class="left">

  </div>

  <div class="center">
    <div class="inner-wrap">
      <span id="soon">
        <%= image_tag "vitrine/bientot.png" %><br>
        Clique pour découvrir quand
      </span>
      <span id="behind">
        Lancement de la campagne<br>28 JANV 17
      </span>
    </div>
  </div>

  <div class="right">
    <div id="f" class="inner-wrap">
      5-7 Mai 17<br>
      <%= image_tag "vitrine/logo.png" %>
    </div>
  </div>

</div>
