---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/2023/Welcome.astro";
import Text from "../components/2023/Text.astro";
import Tickets from "../components/2023/Tickets.astro";
import Program from "../components/2023/Program.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="RJ 2023">
	<section>
		<Welcome />
		<Text />
		<Tickets />
		<Program />
		<Contact />
	</section>
</Layout>

<style lang="scss">
	@import "../styles/variables";

	section {
		min-height: 100%;
		font-size: 130%;
	}
</style>
