---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/2023/Welcome.astro";
import Text from "../components/2023/Text.astro";
import Tickets from "../components/2023/Tickets.astro";
---

<Layout title="RJ - Rencontre de Jeunesse - 2022">
	<section>
		<Welcome />
		<Text />
		<Tickets />
	</section>
</Layout>

<style lang="scss">
	section {
		min-height: 100%;
	}
</style>
