---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/2024/Welcome.astro";
import Text from "../components/2024/Text.astro";
import Tickets from "../components/2024/Tickets.astro";
import Program from "../components/2024/Program.astro";
import Speakers from "../components/2024/Speakers.astro"
---

<Layout title="RJ 2024">
  <section>
    <Welcome />
    <Text />
    <Program />
    <Speakers />
    <Tickets />
  </section>
</Layout>

<style lang="scss">
  @import "../styles/variables";

  section {
    min-height: 100%;
    font-size: 130%;
  }
</style>
