---
import Layout from "../layouts/Layout.astro";
import ContactPage from "../components/ContactPage.astro";
---

<Layout title="RJ - Rencontre de Jeunesse">
    <section class="cont">
        <ContactPage />
    </section>
</Layout>