---
import Banner from "../components/highlights/Banner.astro";
import Top20 from "../components/highlights/Top20.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RJ - Rencontre de Jeunesse">
  <section>
    <Banner />
    <Top20 />
  </section>
</Layout>
