---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/home/Welcome.astro";
import Twotiles from "../components/home/Twotiles.astro";
import Vision from "../components/home/Vision.astro";
import Justtext from "../components/home/Justtext.astro";
import Volunteer from "../components/home/Volunteer.astro";
import Partner from "../components/home/Partner.astro";
import History from "../components/home/History.astro";
import Contact from "../components/Contact.astro";
import Date from "../components/home/Date.astro";
import Photos from "../components/home/Photos.astro";
---

<Layout title="RJ - Rencontre de Jeunesse">
	<section>
		<Welcome />
		<!-- <Date /> -->
		<Twotiles />
		<Vision />
		<Photos />
		<Volunteer />
		<Partner />
	</section>
</Layout>

<style lang="scss">
	@import "../styles/variables";

	section {
		min-height: 100%;
		max-width: $main-width;
	}
</style>
