---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/2025/Welcome.astro";
import Twotiles from "../components/home/Twotiles.astro";
import Vision from "../components/home/Vision.astro";
import Volunteer from "../components/home/Volunteer.astro";
import Partner from "../components/home/Partner.astro";
import Photos from "../components/home/Photos.astro";
import Support from "../components/home/Support.astro";
import Testify from "../components/home/Testify.astro";
---

<Layout title="RJ - Rencontre de Jeunesse" dark={true}>
	<section>
		<Welcome />
		<!-- <Date /> -->
		<Twotiles />
		<Vision />
		<Photos />
		<Support />
		<Partner />
	</section>
</Layout>

<style lang="scss">
	@import "../styles/variables.scss";

	section {
		min-height: 100%;
	}

	
</style>
