---
import Banner from "../components/login/Banner.astro";
import Date from "../components/login/Date.astro";
import Guest from "../components/login/Guest.astro";
import Program from "../components/login/Program.astro";
import Register from "../components/login/Register.astro";
import Photos from "../components/login/Photos.astro";
import Layout from "../layouts/Layout.astro";
import JustImage from "../components/login/JustImage.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="RJ - Rencontre de Jeunesse">
  <section>
    <Banner />
    <Date />
    <!-- <Guest /> -->
    <Program />
    <!-- <Register />  -->
    <Photos />
    <JustImage />
    <Contact />
  </section>
</Layout>
