---
import Contact from "../components/Contact.astro";
import Banner from "../components/vision/Banner.astro";
import Committee from "../components/vision/Committee.astro";
import Donation from "../components/vision/donation.astro";
import Intro from "../components/vision/Intro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RJ - Rencontre de Jeunesse">
  <section>
    <div class="content">

    </div>
    <div class="timeline">

    </div>
  </section>
</Layout>
