---
import Banner from "../components/volunteers/Banner.astro";
import Intro from "../components/volunteers/Intro.astro";
import Thanks from "../components/volunteers/Thanks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RJ - Rencontre de Jeunesse">
  <section>
    <Banner />
    <Intro />
    <Thanks />
  </section>
</Layout>
