---
import Banner from "../components/volunteers/Banner.astro";
import Intro from "../components/volunteers/Intro.astro";
import RJ from "../components/volunteers/RJ.astro";
import JobsBanner from "../components/volunteers/JobsBanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RJ - Rencontre de Jeunesse">
  <section>
    <Banner />
    <Intro />
    <JobsBanner />
    <RJ />
  </section>
</Layout>
