@import '../base/variables';

.button {
  background-color: $red;
  padding: 10px 60px;
  margin: 30px 0;
  color: white;
  box-sizing: content-box;
  border: none;

  &:hover {
    background-color: #940833;
  }
}
