#form {

  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    h3 {
      margin: 30px 0 15px 0;
    }

    #error {
      margin-bottom: 30px;
      border: 1px solid red;
      padding: 5px;

      .title {
        margin-bottom: 10px;
      }
    }

    .user-information {

      display: flex;
      flex-direction: column;

    }

    .newsletter {
      p {
        display: inline-block;
      }
      margin: 20px 0;
    }

    input:not([type=checkbox]), select {
      margin: 0 20px 20px 20px;
      height: 27px;
    }

    label {
      margin: 0 20px 4px 20px;
    }

    .row.checkbox {

      label {
        margin: 20px 5px 20px 0;
      }

      input {
        margin: 20px 0;
        height: auto;
      }

    }

  }

}
