#form {

  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .user-information {

      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

        div {
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
        }
      }

    }

    input:not([type=checkbox]), select {
      margin: 0 20px 20px 20px;
      height: 27px;
    }

    label {
      margin: 0 20px 4px 20px;
    }

    .row.checkbox {

      label {
        margin: 20px 5px 20px 0;
      }

      input {
        margin: 20px 0;
        height: auto;
      }

    }

    input[type=submit] {
      background-color: #00AEE9;
      padding: 5px 60px;
      margin: 20px 0;
      color: white;
      box-sizing: content-box;
      border: none;

      &:hover {
        background-color: #36ccff;
      }
    }
  }

}
