#form {

  h3 {
    margin: 30px 0 15px 0;
  }

  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 40px 0;
  }

  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    p.hint {
      font-style: italic;
      text-align: center;
      font-size: 0.9em;
      border-top: 1px solid #C2C2C2;
      padding: 10px;
    }

    #error {
      margin-bottom: 30px;
      border: 1px solid red;
      padding: 5px;

      .title {
        margin-bottom: 10px;
      }
    }

    .user-information {

      .row {
        display: flex;
        flex-direction: column;
      }

    }

    .newsletter {
      p {
        display: inline-block;
      }
      margin: 20px 0;
    }

    input:not([type=checkbox]), select {
      margin: 0 20px 20px 20px;
      height: 27px;
    }

    input[type=submit] {
      margin-top: 20px;
    }

    label {
      margin: 0 20px 4px 20px;
    }

    .row.checkbox {

      label {
        margin: 20px 5px 20px 0;
      }

      input {
        margin: 20px 0;
        height: auto;
      }

    }

  }

}
