<% content_for :id, "order-rj" %>

<div class="row first confirmation">
  <div>
    <h2 class="font-light">Confirmation</h2>
  </div>

  <div>
    <div class="form-wrap">
      <div class="review">
        <%= render layout: "orders/confirmation" do %>

          <% if @order.payment_method == "postfinance" %>
            <%= render "orders/rj/confirmation/postfinance" %>
          <% elsif @order.payment_method == "invoice" %>
            <%= render "orders/rj/confirmation/invoice" %>
          <% end %>

        <% end %>
      </div>

    </div>
  </div>
</div>
