<% content_for :id, "order-rj" %>

<div class="row first">
  <div>
    <h2 class="font-light">Edition</h2>
  </div>

  <div>
    <div class="form-wrap">
      <div class="back"><%= link_to "Retour", { action: "confirmation" } %></div>

      <%= render 'form' %>
    </div>
  </div>
</div>
