<% content_for :id, "order-rj" %>

<div class="row first">
  <div>
    <h2 class="font-light">Inscris-toi</h2>
  </div>

  <div>
    <div class="form-wrap">
      <div class="back"><%= link_to "Retour sur le site", root_path %></div>

      <%= render 'form' %>
    </div>
  </div>
</div>
