<% content_for :id, "order-rj" %>

<div class="row first">
  <div>
    <h2 class="font-light">Inscris-toi</h2>
  </div>

  <!-- <p>
    Ici tu peux t'inscrire - toi et tes amis - pour tout le week-end. Tu as également la possibilité de prendre des places pour dormir ainsi
    que de t'engager comme bénévole.<br>
    Au terme de l'inscription, tu auras la possibilité de contrôler tes information puis procéder au payement en ligne. Tu recevras alors
    un code d'inscription par email qui te permettera de retirer ton-tes badge-s aux caisses lors de l'événement.
  </p> -->

  <div>
    <div class="form-wrap">
      <%= render 'form' %>
    </div>
  </div>
</div>
