<% content_for :id, "volunteers-index" %>

<%= content_for :header do %>
  <%= render "connect/page_header",
    link: connect_root_path,
    title: "Mes engagements" %>
<% end %>

<p>Mes engagements</p>

<% @orders.each do |order| %>

  <%= order.order_bundle.name %>

<% end %>
