@import '../components/variables';

#flash-sale {
  background: rgb(23, 255, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  .flash-sale-container {
    max-width: $main-width;
    padding: 8px $main-padding;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: row;

    p {
      margin: 0 10px;
      font-size: $normal-text;
    }

    a {
      background: rgb(150, 150, 255);
      color: #fff;
      border-radius: 8px;
      padding: 5px 10px;
      margin: 0 10px;
      animation-delay: .5s;
      text-transform: uppercase;
      font-size: $small-text;

      img {
        width: 18px;
        vertical-align: bottom;
      }

      &:hover {
        background: #3d3dff;
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .flash-sale-container {
      flex-direction: column;
      padding: 10px $mobile-padding;
    }
  }
}