@import '../base/variables';

footer {

  text-transform: uppercase;
  height: 130px;
  background-color: $grey;
  padding: 0 60px 0 60px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;


  .partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    a {
      color: black;
      padding-right: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    a {
      margin: 0 10px;
    }
  }

}

@media only screen and (max-width: $responsive-size) {
  footer {
    height: 260px;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;

    & > div {
      -webkit-box-flex: 1 !important;
          -ms-flex: 1 0 50% !important;
              flex: 1 0 50% !important;
    }
  }
}
