<h1>Politique de remboursement</h1>

<p>
  En raison des réglementations cantonales et fédérales suisses liées à la pandémie du Coronavirus, nous sommes tristes et désolés de devoir vous annoncer que la RJ est contrainte d’annuler son édition 2020 qui devait avoir lieu du 1er au 3 mai à Bulle (FR).
</p>
<p>
  La RJ génère le 90 % de ses recettes grâce aux ventes de billets. Cette annulation met donc la RJ dans une position difficile. En effet, les frais déjà engagés et irrécupérables pour l’édition 2020 sont déjà importants.
</p>
<p>
  Néanmoins, et malgré l’article 4 de nos conditions générales (*), la RJ désire laisser le choix à chacun.
</p>
<p>
  Jusqu’au vendredi 10 avril 2020, tu peux te connecter <a href="https://rencontredejeunesse.ch/signin">sur ton compte RJ Connect</a> et choisir une des deux options suivantes :
</p>

<ol>
  <li>Je soutiens la RJ et fais don du montant de mon inscription</li>
  <li>Je souhaite être remboursé<br>90% du montant te sera remboursé, en effet 10 % sont alloués aux frais de traitement</li>
</ol>

<p>
  Passé la date du 10 avril, tous les billets restants seront considérés comme des dons pour soutenir la RJ et lui permettre de faire face à cette annulation, et il ne sera plus possible de demander un remboursement pour l’édition 2020.<br>
</p>
<p> 
  Merci pour ta compréhension et ton fidèle soutien.
</p>

<h3>Faire un don</h3>
<p>
  De plus, et si le cœur t’en dit, tu as la possibilité de faire un don qui permettrait de pérenniser l’organisation des prochaines RJ. Tout soutien est bienvenu !
</p>
<center>
  Rencontre de jeunesse, 1607 Palézieux<br>
  IBAN CH91 0900 0000 1717 2886 0
</center>

<h3>Merci</h3>
<p>
  La RJ remercie du fond du cœur tous ses bénévoles qui ont soutenu et investi du temps jusqu’ici. Un grand merci à tous les participants qui nous motivent à avancer. On a hâte de tous vous retrouver du vendredi 30 avril au dimanche 2 mai 2021 et de vivre ce que Dieu nous réserve. <br>Prenez soin de vous !
</p>

<small>
*Article 4 de nos conditions générales <br>
Il n’y a aucun droit au remboursement des billets en cas d’annulation de la manifestation pour des faits ou des raisons non imputables à l’organisateur ou pour des raisons de force majeure, telles que, notamment, maladie ou accident d’un artiste ou de membres du personnel dont le remplacement n’est pas possible, grève du personnel, des transports, des services publics ou autres, incendie, inondations, insurrections, guerres, catastrophe naturelle, etc.
</small>