<h1>Ton remboursement</h1>

<p>
  Suite à la demande que tu as effectuée, les 90% du montant de ta commande ont été remboursé sur ton moyen de paiement.<br>
  Tu peux nous contacter via le formulaire de contact si tu n'as rien reçu d'ici quelques jours.
</p>

<p>
  La RJ
</p>