<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
    <style type="text/css">
    body {
        width: 400px;
        margin: 100px auto;
        font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    }
    h1 {
        font-weight: 300;
        text-align: center;
    }
    .bottom {
        padding: 100px 0 5px 0;
        bottom: 0;
        font-size: 12px;
        text-align: center;
    }
    .bottom img {
        padding: 10px 0 0 0;
    }
    </style>
</head>
<body>
    <h1>Maintenance</h1>

    <p>On est de retour <%= ENV['UNTIL'] ? "dans #{ENV['UNTIL']}" : "bientôt" %>.<br></p>

    <center><img src="http://storage.googleapis.com/reseaujeunesse-ch/my-assets/images/miscellaneous/deploy/man27.png"></center>

    <p class="bottom">
        Si ce message persiste trop longtemps, contactez kocher.ke@gmail.com
    </p>
</body>
</html>