---
---

<section>
  <h3>PARTENAIRES</h3>
  <div class="partners">
    <img src="/2025/parteners/topchretien.png">
    <img src="/2025/parteners/doxatech.png">
    <img src="/2025/parteners/cashsolutions.png">
  </div>
  <button>DEVENIR PARTENAIRE</button>
</section>

<style lang="scss">
  @import "../../styles/variables.scss";

  section {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    .partners {
      display: flex;
      justify-content: center;
      gap: $blank-space;
      padding-top: $blank-space;
      padding-bottom: $blank-space;
    
      img {
        max-width: 25%;
        height: auto;
        object-fit: contain;
      }
    }

    h3 {
      font-size: $sub-title * 1.5;
      position: relative;
      max-width: fit-content;
      z-index: 1;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: $sub-title / 8;
        width: calc(100% + $sub-title / 4);
        height: $sub-title / 4;
        background: #c32828;
        z-index: -1;
      }
    }

    button {
      color: #c32828;
      font-size: $large-text * 1.25;
      font-weight: bold;
      padding: $large-text;
      padding-top: $large-text / 1.5;
      padding-bottom: $large-text / 1.5;
      border: none;
      border-radius: $large-text * 1.5;
      margin-bottom: $blank-space * 2;
    }

    @media screen and (max-width: $mobile-width) {
      .partners {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 30px;

        img {
          max-width: 60%;
        }
      }
    }
  }
</style>
