---
---

<section>
  <h3>PARTENAIRES</h3>
  <img src="/2025/parteners/topchretien.png">
  <img src="/2025/parteners/doxatech.png">
  <img src="/2025/parteners/cashsolutions.png">
  <button>DEVENIR PARTENAIRE</button>
</section>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/button-bar";
  @import "../../styles/tooltip";

  section {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      padding-top: $blank-space * 2;
      max-width: 60%;
    }

    h3 {
      font-size: $title-size;
      position: relative;
      max-width: fit-content;
      z-index: 1;
      color: #fff;
      padding-top: $blank-space * 2;

      &:after {
        content: "";

        width: 100%;
        height: $title-size / 10;
        background: red;
        padding-right: $title-size / 10;
        left: 0px;

        position: absolute;
        background: #c32828;
        bottom: calc($blank-space - ($title-size / 100));
        z-index: -1;
      }
    }

    button {
      background: #fff;
      color: #c32828;
      border: none;

      margin-top: $blank-space * 2;
      margin-bottom: $blank-space * 3;

      font-family: lato;
      font-size: $medium-title;
      font-weight: bold;
      width: fit-content;

      padding: ($main-padding / 2) ($main-padding) ($main-padding / 2) ($main-padding);
      border-radius: $title-size;
    }

    @media only screen and (max-width: $mobile-width) {
      margin: 0 !important;
      padding: 0 !important;

      .section-container {
        h2 {
          padding: 0 0 0 10px !important;
        }
      }
    }
  }
</style>
