---
---

<section>
    <div class="content">
        <h3>NOUS SOUTENIR</h3>
        <div id="text">
            <p>Vestibulum sed mi orci. Mauris tortor lacus, egestas ac porttitor a, maximus at metus. Etiam aliquam nec lacus ac tincidunt. Pellentesque quis hendrerit quam, ac ultrices eros.</p>
            <img src="/public/2025/icons/support.png" alt="">
        </div>
        <div id="buttons">
            <button>SOUTENIR LA RJ</button><button>DEVENIR BÉNÉVOLE</button>
        </div>
    </div>
    <div class="background">
    </div>
  </section>
  
  <style lang="scss">
    @import "../../styles/variables.scss";
  
    section {
        h3 {
            font-size: $sub-title * 1.5;
            position: relative;
            max-width: fit-content;
            z-index: 1;
            color: #fff;

            &:after {
                content: "";

                width: 100%;
                height: $title-size / 10;
                padding-right: $title-size / 10;
                left: 0px;

                position: absolute;
                background: #e7d42b;
                bottom: calc($blank-space - ($title-size / 100));
                z-index: -1;
            }
        }

        img {
            max-height: 20px;
        }
    }
  </style>
  