---
---

<section>
  <div class="section-container">
    <div class="next">
      <div class="login">
        <h3>RJ LOGIN</h3>
        <p>1 février 2025<br>Neuchâtel</p>
        <a href="/login" class="global-link"></a>
        <div class="mask"></div>
      </div>
      <div class="rj">
        <h3>RJ25</h3>
        <p>2 et 3 mai 2025<br>Multisites</p>
        <a href="#" class="global-link"></a> 
        <div class="mask"></div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/button-bar";

  section {
    .section-container {
      display: flex;
      flex-direction: row;
      height: 340px;

      ._common-tiles {
        font-size: $large-text;
        padding: 20px 30px 30px 30px;
        position: relative;
        transition: all 0.5s;

        background-size: cover;
        background-position: 50% 30%;

        display: flex;
        flex: 6;
        align-items: left;
        justify-content: flex-end;
        flex-direction: column;

        h3 {
          position: relative;
          z-index: 2;
        }

        a.global-link {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: all 0.5s;
          z-index: 2;
        }

        .mask {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: all 0.5s;
          z-index: 1;
        }
      }

      div.next {
        display: flex;
        flex-direction: column;
        flex: 2;
        background: #000;
        color: #fff;

        .login {
          background-image: url("/2025/photos/hands_1.jpg");
          background-size: cover;
          background-position: center center;
          
          box-shadow: inset -220px 0 250px -70px rgba(0,0,0,1);

          height: 40%;
        }
      }
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        flex-direction: column;
      }
    }
  }
</style>
