---
---

<section>
  <div class="section-container">
    <div class="next">
      <div class="login">
        <h3>RJ LOGIN</h3>
        <p>1 février 2025<br>Neuchâtel</p>
        <a href="/login" class="global-link"></a>
      </div>
      <div class="rj">
        <h3>RJ25</h3>
        <p>2 et 3 mai 2025<br>Multisites</p>
        <a href="#" class="global-link"></a> 
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/button-bar";

  section {
    .section-container {
      display: flex;
      flex-direction: row;
      

      ._common-tiles {
        font-size: $large-text;
        padding: 20px 30px 30px 30px;
        position: relative;
        transition: all 0.5s;

        background-size: cover;
        background-position: 50% 30%;

        display: flex;
        flex: 6;
        align-items: left;
        justify-content: flex-end;
        flex-direction: column;

        h3 {
          position: relative;
          z-index: 2;
        }
      }

      div.next {
        display: flex;
        flex-direction: column;
        flex: 2;
        background: #000;
        color: #fff;
        min-height: max-content;
        gap: $blank-space;

        div {
          min-height: fit-content;
          padding: $blank-space;
          position: relative;
          padding-bottom: $blank-space * 2.5;
          margin-bottom: $blank-space * 2;

          h3 {
            font-size: $title-size;
            position: relative;
            max-width: fit-content;
            padding-bottom: $blank-space;
            z-index: 1;

            &:after {
              content: "";

              width: 100%;
              height: $title-size / 10;
              background: red;
              padding-right: $title-size / 10;
              left: 0px;

              position: absolute;
              background: #4f2c92;
              bottom: ($title-size / 10);
              z-index: -1;
            }
          }

          p {
            font-size: $sub-title;
            font-weight: bold;
          }

          a {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;
          }
        }

        .login {
          background-image: url("/2025/photos/hands_1.jpg");
          background-size: cover;
          background-position: center center;
          
          box-shadow: inset -220px 0 250px -70px rgba(0,0,0,1);

          height: 40%;
        }

        .rj {
          background-image: url("/2025/photos/crowd_6.jpg");
          background-size: cover;
          background-position: center center;
          
          box-shadow: inset 220px 0 250px -70px rgba(0,0,0,1);

          height: 40%;

          display: flex;
          flex-direction: column;
          align-items: flex-end;

          text-align: right;

          h3:after {
            transform: translateX(-$title-size / 10);
            right: 0px;
          }
        }
      }
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        flex-direction: column;
      }
    }
  }
</style>
