---
---

<section>
  <div class="login">
    <h3>RJ LOGIN</h3>
    <p>31 janvier 2026<br></p>
    <a href="/login" class="global-link"></a>
    <div class="background"></div>
  </div>
  <div class="rj">
    <h3>RJ26</h3>
    <p>1 au 3 mai 2026<br>Bulle</p>
    <a href="/2026" class="global-link"></a> 
    <div class="background"></div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables.scss";

  $sub-title: $large-text * 2;

  section {
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    padding-top: $blank-space;
    padding-bottom: $blank-space;

    p {
      font-size: $large-text * 1.25;
    }

    div {
      max-height: 300px;
    }

    .login {
      position: relative;
      padding: $blank-space;
      padding-left: 0px;
      padding-right: 0px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      
      h3 {
        font-size: $sub-title * 1.5;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: calc($sub-title / 8);
          width: calc(100% + $sub-title / 4);
          height: calc($sub-title / 4);
          background: #4f2c92;
          z-index: -1;
        }
      }
      p, h3 {
        margin-left: $blank-space;
      }

      .background {
        position: absolute;
        top: 0px;
        z-index: -10;

        width: 50%;
        height: 100%;
        background-image: url("/2025/photos/hands_1.jpg");
        background-size: cover;
        background-position: center center;
        box-shadow: inset -220px 0 250px -70px rgba(0,0,0,1);

        &::after {
          content: "";
          position: absolute;
          right: -1px;
          width: 25%;
          height: 100%;
          background: rgb(0,0,0);
          background: linear-gradient(270deg, rgba(0,0,0,1) 22%, rgba(0,212,255,0) 100%);
        }
      }
    }

    .rj {
      position: relative;
      padding: $blank-space;
      padding-left: 0px;
      padding-right: 0px;

      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      gap: 10px;

      p {
        text-align: right;
      }
      h3 {
        font-size: $sub-title * 1.5;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          right: calc($sub-title / 8);
          width: calc(100% + $sub-title / 4);
          height: calc($sub-title / 4);
          background: #4f2c92;
          z-index: -1;
        }
      }
      p, h3 {
        margin-right: $blank-space;
      }

      .background {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -10;

        width: 50%;
        height: 100%;
        background-image: url("/2025/photos/crowd_6.jpg");
        background-size: cover;
        background-position: center center;
        box-shadow: inset -220px 0 250px -70px rgba(0,0,0,1);

        &::after {
          content: "";
          position: absolute;
          width: 25%;
          height: 100%;
          left: -1px;
          background: rgb(0,0,0);
          background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(0,212,255,0) 100%);
        }
      }
    }
    .rj a, .login a {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: 10;
    }
  }
</style>
