---
---

<section>
  <div class="content">
    <h3>VISION</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus mauris tempor nunc finibus, viverra ullamcorper libero aliquet. Nam a mollis ante. Aliquam erat volutpat.</p>
    <button>PARCOURIR LA VISION</button>
  </div>
  <div class="background">
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables.scss";
  
  section {
    padding: $blank-space;
    display: flex;
    flex-direction: row-reverse;
    gap: $blank-space * 2;
    color: #fff;

    p {
      font-size: $normal-text;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      button {
        color: #b21d77;
        font-size: $large-text;
        font-weight: bold;
        padding: $large-text;
        padding-top: $large-text / 1.5;
        padding-bottom: $large-text / 1.5;
        border: none;
        border-radius: $large-text * 1.5;
      }

      p {
        margin-top: $blank-space;
        margin-bottom: $blank-space;
      }

      h3 {
        font-size: $sub-title;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: $sub-title / 8;
          width: calc(100% + $sub-title / 4);
          height: $sub-title / 4;
          background: #b21d77;
          z-index: -1;
        }
      }
    }
    .background {
      background-image: url("/2025/photos/crowd_1.jpg");
      background-size: cover;
      background-position: center center;
      position: relative;

      width: 100%;
      min-width: 50%;
      aspect-ratio: 1987 / 1325;

      &::after {
        content: "";
        position: absolute;
        right: -1px;
        width: 25%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(270deg, rgba(0,0,0,1) 22%, rgba(0,212,255,0) 100%);
      }
      &::before {
        content: "";
        position: absolute;
        right: -1px;
        width: 20%;
        aspect-ratio: 1 / 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/2025/icons/eye.png");
        z-index: 100;
        transform: translateY(-25%) rotate(15deg);
      }
    }
  }
</style>