---
---

<section>
  <div class="section-container">
    <div class="fade">
    </div>
    <div class="content">
      <div class="row">
        <h3>VISION</h3>
        <img src="/2025/icons/eye.png">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus mauris tempor nunc finibus, viverra ullamcorper libero aliquet. Nam a mollis ante. Aliquam erat volutpat.</p>
      <button>PARCOURIR LA VISION</button>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/button-bar";

  section {
    .section-container {
      min-height: fit-content;
      padding: $blank-space;
      position: relative;
      padding-bottom: $blank-space * 2.5;

      display: flex;
      flex-direction: row;

      background-image: url("/2025/photos/crowd_1.jpg");
      background-size: cover;
      background-position: center center;

      .fade {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;

      }

      .content {
        display: flex;
        flex-direction: column;
        padding: $blank-space;
        padding-bottom: $blank-space * 2.5;
        z-index: 2;

        .row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: $blank-space;

          h3 {
            font-size: $title-size;
            position: relative;
            max-width: fit-content;
            z-index: 1;
            color: #fff;

            &:after {
              content: "";

              width: 100%;
              height: $title-size / 10;
              background: red;
              padding-right: $title-size / 10;
              left: 0px;

              position: absolute;
              background: #b21d77;
              bottom: calc($blank-space - ($title-size / 100));
              z-index: -1;
            }
          }

          img {
            max-height: 70px;
            transform: rotate(20deg);
          }
        }

        p {
          font-size: $medium-title;
          line-height: 130%;
          color: #fff;
          padding-bottom: $blank-space;
        }

        button {
          background: #fff;
          color: #b21d77;
          border: none;

          font-family: lato;
          font-size: $medium-title;
          font-weight: bold;
          width: fit-content;

          padding: ($main-padding / 2) ($main-padding) ($main-padding / 2) ($main-padding);
          border-radius: $title-size;
        }
      }
    }
    @media only screen and (max-width: $mobile-width) {
      .section-container {
        padding: 0 !important;

        div.poster,
        div.title {
          flex: 1 !important;
        }
      }
    }
  }
</style>
