---
---

<section>
  <div class="section-container">
    <div class="row1">
      <h1>Bienvenue<br />à la <span>rencontre</span><br />de jeunesse</h1>
    </div>

    <div class="row1-2">
      <a href="/2024#inscription">S'inscrire</a>
    </div>
    <!--
    <div class="row2">
      <div class="app">
        <h3>Télécharge notre appli!</h3>
        <a target="_blank" href="https://itunes.apple.com/us/app/rj/id1102561198?l=fr&ls=1&mt=8"><%= image_tag "home/welcome/app-store.svg" %></a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.id1lnx0as1aunq3r129xr5d"><%= image_tag "home/welcome/google-play.svg" %></a>
      </div>
    </div>
    -->
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section {
    background-image: url("/home/welcome/background.jpg");
    background-size: cover;

    width: 100%;
    height: 100vh;
    min-height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;

    .section-container {
      height: 100%;
      width: 100%;
      max-width: $main-width;
      padding: $logo-burger-height $main-padding 0 $main-padding;

      display: flex;
      flex-direction: column;

      div.row1 {
        flex: 1;
        display: flex;
        align-items: center;

        h1 {
          font-size: $title-size;
          line-height: 1.1em;
          font-family: "Helvetica neue", "Helvetica", sans-serif;
          color: #fff;
          padding: 0 0 0 $sub-padding;

          span {
            position: relative;
            z-index: 1;

            &::after {
              position: absolute;
              content: "";
              left: -0.1em;
              right: -0.3em;
              bottom: 0.1em;
              height: 20px;
              background-color: #f56953;
              z-index: -1;
            }
          }
        }
      }

      div.row1-2 {
        padding: 0 0 0 $sub-padding;

        a {
          position: relative;
          z-index: 0;
          display: block;
          background-color: transparent;
          border: none;
          color: #fff;
          margin: 40px 0 50px 0;
          font-size: $sub-title;
          font-weight: bold;
          text-transform: lowercase;

          &::after {
            content: "";
            position: absolute;
            background-color: #fbbaa4;
            left: 0;
            bottom: -5px;
            height: 20px;
            width: 4.8em;
            z-index: -1;
            transition: background-color 0.5s ease-out;
          }

          &:hover::after {
            background-color: #fc8ae1;
          }
        }
      }

      div.row2 {
        color: #fff;
        height: 200px;
        display: flex;
        align-items: center;

        div.app {
          padding: 0 0 0 $sub-padding;

          h3 {
            padding: 0 0 20px 0;
          }

          img {
            width: 100px;
          }
        }
      }
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        padding: 0 $mobile-padding !important;

        div.row2 {
          h1 {
            padding: 100px 0 40px 0 !important;
          }

          p {
            padding: 0 !important;
          }
        }

        div.row3 {
          div.app {
            padding: 0 !important;
          }
        }
      }
    }
  }
</style>
