---
---

<section>
  <div class="section-container">
    <div class="row1">
      <img src="/2025/icons/his_name_is_life.png" id="logo" />
    </div>
    <div class="row2">
      <h1>3-5 MAI<br> 2024</h1>
      <button>INSCRIPTION</button>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section {
    background-image: url("/2025/photos/background.jpg");
    background-position: top center;
    background-size: cover;

    width: 100%;
    height: 100vh;
    min-height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;

    .section-container {
      height: 100%;
      width: 100%;

      padding: $logo-burger-height $main-padding 0 $main-padding;

      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;

      gap: 20px;

      box-shadow: inset 0 -40vh 10vh -10vh #000000;

      div.row1 {
        img {
          height: 37.5vh;
        }
      }

      div.row2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 7.5vh;

        h1 {
          color: #fff;
          font-size: $title-size;
          text-align: center;
        }
        button {
          background: #fff;
          color: #288084;
          border: none;

          font-family: lato;
          font-size: $sub-title;
          font-weight: bold;
          width: fit-content;

          padding: ($main-padding / 3) ($main-padding) ($main-padding / 3) ($main-padding);
          border-radius: $title-size;
        }
      }
    }

    @media only screen and (min-width: $mobile-width) {
      .section-container {
        flex-direction: row-reverse;
        justify-content: center;
        position: relative;

        .row1 {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          #logo {
            position: relative;
            width: 30%;
            height: auto;
            padding-right: 2 * $blank-space;
          }
        }
      }
    }
  }
</style>
