<section id="register">
  <div class="section-container">

    <h2>Comment s’inscrire à la RJ 2019 en tant que bénévole ?</h2>
    <p>
      Tu t'engages à servir à la RJ en t'inscrivant simplement via le formulaire ci-dessous. S'inscrire comme bénévole implique une responsabilité mais octroie aussi quelques avantages.
    </p>

    <h3>Toutes les informations à savoir</h3>
    <p>
      Prix d’entrée pour un bénévole : 50 CHF / Echéance du 02.02.2019 au 14.04.2019<br>
      <i>En plus de ce prix préférentiel, tu recevras un bon repas d'une valeur de 10 CHF.</i>
    </p>
    <p>
      Un bénévole s’engage à servir environ 3h à 4h par jour, selon les besoins de la RJ. Il peut toutefois donner ses préférences au service.
    </p>
    <p>
      D’avance nous vous remercions pour votre engagement et votre désir de contribuer au bon fonctionnement de la Rencontre de Jeunessse.
    </p>

    <% if @order_bundle %>

    <h3 id="letsgo" class="ready">Alors prêt à t’inscrire maintenant ?</h3>

    <div>
      <p class="link"><%= link_to "S'engager", new_option_order_path(@order_bundle.key) %></p>
    </div>

    <% else %>

    <h3 id="letsgo" class="ready">A l'année prochaine</h3>

    <p>
      Les inscriptions bénévoles sont terminées pour cette année. Reviens pour la RJ 2020 !
    </p>

    <% end %>

  </div>
</section>
