
<div class="header">
  <div>
    <h1>Codes promotionels</h1>
  </div>
  <%= image_tag "admin/icons/badge.png", class: "icon-img" %>
</div>

<div class="container">
  <%= @table.present(buttons: "buttons") %>
</div>
