<section id="application-footer" class="<%= yield :id %>">

  <div class="section-container">
    <div class="partners">
      <div class="content-wrap">
        <p>Partenaires</p>
        <p>
          <a href="https://vecteurcom.com" target="_blank">Vecteurcom</a> · <a href="http://cash-solutions.ch" target="_blank">Cash Solutions</a> · <a href="https://doxatech.ch" target="_blank">DOXATECH</a> · <a href="https://www.topchretien.com" target="_blank">TOPCHRÉTIEN</a> · <a href="http://www.ligue.ch" target="_blank">Ligue pour la lecture de la Bible</a>
        </p>
        <div>
          <p class="address">Rencontre de jeunesse, 1607 Palézieux<br>
          IBAN CH91 0900 0000 1717 2886 0<br>
          Copyright © 2020</p>
        </div>
      </div>
    </div>
    <div class="social-medias">
      <p>
        <a href="https://facebook.com/rencontredejeunesse" target="_blank"><%= image_tag "home/footer/facebook.svg" %></a>
        <a href="https://www.instagram.com/rencontredejeunesse" target="_blank"><%= image_tag "home/footer/instagram.svg" %></a>
        <a href="https://www.youtube.com/user/RencontredeJeunesse" target="_blank"><%= image_tag "home/footer/youtube.svg" %></a>
      </p>
    </div>
  </div>



</section>
