---
---

<section>
  <div class="section-container">
    <div class="form">
      <h2>contact</h2>

      <form
        class="new_contact"
        id="new_contact"
        action="/contact"
        accept-charset="UTF-8"
        method="post"
      >
        <select name="contact[category]" id="contact_category"
          ><option value="order">Commandes</option>
          <option value="group_order">Commande pour un groupe</option>
          <option value="bug">Signaler un bug</option>
          <option value="general">Question générale</option>
        </select>

        <input
          placeholder="Prénom"
          required="required"
          type="text"
          name="contact[firstname]"
          id="contact_firstname"
        />

        <input
          placeholder="Nom"
          required="required"
          type="text"
          name="contact[lastname]"
          id="contact_lastname"
        />

        <input
          placeholder="Sujet"
          required="required"
          type="text"
          name="contact[subject]"
          id="contact_subject"
        />

        <input
          placeholder="Email"
          required="required"
          type="email"
          name="contact[email]"
          id="contact_email"
        />

        <textarea
          placeholder="Message"
          cols="30"
          rows="10"
          required="required"
          name="contact[message]"
          id="contact_message"></textarea>

        <script src="https://hcaptcha.com/1/api.js" async="" defer=""></script>
        <div
          class="h-captcha"
          data-sitekey="b4753cb9-88e5-4594-bda2-ad5a0aab862c"
        >
          <iframe
            src="https://newassets.hcaptcha.com/captcha/v1/6fdad99/static/hcaptcha.html#frame=checkbox&id=0mi392g7l6bp&host=rencontredejeunesse.ch&sentry=true&reportapi=https%3A%2F%2Faccounts.hcaptcha.com&recaptchacompat=true&custom=false&hl=en&tplinks=on&sitekey=b4753cb9-88e5-4594-bda2-ad5a0aab862c&theme=light&origin=https%3A%2F%2Frencontredejeunesse.ch"
            tabindex="0"
            scrolling="no"
            title="Widget containing checkbox for hCaptcha security challenge"
            data-hcaptcha-widget-id="0mi392g7l6bp"
            data-hcaptcha-response=""
            style="width: 303px; height: 78px; overflow: hidden;"
            frameborder="0"></iframe><textarea
            id="g-recaptcha-response-0mi392g7l6bp"
            name="g-recaptcha-response"
            style="display: none;"></textarea><textarea
            id="h-captcha-response-0mi392g7l6bp"
            name="h-captcha-response"
            style="display: none;"></textarea>
        </div>

        <div class="input home">
          <input
            type="submit"
            name="commit"
            value="Envoyer"
            data-disable-with="Envoyer"
          />
        </div>
      </form>
    </div>

    <div class="address">
      <p>
        Association Rencontre de Jeunesse<br />
        1607 Palézieux<br />
        Suisse
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables";

  section {
    position: relative;

    .section-container {
      display: flex;
      flex-direction: row;
      max-width: $main-width;
      margin: auto;
      padding: 0 $main-padding;
      font-family: "Helvetica neue", "Helvetica", sans-serif;

      div.form {
        flex: 1;
        background-color: #fff;
        z-index: 1;

        h2 {
          font-size: $title-size;
          line-height: 0.9en;
          padding: 50px 0 70px 0;
        }

        form {
          width: 80%;
          margin: auto;

          input:not([type="submit"]) {
            display: block;
            width: 100%;
            padding: 5px 10px;
            margin: 0 0 15px 0;
            background-color: #ebebeb;
            border: none;
          }

          textarea {
            display: block;
            width: 100%;
            background-color: #ebebeb;
            border: none;
            padding: 5px 10px;
            //color: #aaa;
          }

          select {
            background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
            background-color: #3498db;
            background-repeat: no-repeat;
            background-position: right 10px top 15px;
            background-size: 16px 16px;
            margin: 0 0 15px 0;
            padding: 12px;
            width: auto;
            color: #6d6869;
            background-color: #ebebeb;
            width: 100%;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -webkit-appearance: none;
            border: 0;
            outline: 0;
            -webkit-transition: 0.3s ease all;
            -moz-transition: 0.3s ease all;
            -ms-transition: 0.3s ease all;
            -o-transition: 0.3s ease all;
            transition: 0.3s ease all;
          }

          div.input {
            position: relative;
            z-index: 0;

            input[type="submit"] {
              display: block;
              background-color: transparent;
              border: none;
              color: #000;
              margin: 40px 0 50px 0;
              font-size: $sub-title;
              font-weight: bold;
              text-transform: lowercase;
            }

            &::after {
              content: "";
              position: absolute;
              background-color: #1ae4ad;
              left: 0;
              bottom: -5px;
              height: 20px;
              width: 150px;
              z-index: -1;
              transition: background-color 0.5s ease-out;
            }

            @keyframes contact-button {
              0% {
                background-color: #17a4ac;
              }
              50% {
                background-color: #17a4ac;
              }
              80% {
                background-color: #1ae4ad;
              }
              100% {
                background-color: #17a4ac;
              }
            }

            &:hover::after {
              background-color: #17a4ac;
              animation-name: contact-button;
              animation-duration: 5s;
              animation-delay: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
          }
        }
      }

      div.address {
        flex: 1;
        font-weight: bold;
        font-size: $sub-title;
        position: relative;
        z-index: -1;

        p {
          padding-top: 165px;
        }
      }

      div.h-captcha {
        padding: 10px 0 0 0;
      }
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        flex-direction: column !important;
        padding: 0 $mobile-padding 80px $mobile-padding;

        div.form {
          h2 {
            padding: 40px 0 30px 0;
          }

          form {
            width: 100% !important;

            input[type="submit"] {
              margin: 20px 0 30px 0 !important;
            }
          }
        }

        div.address {
          p {
            padding: 0 !important;
          }
        }
      }
    }
  }
</style>
