---
import { ContactForm } from "./ContactForm";
---

<section>
  <div class="menu">

  </div>
  <div class="section-container">
    <div class="form">
      <h2>contact</h2>

      <ContactForm client:load />
    </div>

    <div class="address">
      <p>
        Association Rencontre de Jeunesse<br />
        1607 Palézieux<br />
        Suisse
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables";

  section {
    position: relative;
    background-color: #fafafa;

    .menu {
      height: 90px;
      background-color: #000;
    }

    .section-container {
      display: flex;
      flex-direction: row;
      max-width: $main-width;
      margin: auto;
      padding: 0 $main-padding;
      font-family: "Helvetica neue", "Helvetica", sans-serif;

      div.form {
        flex: 1;
        z-index: 1;

        h2 {
          font-size: $title-size;
          line-height: 0.9en;
          padding: 50px 0 70px 0;
        }

      }

      div.address {
        flex: 1;
        font-weight: bold;
        font-size: $sub-title;
        position: relative;
        z-index: -1;

        p {
          padding-top: 165px;
        }
      }
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        flex-direction: column !important;
        padding: 0 $mobile-padding 80px $mobile-padding;

        div.form {
          h2 {
            padding: 40px 0 30px 0;
          }
        }

        div.address {
          p {
            padding: 0 !important;
          }
        }
      }
    }
  }
</style>
