<section id="comitee">

  <div class="section-container">
    
    <div class="title">
      <div class="first-half">
        <h2>Le comité</h2>
      </div>
      <div class="second-half"></div>
    </div>

    <div class="people">
      <div class="someone">
      </div>
    </div>
  </div>

</section>