<section id="intro">

  <div class="section-container">
    <div class="row-title">
      <div class="first-half"></div>
      <div class="second-half">
        <h2>Plus qu'une<br>conférence</h2>
      </div>
    </div>

    <div class="row-text">
      <div class="first-half">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <div class="second-half"></div>
    </div>

  </div>

  <div class="banner"></div>

</section>