<section id="banner">

  <div class="section-container">
    <div class="row1">
      <%= image_tag "layout/logo.png", class: "logo" %>
      <%= image_tag "layout/burger.svg", id: "header-btn" %>
    </div>

    <div class="row2">
      <h1>RJLogin</h1>
      <p>Une journée avec plus de 300 leaders,<br>
      co-leaders et futurs leaders de groupe de jeunes</p>
    </div>

  </div>

</section>