<section id="guest">

  <div class="section-container">
    <%= image_tag "login/guest/avatar.jpg" %>
    <p>avec DAVID Bonhomme</p>
    <p>Titre, église</p>

    <%= image_tag "login/guest/avatar.jpg" %>
    <p>avec Hélène Bonhomme</p>
    <p>Titre, église</p>

    <%= image_tag "login/guest/avatar.jpg" %>
    <p>avec HILLSONG Genève</p>
    <p>Worship group</p>
  </div>

</section>
