<section id="program">

  <div class="section-container">
    <h2>Au programme</h2>
    <p>
      La vision de la RJ Login est d'accompagner les leaders dans leur rôle en les encourageant, les bénissant et les équipant. La journée permet de rassembler des centaines de leaders afin qu'ils puissent échanger entre eux et repartir avec une vision large et rafraichie de l'action continuelle de Dieu. Ressourcés et équipés, les leaders peuvent continuer à oeuvrer pour que Son Royaume prenne place sur terre, comme au ciel !
    </p>

    <h3>Input</h3>
    <p>
      Des messages encourageants et édifiants sont donnés durant la journée avec de la louange pour nous emmener dans la présence de Dieu.
    </p>
    <h3>Ateliers</h3>
    <p>
      Plusieurs ateliers sont proposés afin de donner des clés concrètes et pertinentes pour le travail de leader.
    </p>
    <h3>Connexion</h3>
    <p>
      Des temps libres durant l'événement permettent de discuter et partager avec d'autres leaders venant de toute la Suisse romande.
    </p>
    <h3>Espace RJ</h3>
    <p>
      La journée est une occasion de partager la vision de la RJ, de lever des bénévoles et de distribuer des packs de communication.
    </p>

    <h2>Horaires</h2>
    <p>Retrouve prochainement le programme précis de la journée dans cette section !</p>
  </div>

</section>
