<section id="program">

  <div class="section-container">
    <h2>Au programme</h2>
    <p>
      Brenden Brown, pasteur à Hillsong Sydney, sera l’orateur du jour
    </p>
    <p>
      Nous vivrons des temps de louange puissants avec le groupe du PAP (Neuchâtel)
    </p>
    <p>
      Temps de partage, discussion, inspiration
    </p>
    <p>
      Des coins lounge pour favoriser les amitiés et réseautage
    </p>
    <p>
      Des temps de ministère pour être impactés
    </p>
    <p>
      3 repas pris ensemble
    </p>

  <h2>Horaires</h2>
    <p>
      09h00		Café-croissants
    </p>
    <p>
      10h00		Louange & message
    </p>
    <p>
      12h30		Pause de midi
    </p>
    <p>
     13h30		Session RJ & ateliers
    </p>
    <p>
      18h00		Souper
    </p>
    <p>
      19h00		Louange, message & temps de ministère
  </div>

</section>