<section id="register">

  <div class="section-container">
    <h2>Inscription</h2>
    <p>
      <b>Prix: 25.- CHF/personne</b> à payer sur place (repas chaud le soir compris dans ce prix)
    </p>
    <p>
      <b>N’oublie pas de prendre un pique-nique pour midi!</b>
    </p>
    <p>
      Inscris-toi à l’aide de ce formulaire en ligne. Cette journée est ouverte à tous les leaders.
    </p>

    <form>
      <input type="text" placeholder="Nom"/>
      <input type="text" placeholder="Prenom"/>
      <input type="text" placeholder="Email"/>
      <input type="text" placeholder="Tél."/>
      <input type="text" placeholder="Nom du groupe de jeunes"/>
      <input type="text" placeholder="Lieu du groupe de jeunes"/>
      <input type="text" placeholder="Responsable du groupe de jeunes"/>
      <div class="input">
        <input type="submit" value="S'inscrire">
      </div>
    </form>
  </div>

</section>