<h2>Ton compte risque d'être supprimé !</h2>

<p>
  Bonjour,<br>
  Tu possèdes un compte avec cette adresse email sur le site de la Rencontre de Jeunesse <a target="_blank" href="https://rencontredejeunesse.ch">rencontredejeunesse.ch</a>.
  Il manque des informations à ton compte, c'est pourquoi nous te demandons d'aller mettre à jour ton profil.
</p>
<p>
  <b>Les étapes à suivre:</b><br>
  - Connecte-toi avec ton email sur <a target="_blank" href="https://rencontredejeunesse.ch/signin">rencontredejeunesse.ch/signin</a><br>
  <small>Après t'être connecté, tu seras normalement sur la page <a target="_blank" href="https://rencontredejeunesse.ch/connect">/connect</a></small><br>
  - Clique sur l'icone "Paramètres"<br>
  - Remplis le formulaire avec toutes les informations demandées<br>
  <small>Un message de succès apparait lorsque les informations sont valides</small><br>
</p>

<p>
Si le compte n'est pas mis à jour dans 2 semaines, celui-ci sera supprimé définitivement. Si tu as des questions: <a href="mailto:we@jstech.ch">we@jstech.ch</a><br>
Merci de ta compréhension !
</p>

<p>
  A bientôt sur le RJ Connect
</p>