---
---

<section>
  <div class="section-container">
    <h2>Programme</h2>
    <h3>Oron</h3>
    <div class="days">
      <div class="day">
        <h4>Vendredi</h4>
        <p>18h00: ouverture des portes</p>
        <p>20h00: Plénière</p>
        <p>23h00: Fin de la soirée</p>
      </div>
      <div class="day">
        <h4>Samedi</h4>
        <p>9h00: ouverture des portes</p>
        <p>10h00: Plénière</p>
        <p>14h00: Atelier</p>
        <p>20h00: Plénière</p>
        <p>00h00: Fermeture des portes</p>
      </div>
      <div class="day">
        <h4>Dimanche</h4>
        <p>9h00: ouverture des portes</p>
        <p>10h00: Plénière</p>
        <p>14h00: Plénière</p>
        <p>15h00: FIN</p>
      </div>
    </div>

    <h3>Tavane</h3>
    <div class="days">
      <div class="day">
        <h4>Vendredi</h4>
        <p>18h00: ouverture des portes</p>
        <p>20h00: Plénière</p>
        <p>23h00: Fin de la soirée</p>
      </div>
      <div class="day">
        <h4>Samedi</h4>
        <p>9h00: ouverture des portes</p>
        <p>10h00: Plénière</p>
        <p>14h00: Atelier</p>
        <p>20h00: Plénière</p>
        <p>00h00: Fermeture des portes</p>
      </div>
      <div class="day">
        <h4>Dimanche</h4>
        <p>9h00: ouverture des portes</p>
        <p>10h00: Plénière</p>
        <p>14h00: Plénière</p>
        <p>15h00: FIN</p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section {
    display: flex;
    justify-content: center;
    background-color: #617a64;
    font-family: bebas, sans-serif;
    letter-spacing: 0.1em;

    .section-container {
      max-width: $main-width;
      padding: 80px 50px;

      h2 {
        font-size: $sub-title;
        text-transform: uppercase;
        padding: 0 0 30px 0;
        color: #fff;

        &:not(:nth-of-type(1)) {
          padding-top: 40px;
        }
      }

      h3 {
        color: #fff;
        padding: 40px 0 20px 0;
      }

      .days {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        border-top: 2px dashed white;
        padding: 20px 0 10px 0;

        .day {
          &:not(:last-of-type) {
            padding: 0px 25px 0px 0;
          }

          h4 {
            color: #fff;
            padding: 0px 0 10px 0;
          }
        }
      }

      p {
        text-transform: uppercase;
        font-size: $large-text;
        color: #fff;
        font-weight: 200;
        line-height: 1.2em;
        padding: 0 0 10px 0;
      }
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        .days {
          flex-direction: column;
        }
      }
    }
  }
</style>
