---
---

<section>
  <div class="section-container">
    <h2>La Rencontre de Jeunesse</h2>
    <p>
      La RJ23 aura lieu cette année en multi-sites ! Nous nous retrouverons
      simultanément à Genève (Esther House, Rue Voltaire 27, 1201 Genève), Oron
      (GCO, Rte du Flon 28, 1610 Oron) et Tavannes (CET, La Combe 10, 2710
      Tavannes), les 05 et 06 mai 2023.
    </p>
    <p>
      Au programme de ces deux jours, des moments de plénières forts dans la
      présence de Dieu, des prédications de qualité, des moments de fun et des
      stands.
    </p>
    <p>
      La RJ a pour vision d’accompagner et d’équiper la jeunesse de Suisse
      romande et de francophonie au travers de rassemblements. Nous souhaitons
      permettre à chacun de vivre la présence de Dieu, nous voulons partager de
      façon claire l’Evangile de Jésus Christ et souhaitons que tous
      expérimentent la puissance de l’Esprit.
    </p>
    <p>
      L'équipe de prédication de cette année est composée de Shékina Vauthier,
      Eddie Nunes & Wole Agbaje.<br />
      Les groupes de musique pour les temps de louange seront : le C3 Lausanne, le
      Gospel Lausanne & le Collectif Riviera.
    </p>

    <h2>CHADASH</h2>
    <p>
      TOUTES CHOSES NOUVELLES<br />
      ESAÏE 43.18<br />
      Chadash en hébreux signifie "choses nouvelles". Nous croyons que Dieu veut
      nous encourager à regarder à ce qu'Il est en train de faire. Il y a un temps
      pour tout et avec cette rencontre de jeunesse 2023 nous voulons nous tourner
      vers ce que Dieu fait et veut faire. Nous voulons être partenaire du renouveau
      que Dieu veut emmener et nous voulons encourager chaque jeune à entrer dans
      le nouveau de Dieu. Il y a ce mystère avec Dieu, Il ne change pas mais se tient
      toujours dans le nouveau. Que nous puissions nous aussi le suivre dans Ses
      projets pour nous, pour notre entourage et pour le monde. Nous le croyons et
      nous voulons le déclarer: Dieu fait une chose nouvelle!
    </p>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section {
    display: flex;
    justify-content: center;
    background-color: #617a64;
    font-family: bebas, sans-serif;
    letter-spacing: 0.1em;

    .section-container {
      max-width: $main-width;
      padding: 80px 50px;

      h2 {
        font-size: $sub-title;
        text-transform: uppercase;
        padding: 0 0 30px 0;
        color: #fff;

        &:not(:nth-of-type(1)) {
          padding-top: 40px;
        }
      }

      p {
        text-transform: uppercase;
        font-size: $large-text;
        color: #fff;
        font-weight: 200;
        line-height: 1.2em;
      }
    }
  }
</style>
