<p class="edit"><%= link_to image_tag("icons/edit.png") + " Changer vos informations", { action: "edit" } %></p>

<%= form_tag invoice_orders_rj_path, multipart: true, class: "invoice" do %>
  <p>Tu as choisi d'inscrire un groupe de 15 personne ou plus. Upload <a href="/inscription_rj_2017.xls">le document</a> téléchargé à l'étape précédente, complété avec les informations, et tu recevras ensuite sous peu une facture.</p>
  <%= file_field_tag :document %>
  <%= submit_tag "Payer par facture" %>
<% end %>
