<h3>Information pour la RJ</h3>

<p>La Rencontre de Jeunesse approche à grand pas et nous réjouissons de ce weekend !</p>

<p>
Avant que celui-ci ne commence, nous vous rendons attentifs au fait que par ordre du Préfet de la Gruyère, la participation à la RJ de mineurs de moins de 15 ans nécessite la présence d'accompagnants majeurs.
</p>

<p>
Nous vous invitons à consulter nos conditions générales sur le sujet: <a href="https://tickets.rencontredejeunesse.ch/conditions_generales.html">conditions générales</a>
</p>

<p>
Si vous avez des questions, n'hésitez pas à nous contacter via le formulaire sur notre <a href="https://rencontredejeunesse.ch">site web</a>.
</p>

<p>
Merci à chacun et à bientôt à la RJ 24 ! 🔥
</p>