<h1>Confirmation de commande</h1>
<p>Merci pour ta commande sur <a href="https://rencontredejeunesse.ch" target="_blank">rencontredejeunesse.ch<a/></p>

<% if is_invoice?(@order.amount) %>
<p>
  Ta commande a bien été reçue. Tu as reçu une facture par email et une fois celle-ci payée, ta commande sera validée.
</p>
<% else %>
<p>
  Ton paiement a bien été reçu et ta commande n°<%= link_to @order.order_id, connect_order_url(@order.order_id) %> est validée.
</p>
<% end %>

<h5>Résumé de ta commande</h5>
<%= render "order_mailer/summary" %>

<p>
  <br>
  Tu peux en tout temps consulter ta commande sur RJ Connect en te connectant sur <a href="https://rencontredejeunesse.ch/signin" target="_blank">rencontredejeunesse.ch/signin</a>.
</p>

<p>
  Pour tout complément d'information ou problème, utilise le formulaire de contact du site afin de nous contacter.</p>
</p>
