<h3>Hébergement RJ</h3>

<p>
Bonjour, <br>
Si tu reçois ce mail c'est que tu t'es inscrit pour dormir à l'espace Gruyère lors de la RJ24 ! 
</p>

<b>Voici quelques informations importantes concernant les nuits passées à la RJ.</b>
<br>
<br>

<p>
Matériel à ne pas oublier : <br>
- Matelas (taille raisonable, conseillé 90cm de large ou matelas de camping)<br>
- Sac de couchage <br>
- Affaires de toilette <br>
- Effets personnelles (habits pour dormir, habits de rechange, etc.)
</p>

<b>Horaire, vestiaires, douches et dortoirs :</b>

<p>
Les douches et les vestiaires seront ouvertes à des horaires précis lors du week-end.
</p>

<b>Vendredi :</b>

<p>
Ouverture des dortoirs : <br>
18h30 - 20h00 <br>
Puis à partir de 22h30
</p>

<p>
Vestiaires et douches : <br>
22h30 - 00h30
</p>

<b>Samedi :</b>

<p>
Réveil dès : 7h<br>
Fermeture dortoirs : 9h30
<br>
<br>

Réouverture des dortoirs (en cas d'objets oublié): <br>
12h30 - 13h30 
<br>
<br>

Réouverture des dortoirs (en cas d'objets oublié):<br>
17h00 - 18h30  
<br>
<br>

Ouverture dortoirs, vestiaires et douches : 22h30 
<br>

Fermeture des vestiaires et des douches : 00h30
</p>

<b>Dimanche :</b>

<p>
Réveil dès : 7h<br>
Fermeture dortoirs : 9h30
<br>
<br>

Réouverture des dortoirs (en cas d'objets oublié): <br>
11h30 - 13h30
<br>
<br>

Réouverture des dortoirs (en cas d'objets oublié): <br>
15h00 - 16h00 
</p>

<b>16h00 Fermeture définitive des dortoirs !</b>
<br>
<br>
<p>
Merci également de respecter les règles des dortoirs qui seront affichées sur place afin de respecter chacun et de passer des nuits les plus agréables possible.
</p>
<p>
On vous rappel que chacun est responsable de son propre matériel, nous déclinons toutes responsabilités en cas de perte ou de vol. Un espace dédié aux objets trouvés sera prévu à cet effet.
</p>

<b>Horaire petits déjeuners :</b>
<p>
On vous rappel que les petits déjeuners sont inclus (sur présentation du bracelet) et se déroulera au village des stands dans les horaires suivant :<br>
- Samedi de 7h - 9h30<br>
- Dimanche de 7h - 9h30<br>
</p>

<p>
Merci à chacun et à bientôt à la RJ 24 ! 🔥
</p>