<h1>Ton pass pour l'événement</h1>

<p>
  Voici ton pass pour récupérer ton/tes entrées le jour J.<br>
  <b>Il est donc indispensable que tu l'imprimes et le prennes avec toi !</b>
</p>
<p>
  Présente ce document au guichet et les entrées correspondant à ta commande te seront remises.
</p>

<p>
A bientôt !
</p>
