<h1>Ta commande pour <%= @event %></h1>

<p>J-7 avant le lancement de <%= @event %>.</p>
<p>N'oublie pas le ton ticket de commande !</p>

<p>
  Tu as commandé une ou plusieurs entrées pour le weekend de <%= @event %>.<br>
  Afin de pouvoir retirer tes bracelets au guichet sur place à Espace Gruyère, il te faut impérativement <b>imprimer ton ticket de commande muni du code barre !</b><br>
</p>
<p>
  Si tu ne l'as pas encore, tu peux le télécharger:
  <ol>
    <li>Connecte-toi sur <a href="https://rencontredejeunesse.ch/signin" target="_blank">le site RJ</a> avec l'adresse email de la commande</li>
    <li>Rends-toi sur la page <a href="https://rencontredejeunesse.ch/connect/orders" target="_blank">"Achats"</a></li>
    <li>Sélectionne la commande correspondante</li>
    <li>Clique sur "> Voir le ticket de caisse au format PDF", imprime le document PDF et prends le avec toi vendredi !</li>
  </ol>
</p>
<p>Si tu rencontres des problèmes ou tu as des questions, utilise le formulaire de contact du site afin de nous contacter.</p>

<p>
A bientôt !
</p>