<h3>Tu es inscrit·e à la RJ Login</h3>

<p>La RJ Login commence demain à 08h30 à Neuchâtel !</p>

<h5>Atelier questions/réponses</h5>

<p>
Demain, tu auras l'occasion de participer à un atelier de questions/réponses sur le leadership dans les groupes de jeunes.
Tu peux poser tes questions sur <a href="https://sli.do">sli.do</a> avec le code #RJLOGIN ou en suivant <a href="https://app.sli.do/event/9ylrmect/live/questions">ce lien</a>.
N'hésite pas à y poser tes questions pour qu'elles soient abordées demain durant l'atelier !
</p>

<h5>N'oublie pas ton ticket de commande !</h5>
<p>

  Si tu ne l'as pas encore, tu peux le télécharger:
  <ol>
    <li>Connecte-toi sur <a href="https://rencontredejeunesse.ch/signin" target="_blank">le site RJ</a> avec l'adresse email de la commande</li>
    <li>Rends-toi sur la page <a href="https://rencontredejeunesse.ch/connect/orders" target="_blank">"Achats"</a></li>
    <li>Sélectionne la commande correspondante</li>
    <li>Clique sur <i>"Voir le ticket de caisse au format PDF"</i>, imprime le document PDF ou sauvegarde le sur ton smartphone.</li>
  </ol>
</p>
<p>Si tu rencontres des problèmes ou tu as des questions, utilise le formulaire de contact du site afin de nous contacter.</p>

<p>
A bientôt !
</p>