@import '../../../components/variables';

#container.home section#contact,
#container.login section#contact,
#container.vision section#contact,
#container.rj-2018 section#contact,
#container.rj-2019 section#contact,
#container.resources section#contact,
#container.highlights-2018 section#contact,
#container.highlights-2019 section#contact {
  position: relative;

  .section-container {
    display: flex;
    flex-direction: row;
    max-width: $main-width;
    margin: auto;
    padding: 0 $main-padding;
    font-family: "Helvetica neue", "Helvetica", sans-serif;

    div.form {
      flex: 1;
      background-color: #fff;
      z-index: 1;

      h2 {
        font-size: $title-size;
        line-height: 0.9en;
        padding: 50px 0 70px 0;
      }

      form {
        width: 80%;
        margin: auto;

        input:not([type="submit"]) {
          display: block;
          width: 100%;
          padding: 5px 10px;
          margin: 0 0 15px 0;
          background-color: #EBEBEB;
          border: none;
        }

        textarea {
          display: block;
          width: 100%;
          background-color: #EBEBEB;
          border: none;
          padding: 5px 10px;
          //color: #aaa;
        }
        
        select {
          background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
          background-color:#3498DB;
          background-repeat:no-repeat;
          background-position: right 10px top 15px;
          background-size: 16px 16px;
          margin: 0 0 15px 0;
          padding:12px;
          width:auto;
          color:#6d6869;
          background-color:#EBEBEB;
          width: 100%;
          border-radius:3px;
          -webkit-border-radius:3px;
          -webkit-appearance: none;
          border:0;
          outline:0;
          -webkit-transition:0.3s ease all;
            -moz-transition:0.3s ease all;
              -ms-transition:0.3s ease all;
              -o-transition:0.3s ease all;
                  transition:0.3s ease all;
        }

        div.input {
          position: relative;
          z-index: 0;

          input[type="submit"] {
            display: block;
            background-color: transparent;
            border: none;
            color: #000;
            margin: 40px 0 50px 0;
            font-size: $sub-title;
            font-weight: bold;
            text-transform: lowercase;
          }

          &::after {
            content: "";
            position: absolute;
            background-color: #1AE4AD;
            left: 0;
            bottom: -5px;
            height: 20px;
            width: 150px;
            z-index: -1;
            transition: background-color .5s ease-out;
          }

          @keyframes contact-button {
            0%  {background-color: #17a4ac;}
            50%  {background-color: #17a4ac;}
            80%   {background-color: #1AE4AD;}
            100% {background-color: #17a4ac;}
          }

          &:hover::after {
            background-color: #17a4ac;
            animation-name: contact-button;
            animation-duration: 5s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }
    }

   div.address {
      flex: 1;
      font-weight: bold;
      font-size: $sub-title;
      position: relative;
      z-index: -1;

      p {
        padding-top: 165px;
      }
    }
  }

  #map {
    height: 270px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      flex-direction: column !important;
      padding: 0 $mobile-padding 290px $mobile-padding;

      div.form {
        h2 {
          padding: 40px 0 30px 0;
        }

        form {
          width: 100% !important;

          input[type="submit"] {
            margin: 20px 0 30px 0 !important;
          }
        }
      }

      div.address {
        p {
          padding: 0 !important;
        }
      }
    }
  }
}
