@import '../../../components/variables';

#container.home section#history {
  .section-container {
    display: flex;
    flex-direction: row;
    font-weight: bold;

    div.timeline {
      flex: 7;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      background-image: image-url("home/history/background.jpg");
      background-size: cover;
      background-position: center top;
      padding: 90px 0 200px;
      color: #fff;

      div.wrapper {
        max-width: $main-width * 7/12;
        flex: 1;
        padding: 0 $main-padding;
        margin-right: 8%; // heuristic

        h2 {
          font-size: 60px;
          line-height: 55px;
        }

        ul {
          li {
            padding: 65px 0 0 0;
            font-size: $small-text;
            //border-left: 1px solid #fff;
            position: relative;
            z-index: 1;

            &:not(:first-child) {
              border-left: 1px solid #fff;
            }

            p {
              cursor: pointer;
              position: absolute;
              bottom: -9px;
              z-index: 1;
            }

            p.selected::after {
              content: "";
              position: absolute;
              left: -100vw;
              right: -10px;
              top: -5px;
              bottom: -5px;
              background-color: #131DC7;
              z-index: -1;
            }
          }
        }
      }
    }

    div.show {
      flex: 5;
      background-image: image-url("home/history/event4.jpg");
      background-size: cover;
      background-position: left top;
      display: flex;
      flex-direction: row;
      align-items: center;

      div.content {
        color: #fff;
        width: 300px;
        background-color: #131DC7;
        padding: 40px 30px 55px 30px;
        transform: translateX(-60%);

        display: none;
        &.selected {
          display: block;
        }

        h3 {
          font-size: $sub-title;
          padding: 0 0 18px 0;
        }

        p {
          font-size: $big-text;
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      flex-direction: column !important;

      div.timeline {
        padding: 40px;

        div.wrapper {
          margin: 0 !important;

          ul {
            li {
              border: none !important;
              font-size: $medium-title !important;
              padding: 10px 0 !important;

              p {
                position: relative !important;

                span {
                  display: none !important;
                }
              }
            }
          }
        }
      }

      div.show {
        div.content {
          transform: none !important;
          width: 50%;

          p {
            font-size: $medium-title;
          }
        }
      }
    }
  }
}
