section#justtext {
  display: flex;
  justify-content: center;

  .section-container {
    max-width: 1024px;
    padding: 80px 50px;

    p.citation {
      font-style: italic;
      font-weight: bold;
      font-size: 25px;
    }

    p.author {
      font-size: 14px;
      padding: 20px 0 0 0;
    }
  }
}