@import '../../../components/variables';

#container.home section#justtext {
  display: flex;
  justify-content: center;

  .section-container {
    max-width: $main-width;
    padding: 80px 50px;

    p.citation {
      font-style: italic;
      font-weight: bold;
      font-size: $medium-title;
    }

    p.author {
      font-size: $small-text;
      padding: 20px 0 0 0;
    }
  }
}