@import '../../../components/variables';
@import '../../../components/button-bar';

#container.home section#partner {
  margin: 0 $blank-space 0 0;
  padding: 0 0 0 $blank-space; // pour compenser

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141dc6+0,d10cc0+100 */
  background: #141dc6; /* Old browsers */
  background: -moz-linear-gradient(45deg, #141dc6 0%, #d10cc0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #141dc6 0%,#d10cc0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #141dc6 0%,#d10cc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141dc6', endColorstr='#d10cc0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .section-container {
    height: 460px;
    display: flex;
    flex-direction: row;
    max-width: $main-width;
    padding: 0 $main-padding;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    h2 {
      color: #fff;
      font-size: $title-size;
      line-height: 0.9em;
      position: relative;
      z-index: 0;
      cursor: pointer;
      padding: 0 0 0 $sub-padding;

      &::after {
        @include button-bar(-2em, 0, right, 20px);
        background-color: #000;
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    margin: 0 !important;
    padding: 0 !important;
    
    .section-container {
      h2 {
        padding: 0 0 0 10px !important;
      }
    }
  }
}