@import '../../../components/button-bar';

section#partner {
  margin: 0 5% 0 0;
  padding: 0 0 0 5%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141dc6+0,d10cc0+100 */
  background: #141dc6; /* Old browsers */
  background: -moz-linear-gradient(45deg, #141dc6 0%, #d10cc0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #141dc6 0%,#d10cc0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #141dc6 0%,#d10cc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141dc6', endColorstr='#d10cc0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .section-container {
    height: 460px;
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    h2 {
      color: #fff;
      font-size: 60px;
      line-height: 55px;
      position: relative;
      z-index: 0;
      cursor: pointer;
      padding: 0 0 0 30px;

      &::after {
        @include button-bar(-2em, 0, right, 20px);
        background-color: #000;
      }

      &:hover::after {
        padding-left: 100%;
      }
    }
  }
}