@import '../../../components/variables';

#container.home section#twotiles {
  .section-container {
    display: flex;
    flex-direction: row;

    ._common-tiles {
      color: #fff;
      font-size: $medium-title;
      height: 230px;
      padding: 0 0 30px 20px;
      position: relative;
      transition: all .5s;

      background-size: cover;
      background-position: 50% 30%;
      
      display: flex;
      flex: 1;
      align-items: left;
      justify-content: flex-end;
      flex-direction: column;

      h3 {
        position: relative;
        z-index: 2;
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s;
        z-index: 2;
      }

      .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s;
        z-index: 1;
      }

      &:hover {
        background-position: 46% 29%;

        & .mask {
          background-color: rgba($color: #fff, $alpha: .10);
        }
      }
    }

    div.highlights {
      @extend ._common-tiles;
      background-image: image-url("home/twotiles/highlights.jpg");
    }

    div.next {
      @extend ._common-tiles;
      background-image: image-url("home/twotiles/login18.jpg");

      span.hashtag {
        font-size: $sub-title;
      }
      span.soon {
        font-style: italic;
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      flex-direction: column;
    }
  }
}