@import '../../../components/variables';

#container.home section#twotiles {
  .section-container {
    display: flex;
    flex-direction: row;

    ._common-tiles {
      font-size: $large-text;
      padding: 20px 30px 30px 30px;
      position: relative;
      transition: all .5s;

      background-size: cover;
      background-position: 50% 30%;
      
      display: flex;
      flex: 6;
      align-items: left;
      justify-content: flex-end;
      flex-direction: column;

      h3 {
        position: relative;
        z-index: 2;
      }

      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s;
        z-index: 2;
      }

      .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .5s;
        z-index: 1;
      }
    }

    div.highlights {
      @extend ._common-tiles;
      color: #fff;
      background-image: image-url("home/twotiles/highlights.jpg");
      font-size: $medium-title;

      &:hover {
        background-position: 46% 29%;

        & .mask {
          background-color: rgba($color: #fff, $alpha: .10);
        }
      }
    }

    div.next {
      display: flex;
      flex-direction: column;
      flex: 4;

      & > div {
        @extend ._common-tiles;
        background: #fff;

        span.only-hash {
          font-size: $medium-title;
          font-style: normal;
        }

        span.hashtag {
          font-size: $sub-title;
          font-family: swiss;
        }
        span.soon {
          // font-style: italic;
        }

        &:first-child {
          background: image-url("rj/2019/home/background.svg"); 
          color: #fff;
          align-items: flex-end;

          &:hover {
            & .mask {
              background-color: #ff0000;
            }
          }
        }

        &:nth-child(2) {
          // text-align: right;
          // align-items: flex-end;
          // padding-right: 20px;
          // background: black;
          // color: #fff;
          background: rgb(255,255,255);
          background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
          background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
          background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=1 );
        
          &:hover {
            background-position: 46% 29%;

            & .mask {
              background-color: rgba($color: #fff, $alpha: .10);
            }
          }
        }

        &.login {
          span.c0 {
            color: #725c9e;
          }
          span.c1 {
            color: #bb8580;
          }
          span.c2 {
            color: #b75b70;
          }
          span.c3 {
            color: #95527e;
          }
          span.c4 {
            color: #9d78a5;
          }
          span.c5 {
            color: #a45778;
          }

          .news {
            font-size: .3em;
            vertical-align: top;
          }
        }

        &:hover {
          background: #fff;
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      flex-direction: column;
    }
  }
}