@import '../../../components/variables';
@import '../../../components/button-bar';

#container.home section#vision {
  .section-container {
    height: 460px;
    padding: 0 $blank-space 0 0;

    display: flex;
    flex-direction: row;

    div.poster {
      background-image: image-url("home/vision/background.jpg");
      background-size: cover;
      background-position: center left;

      flex: 2;
    }
    div.title {
      text-align: right;
      padding: 0 $sub-padding 0 0;

      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      background: #f56953; /* Old browsers */
      background: -moz-linear-gradient(45deg, #f56953 0%, #5c35a1 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #f56953 0%,#5c35a1 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #f56953 0%,#5c35a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f56953', endColorstr='#5c35a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
      &::before {
        content: '';
        flex: 2;
      }
      &::after {
        content: '';
        flex: 1;
      }

      h2 {
        color: #fff;
        font-size: $title-size;
        line-height: 0.9em;
        position: relative;
        z-index: 0;
        cursor: pointer;

        &::after {
          @include button-bar(-1em, -2.5em, left, 20px);
          background-color: #000;
        }
      }
    }
  }
  @media only screen and (max-width: $mobile-width) {
    .section-container {
      padding: 0 !important;
      
      div.poster, div.title {
        flex: 1 !important;
      }
    }
  }
}