<h1>Bienvenue chez nous !</h1>
<p>Merci pour ton engagement en tant que bénévole.</p>

<p>
  Tu as effectué la première étape pour servir à la Rencontre de Jeunesse 2018.<br>
  Pour confirmer cet engagement, il faut commander ton forfait - au prix préférentiel de 50 CHF - en te connectant sur <a href="https://rencontredejeunesse.ch/connect">RJ Connect</a>.<br>
  Ensuite, tu seras contacté pour discuter de manière précise de la façon dont tu serviras pendant l'événement.
</p>

<p>
  A bientôt sur RJ Connect !
</p>
