<h2>Entrée à prix préférentiel pour les bénévoles.</h2>
<h6>Tu t'es récemment inscrit comme bénévole pour la Rencontre de Jeunesse.</h6>
<p>
  Tu nous as communiqué ton souhait de participer à la RJ en tant que bénévole. Pour te remercier de ton engagement, tu paies ton entrée pour l'événement à un prix spécial de 50 CHF (le prix pour dormir sur place reste à 30 CHF).
</p>
<p>
  Connecte-toi sans attendre sur <%= link_to "RJ Connect", signin_url %> pour commander ton entrée. Cette étape est nécessaire pour confirmer ton statut de bénévole.
</p>

<p>
  A bientôt sur RJ Connect !
</p>
