<%= render "orders/form" do |f| %>

  <% if f.object.errors.any? %>
  <div id="error">
    <p>Le formulaire contient <%= pluralize(f.object.errors.count, "erreur") %>.</p>
    <p><%= f.object.errors.full_messages_for(:registrants).join(" / ") %></p>
  </div>
  <% end %>

  <div class="row">
    <span></span>
    <div>
      <h3>Entrées</h3>
      <p>Commande ci-dessous 1 ou plusieurs entrées pour l'événement. Remplis pour chaque entrée les informations requises.</p>
    </div>
  </div>
  <%= render "registrants", parent_f: f, registrants: @order.registrants %>

<% end %>