<% if @errors.any? %>
<div id="error">
  <p class="title">Le formulaire contient <%= @errors.size %> erreur(s).</p>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>    
  </ul>
</div>
<% end %>

<% @fields.each do |field| %>

<div class="row">
  <%= Field.new(field, form, value: @attributes[field.name]).render.html_safe %>
</div>

<% end %>

<div class="row">
  <span></span>
  <%= form.submit %>
</div>
