<section class="goodies fade-in app-container">

  <div class="header">
    <%= link_to image_tag("connect/layout/back.svg", class: "back"), connect_root_path, remote: true %>
    <h1>Goodies</h1>
  </div>

</section>