<section class="volunteer fade-in app-container">

  <div class="header">
    <%= link_to image_tag("connect/layout/back.svg", class: "back"), connect_root_path, remote: true %>
    <h1>Bénévolat</h1>
  </div>

  <p class="intro">La RJ ne fonctionnerait pas sans ses bénévoles, et tu as l'occasion de t'investir et participer
    dans divers domaines suivant tes dons et passions.
  </p>

  <div class="sectors">
    <div class="sector">
      <div class="name">
        <%= image_tag "connect/volunteer/technic.png" %>
        <p>Technique</p>
      </div>
    </div>
    <div class="sector">
      <div class="name">
        <%= image_tag "connect/volunteer/technic.png" %>
        <p>Technique</p>
      </div>
    </div>
  </div>

</section>
