<div id="render-wrap">
  <p>L'espace RJ Connect est en cours d'élaboration. Tu y trouveras prochainement de nouvelles fonctionnalités comme consulter tes commandes, t'inscrire comme bénévole ou même (qui sait?) un shop en ligne.</p>
</div>