<section id="intro">
  <div class="section-container">

    <h2>Être bénévole à la Rencontre de Jeunesse</h2>
    <p>
      En tant que conférence et organisation pour la jeunesse, nous avons l’opportunité d’organiser annuellement un week-end dédié à la jeunesse en Suisse romande mais aussi pour la francophonie. Notre cœur est d’accompagner ces jeunes et de les équiper au travers de ce rassemblement.
    </p>
    <p>
      Cela n’est possible que grâce aux nombreuses personnes qui décident d’y participer en tant que bénévoles et qui œuvrent pour rendre cette conférence possible. Chaque volontaire qui sert durant la Rencontre de Jeunesse apporte une aide précieuse au bon déroulement du week-end.
    </p>

  </div>
</section>
