<section id="thanks">
  <div class="section-container">

    <h2>UN GRAND MERCI AUX BÉNÉVOLES DE LA RJ2017</h2>
    <p>
      Quelle RJ incroyable nous avons eu ! Cette conférence a été une grande réussite, tellement de vies ont été transformées et des personnes ont été inspirées et encouragées.
    </p>
    <p>
      Nous voudrions dire encore un très grand merci à tous nos bénévoles qui, année après année, servent sans relâche pendant tout le week-end de la RJ. Nous ne pourrions pas le faire sans eux. Ils ont voyagé de près comme de loin afin de rendre cet événement possible et nous en sommes infiniment reconnaissants.
    </p>
    <p>
      En tant qu’organisateurs, nous sommes tellement impatients de servir bientôt avec vous lors de la RJ2018. Le thème de cette année est : UN SEUL NOM. Le nom qui sauve, le nom au-dessus de tout autre nom, le nom de Jésus !
    </p>

  </div>
</section>
