<section id="thanks">

  <h2>UN GRAND MERCI AUX BÉNÉVOLES DE LA RJ2017</h2>

  <p>
    Quelle RJ incroyable nous venons d’avoir ! Encore une fois cette conférence a été une grande réussite, tellement de vies ont été transformées et des personnes ont été inspirées et encouragées.
  </p>

  <p>
    Nous espérons que chacun de nos bénévoles et participants a pu rencontrer Dieu d’une manière très spéciale pendant cette RJ2017.
  </p>

  <p>
    Nous voudrions également dire encore un très grand merci à tous nos bénévoles qui, année après année, servent sans relâche pendant tout le week-end de la RJ. Nous ne pourrions pas le faire sans eux. Ils ont voyagé de près comme de loin afin de rendre cet événement possible et nous en sommes infiniment reconnaissants.
  </p>

  <p>
    En tant qu’organisateurs, nous sommes tellement impatients de servir bientôt avec vous lors de la RJ2018. Le thème de cette année est : UN SEUL NOM. Le nom qui sauve, le nom au-dessus de tout autre nom, le nom de Jésus !
  </p>

  <p>
    Encore une fois merci à tous pour votre contribution, grâce à vous la RJ2017 a été une très belle réussite sur tous les plans.
  </p>
</section>
