@import '../../../components/variables';

#container.rj-flash section#countdown {
  margin-top: $logo-burger-height;

  .section-container {
    height: 250px;
    padding: 0 $blank-space 0 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    %commmon-countdown-el {
      text-align: center;
      font-weight: bold;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    div.left {
      @extend %commmon-countdown-el;
      font-size: $title-size;
      padding-left: 10%;
    }

    div.right {
      @extend %commmon-countdown-el;
      padding-right: 10%;

      p.txt {
        font-size: $title-size;
      }
      p.sub {
        font-size: $large-text !important;
      }
    }
  }
  
  @media only screen and (max-width: $mobile-width) {
    .section-container {
      padding: 0 !important;
      flex-direction: column !important;

      div.left, div.right {
        padding: 5px;
      }

    }
  }
}