@import "../../../components/variables";

#container.rj-2018 section#timetable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;

  .section-container {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    max-width: $main-width;
    padding: 100px $main-padding;

    div.days {
      flex: 1;

      h2 {
        font-size: $sub-title;
        cursor: pointer;

        &.active {
          span {
            position: relative;

            &:after {
              content: "";
              background-color: yellow;
              left: 0em;
              right: -.3em;
              bottom: -.1em;
              height: .5em;
              position: absolute;
              z-index: -1;
            }
          }
        }
      }
    }

    div.times {
      flex: 1;

      div:not(.active) {
        display: none;
      }

      p {
        font-size: $normal-text;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 0 0 0;

        span:first-of-type {
          width: 70px;
          flex-shrink: 0;
        }
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      flex-direction: column !important;

      div.days {
        padding: 0 0 20px 0;
      }
    }
  }

}
