$main-width: 1024px;
$main-padding: 30px;
$sub-padding: 30px;
$blank-space: 5%;

$title-size: 4.5em;   // 100pt
$sub-title: 2.3em;    // 50pt
$medium-title: 1.7em; // 35pt

$large-text: 1.2em;   // 25pt
$normal-text: 1em;    // 20pt
$small-text: 0.9em;   // 14pt

$mobile-width: 768px;