$main-width: 1024px;
$main-padding: 30px;
$sub-padding: 30px;
$blank-space: 5%;

$title-size: 4.5em;
$sub-title: 2.3em;
$medium-title: 1.7em; // 35 pt

$large-text: 1.2em; // 20pt
$big-text: 1em;
$text-size: 0.9em;
$small-text: 0.8em;

$mobile-width: 768px;