.btn-wire {
  padding: 7px 20px;
  border: 2px solid #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-grey {
  padding: 7px 20px;
  background: #999;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
