@import '../base/variables';

.btn-wire {
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-grey {
  padding: 10px 20px;
  background: #999;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-red {
  padding: 10px 20px;
  background: $red;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.disabled {
  background: #58031e;
  cursor: not-allowed;
}
