#application-flash {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10px;
  z-index: 99;

  #flash {
    color: white;

    padding: 8px 27px 8px 8px;
    max-width: 300px;
    background: #91E6FF;
    border-radius: 5px;
    z-index: 3;
    position: relative;
    margin: 0 0 3px 0;

    svg.close {
      cursor: pointer;
      position: absolute;
      right: 8px;
      top: 8px;

      width: 11px;
      height: 11px;
    }

    &.flash-success {
      background-color: #00de00;
    }

    &.flash-error {
      background-color: red;
    }
  }
}