#order {

  /*
    Form
  */

  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-top: 50px;
  }

  .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .user-information {

    max-width: 100%;

    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;

      div {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
    }

    @media (max-width: 600px) {
      .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        div {
          width: 100%;
        }

      }

    }

  }

  .row.checkbox {

    label {
      margin: 20px 5px 20px 0;
    }

    input {
      margin: 20px 0;
      height: auto;
    }

  }

  input:not([type=checkbox]), select {
    margin: 0 20px 20px 20px;
    height: 27px;
    border: 1px solid #cccccc;
  }

  label {
    margin: 0 20px 4px 20px;
  }

  label.required::after {
    content: " *";
  }

  input[type=submit] {
    background-color: #00AEE9;
    padding: 5px 60px;
    margin: 20px 0;
    color: white;
    box-sizing: content-box;
    border: none;

    &:hover {
      background-color: #36ccff;
    }
  }

  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .field_with_errors {

    display: inherit;

    input:not([type=checkbox]) {
      border: 1px solid red;
      width: 100%;
    }

  }

  .infos {
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
  }

  #error {

    margin-bottom: 40px;

    .title {
      font-weight: bold;
      font-size: 1.1em;
      color: red;
      margin: 0 0 10px 0;
      text-align: center;
    }

    ul li {
      margin: 2px 0 0 0;
    }

  }

  /*
    Confirmation
  */

  #summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-top: 20px;

    p {
      margin: 2px 0;
    }

    .edit {
      margin: 20px 0 60px 0;
      color: black;
      border: 1px solid black;
      padding: 10px;
    }

    .amount {
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .column {
      width: auto;
      margin: 20px;
    }

  }
}
