@import "../../../components/variables";

#container.login section#register {
  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 50px 0;

  .section-container {
    width: 100%;
    max-width: $main-width;
    padding: 0 $main-padding + $sub-padding;
    margin: auto;

    display: flex;
    flex-direction: column;

    h2 {
      font-size: $title-size;
      line-height: 1.1em;
      margin: 0;
      padding: 0 0 30px 0;
    }

    p {
      padding: 20px 0 0 0;
      font-size: $large-text;

      &.last {
        padding-bottom: 50px;
        padding-top: 50px;
        font-weight: bold;
        text-align: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 40%;
          bottom: 15px;
          height: 20px;
          width: 290px;
          z-index: 1;

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+66,131ec7+100 */
          background: #1e5799; /* Old browsers */
          background: -moz-linear-gradient(45deg, #1e5799 66%, #131ec7 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(45deg, #1e5799 66%,#131ec7 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(45deg, #1e5799 66%,#131ec7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#131ec7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }

        &:hover::after {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131ec7+0,1e5799+34 */
          background: rgb(19,30,199); /* Old browsers */
          background: -moz-linear-gradient(-45deg, rgba(19,30,199,1) 0%, rgba(30,87,153,1) 34%); /* FF3.6-15 */
          background: -webkit-linear-gradient(-45deg, rgba(19,30,199,1) 0%,rgba(30,87,153,1) 34%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(135deg, rgba(19,30,199,1) 0%,rgba(30,87,153,1) 34%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131ec7', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */        animation-name: register-login-button;
        }
      }
    }

    a.register {
      position: relative;
      z-index: 0;

      display: block;
      background-color: transparent;
      border: none;
      color: #fff;
      margin: 40px 0 0 0;
      font-size: $sub-title;
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 20px;
        width: 190px;
        z-index: -1;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+66,131ec7+100 */
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(45deg, #1e5799 66%, #131ec7 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #1e5799 66%,#131ec7 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #1e5799 66%,#131ec7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#131ec7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }

      &:hover::after {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131ec7+0,1e5799+34 */
        background: rgb(19,30,199); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(19,30,199,1) 0%, rgba(30,87,153,1) 34%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(19,30,199,1) 0%,rgba(30,87,153,1) 34%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(19,30,199,1) 0%,rgba(30,87,153,1) 34%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131ec7', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */        animation-name: register-login-button;
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      padding: 0 $mobile-padding !important;
    }
  }
}