---
---

<section class="cont">
  <div class="section-container">
    <div class="guests">
      <div class="guest">
        <img src="/login/guest/avatar.jpg" />
        <p>Stève Rivière</p>
        <p>
          <a href="https://extravagance.re" target="_blank"
            >Pasteur à Extravagance</a
          >
        </p>
      </div>
    </div>

    <p>
      Vous serez inspirés durant la journée par plusieurs intervenants: Stève
      Rivière sera notre orateur principal pour la journée et vous pourrez
      écouter durant les ateliers plusieurs invités. <!-- De plus, Etienne et Salomé Jaquier du Gospel Center Oron nous conduirons dans la louange.-->
    </p>
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 150px 0 100px 0;

    .section-container {
      text-align: center;
      font-weight: bold;

      max-width: $main-width;
      margin: auto;

      display: flex;
      flex-direction: column;
      justify-content: center;

      div.guests {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 40px 0;

        div.guest {
          padding: 20px;

          img {
            border-radius: 50%;
            width: 200px;
          }

          p:first-of-type {
            font-size: $medium-title;
            padding: 10px 0 0 0;
          }

          p:nth-of-type(2) {
            font-size: $normal-text;
          }
        }
      }
    }
  }
</style>
