---
---

<section class="cont">
  <div class="section-container"></div>
</section>

<style lang="scss">
  @import "../../styles/variables";

  section.cont {
    margin: 0 $blank-space 0 0;
    padding: 0 0 0 $blank-space;
    background-image: url("/login/justiimage/background.jpg");
    background-size: cover;
    background-position: center left;
    height: 450px;

    .section-container {
    }

    @media only screen and (max-width: $mobile-width) {
      padding: 0 $mobile-padding !important;
      margin: 0 !important;
    }
  }
</style>
