---
import { SlideShow } from "../Slideshow";
---

<section class="cont">
  <div class="section-container">
    <SlideShow client:load imagesFolder="/login/photos" numImages="8" />
  </div>
</section>

<style lang="scss">
  @import "../../styles/variables";
  @import "../../styles/button-bar";

  section.cont {
    .section-container {
      max-width: $main-width;
      padding: 0 $main-padding;
      margin: auto;

      display: flex;
      flex-direction: column;

      div.images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 80px 0;

        figure {
          width: 230px;
          height: 200px;
          position: relative;
          overflow: hidden;
          margin: 5px;

          picture {
            width: 100%;
            height: 100%;

            img,
            source {
              position: absolute;
              width: 150%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: 1s all;
              cursor: pointer;

              &:hover {
                transform: translate(-52%, -48%);
              }
            }
          }
        }
      }

      /* The Modal (background) */
      .modal {
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
        transition: 0.5s all;

        .modal-content {
          position: relative;
          background-color: #000000;
          margin: auto;
          padding: 0;
          width: 100%;
          height: 100%;

          .mySlides {
            position: absolute;
            top: 50px;
            right: 50px;
            bottom: 50px;
            left: 50px;
            text-align: center;

            .numbertext {
              color: #f2f2f2;
              font-size: 12px;
              padding: 8px 12px;
              position: absolute;
              top: 0;
            }

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }

        .close {
          color: white;
          position: absolute;
          z-index: 2;
          top: 10px;
          right: 25px;
          font-size: 45px;
          font-weight: bold;

          &:hover,
          &:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
          }
        }

        /* Next & previous buttons */
        .prev,
        .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -50px;
          color: white;
          font-weight: bold;
          font-size: 20px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          -webkit-user-select: none;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
      }
    }

    @media only screen and (max-width: $mobile-width) {
      .section-container {
        div.row-title {
          flex-direction: column !important;

          div.first-half {
            flex: 0 !important;
          }

          div.second-half {
            flex: 1 !important;
            width: 100% !important;
            padding: 0 0 40px 0 !important;

            h2 {
              transform: translate(-5%) !important;
              width: 100% !important;
            }
          }
        }

        div.row-text {
          flex-direction: column !important;
        }
      }
    }
  }
</style>
