<% content_for :id, "rj-2021" %>

<div class="information">
  <div class="container">
    <h2>Annonce</h2>

    <p class="subtitle">La Rencontre de Jeunesse est contrainte de reporter son édition 2021</p>

    <p>En raison de la situation exceptionnelle, nous sommes dans le regret de vous annoncer le report de la RJ21 pour une date ultérieure.</p>

    <p>Mais… Nous sommes réjouis de pouvoir vous proposer une soirée spéciale, créée sur mesure pour les jeunes et les groupes de jeunes. Nous vous donnons rendez-vous en ligne et en direct sur YouTube le vendredi soir 30 avril à 20h00 pour vivre cette soirée ensemble, avec des temps d’encouragements, d'animations, de louange, plusieurs intervenant•e•s, et enfin et surtout, la présence de Dieu !</p>

    <p>Pour toutes celles et ceux qui désirent rejoindre d’autres jeunes en ligne durant le mois de mai, nos amis de <a href="https://zerencontre.com" target="_blank">Ze Rencontre</a> les 24 et 25 mai, ainsi que <a href="https://echo2021.com" target="_blank">DNJ</a> le 08 mai en France, proposent des événements de qualité durant cette période ! </p>

    <p>Ensemble, continuons à prier pour la jeunesse.</p>

    <p>
    Merci pour votre soutien et votre compréhension,<br>
    Le comité RJ
    </p>

  </div>
</div>

<%#= render "pages/2021/information" %>

<%= render "pages/home/contact" %>
<%= render "layouts/headers/application" %>