<% content_for :id, "rj-2021" %>

<div class="restart"><%= image_tag("rj/2021/restart.png") %></div>

<div class="information">
  <div class="container">
    <h2>RJ Restart</h2>

    <p>
      Chers jeunes, chers responsables de groupes de jeunes, nous nous réjouissons d’ouvrir les inscriptions pour la RJ21. 
    </p>
    <p>
      Nous souhaitons vous proposer une RJ21 Online. Les conditions sanitaires ne permettent pas de vivre une RJ en présentiel mais nous travaillons durement pour rendre ces RJ de plus en plus interactive et qualitative. 
    </p>
    <p>
      Cette année une box édition limitée vous est proposée afin de créer une ambiance RJ21 là où vous, profitez également des goodies afin de garder en mémoire cette édition exceptionnelle.
    </p>
    <p>
      Merci de vous inscrire pour cette édition 2021 de la RJ. Vous pourrez également commander une box via le formulaire, pour la somme de 79.-
    </p>

    <div class="inscription">
      
    </div>

  </div>
</div>

<div class="box"><%= image_tag("rj/2021/box.png") %></div>

<%= render "pages/home/contact" %>
<%= render "layouts/headers/application" %>