<% content_for :id, "rj-2022" %>

<section id="bg-1">
  <div class="section-container">
    <svg width="100%" height="100%" viewBox="0 0 3443 635" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(1,0,0,1,-701.848,-1142.5)">
            <path class="el3" d="M2360.6,1676.12C2405.47,1638.73 2529.67,1573.61 2684.72,1590.88C2890.87,1613.85 2787.78,1513.86 3035.08,1488.81C3277.59,1464.25 4144.52,2138.16 4144.52,1142.5L2216.67,1142.5C2216.67,1142.5 2347.49,1687.04 2360.6,1676.12Z"/>
        </g>
        <g transform="matrix(1,0,0,1,-701.848,-1142.5)">
            <path class="el2" d="M2411.61,1632.6C2488.38,1544.72 2571.43,1538.4 2625.85,1538.05C2895.19,1536.3 2840.91,1368.14 3025.42,1347.89C3164.89,1332.59 3853.48,1773.42 3853.48,1142.5L2216.67,1142.5C2216.67,1142.5 2403.12,1620.35 2411.61,1632.6Z"/>
        </g>
        <g transform="matrix(1,0,0,1,-701.848,-1142.5)">
            <path class="el1" d="M701.849,1142.5C701.849,1471.2 699.847,1693.82 953.944,1741.32C1309.41,1807.77 1717.42,1763.24 1983.43,1757.66C2501.78,1746.79 2410.1,1533.81 2543.28,1502.47C2615.56,1485.45 2700.17,1495.45 2753.42,1433.6C2856.52,1313.86 2922.14,1227.68 3097.16,1282.13C3291.2,1342.5 3553.55,1401.68 3630.55,1142.5L701.849,1142.5Z"/>
        </g>
    </svg>
  </div>
</section>

<section id="welcome">
  <div class="section-container">
    <div class="content">
      <h1>RJ <span>#ESSENTIEL</span></h1>
      <p class="sub">6-7mai 2022</p>

      <p class="intro">
      La RJ revient en présentiel et dans un tout nouveau format! On espère que tu es motivé·e. En 2022, on veut vivre un retour à l'essentiel. La nouveauté, c'est que la RJ se vivra sur 3 sites différents! L'idée est de revenir à du local où chacun se sent concerné et peut s'impliquer! Quelque soit le lieu que tu choisiras, tu vivras la RJ et ça va être de la folie!
      </p>
    </div>
  </div>
</section>

<section id="locations">
  <div class="section-container">
    <div class="locations">
      <p>Genève</p>
      <p>Lausanne</p>
      <p>Neuchâtel</p>
    </div>
    <div class="time">
      <div class="time-container">
        <p>start</p>
        <p>vendredi 6 mai</p>
        <p>ouverture 19h15 / start de la plénière à 20h00</p>
      </div>
      <div class="time-container">
        <p>end</p>
        <p>samedi 7 mai</p>
        <p>ouverture 09h00 / plénière 10h00 / Ateliers 14h00 / plénière à 20h00</p>
      </div>
    <div>

    </div>
  </div>
</section>

<section id="bg-2">
  <div class="section-container">
    <svg width="100%" height="100%" viewBox="0 0 6602 1295" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(2.73343,0,0,1,-3850.82,-1618.05)">
            <path class="el1" d="M1408.78,2913.02C1408.78,2061.3 2194.97,2005.41 2538.45,2091.06C2919.17,2185.99 3162.41,1925.38 3254.46,1777.42C3463.81,1440.94 3823.94,1557.31 3823.94,2913.02L1408.78,2913.02Z"/>
        </g>
    </svg>
  </div>
</section>

<section id="price">
  <div class="section-container">
    <p>
      Tu peux acheter ton billet pour la RJ en ligne dès maintenant. Si tu as des questions, tu peux visiter notre FAQ ou nous contacter via le formulaire ci-dessous.
    </p>
    <div class="card">
      <p>CHF 50</p>
      <p>pass vendredi + samedi</p>
      <p><span>CHF 20</span> le vendredi</p>
      <p><span>CHF 40</span> le samedi</p>
      <p><a href="#">s'inscrire</a></p>
    </div>
  </div>
</section>

<%= render "pages/home/contact" %>
<%= render "layouts/headers/application" %>