<% content_for :id, "rj-2022" %>

<div class="information">
  <div class="container">
    <h2>RJ 2022</h2>

    <p class="subtitle">Le 6 et 7 mai 2022</p>

    <p>Plus d'informations prochainement</p>

  </div>
</div>

<%= render "layouts/headers/application" %>