<% content_for :id, "vitrine" %>

<!--
For 2019-2020

<div class="vitrine-container">
  <p><%= image_tag "rj/2019-flash/logo.png" %></p>
  <p>1 au 3 mai</p>
  <p><span class="first">Mais nous, nous aimons, </span><span class="second">parce que Dieu nous a aimés le premier.</span></p>
  <p>1 Jean 4.19</p>
</div>
-->

<!-- For 2020-2021 -->

<div class="vitrine-container">
  <p><%= image_tag "rj/2019-flash/logo21.png" %></p>
  <p>Du 30 avril au 2 mai 2021</p>
</div>

<%= render "layouts/headers/application" %>