<% content_for :id, "vitrine" %>

<div class="vitrine-container">
  <p><%= image_tag "rj/2019-flash/logo.png" %></p>
  <p>1 au 3 mai</p>
  <p><span class="first">Mais nous, nous aimons, </span><span class="second">parce que Dieu nous a aimés le premier.</span></p>
  <p>1 Jean 4.19</p>
</div>

<%= render "layouts/headers/application" %>