@import "../../../components/variables";
@import '../../../components/button-bar';

#container.rj-2019 section#welcome {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: image-url("rj/2019/home/background.svg"); 

  .section-container {
    max-width: $main-width;
    padding: $logo-burger-height $main-padding 0 $main-padding;
    position: relative;

    .text {
      text-align: center;
      text-transform: uppercase;
      font-family: monument, sans-serif;
      margin: 45px 0 70px 0;
      line-height: 4em;

      p {
        line-height: 1.1em;
      }

      p:nth-of-type(1) {
        font-size: 5em;
      }
      p:nth-of-type(2) {
        font-size: 4.2em;
      }
      p:nth-of-type(3) {
        font-size: 4.6em;
      }
      p:nth-of-type(4) {
        font-size: 2.46em;
      }
      p:nth-of-type(5) {
        font-size: 3.7em;
      }
      p:nth-of-type(6) {
        font-size: 4.1em;
      }
    }

    div.link {
      padding: 0 0 50px $sub-padding;
      text-align: center;
      
      a {
        color: #ff0000;
        font-size: $medium-title;
        line-height: 0.9em;
        position: relative;
        z-index: 0;
        padding: 0 $sub-padding 0 0;

        &::after {
          @include button-bar(-2em, -2em, right, 30px);

          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141dc6+35,d10cc0+65 */
          background: black; /* Old browsers */
        }

        &:hover::after {
          @include button-bar-hover-right();
        }
      }
    }

    div.brush-1 {
      position: absolute;
      width: 300px;
      left: -150px;
      top: 200px;

      path {
        fill: white;
      }
    }
    div.brush-2 {
      position: absolute;
      height: 350px;
      left: 250px;
      top: 130px;
      transform: rotate(-40deg);

      path {
        fill: white;
      }
    }
    div.brush-3 {
      position: absolute;
      height: 220px;
      right: -50px;
      top: 110px;
      transform: rotate(25deg);

      path {
        fill: white;
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      padding: 0 !important;
      margin-top: $logo-burger-height;

      .text {
        font-size: 6px !important;
      }
    }
  } 
}