<section id="volunteer">

  <div class="section-container">
    <div class="banner"></div>
    
    <div class="title">
      <a href="/volunteers">
        <h2>devenir bénévole</h2>
      </a>
    </div>
  </div>

</section>
