<section id="banner">

  <div class="section-container">
    <div class="row1">
      <%= link_to image_tag("layout/logo.png", class: "logo"), "/" %>
      <%= image_tag "layout/burger.svg", id: "header-btn" %>
    </div>

    <div class="row2">
      <h1>Notre vision</h1>
    </div>

  </div>

</section>
