<section id="donation">

  <div class="section-container">
    <p>
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.”
    </p>
    <p>Lorem Ipsum</p>
  </div>

  <div class="title">
    <a href="#"><h2>soutenir la RJ</h2></a>
  </div>

</section>
