<section id="donation">

  <div class="section-container">
    <p>
      “Pendant la louange, la présence de Dieu était puissante et j’ai commencé à pleurer mais je me sentais bien. Quand j’ai arrêté de pleurer, j’ai ressenti une sorte de paix sur mon cœur. Comme s'il avait « réparé » mes blessures.”</p>
    <p>Colleen</p>
  </div>

  <div class="title">
    <a class="tooltip">
      <h2>soutenir la RJ</h2>
      <span class="tooltiptext">
        Coming soon
      </span>
    </a>
  </div>

</section>
