<section id="intro">

  <div class="section-container">
    <div class="row-title">
      <div class="first-half"></div>
      <div class="second-half">
        <h2>Plus qu'une<br>conférence</h2>
      </div>
    </div>

    <div class="row-text">
      <div class="first-half">
        <p><span>La RJ</span> a pour vision d’accompagner et d’équiper la jeunesse de Suisse romande et de francophonie au travers de rassemblements. Nous souhaitons permettre à chacun de vivre la présence de Dieu, nous voulons partager de façon claire l’Evangile de Jésus Christ et souhaitons que tous expérimentent la puissance de l’Esprit.</p>


        <p>
          La RJ rassemble plusieurs milliers de jeunes de francophonie.
          Parallèlement, la RJ Login rassemble plusieurs centaines de leaders et co-leaders de groupes de jeunes pour un jour de formation et d'équipement.<br>
        </p>
        <p>
          Bien que <span>son programme</span> corresponde principalement à des jeunes entre 12 et 27 ans, la participation est ouverte à tous. Notre association existe pour être au service des jeunes et plus spécialement pour les groupes de jeunes.
        </p>
        <p>
          Nous équipons les jeunes pour leur appel et nous les édifions dans leur foi. Dans nos événements nous annonçons clairement le message de l'Evangile et Jésus est le centre de tout ce que nous faisons. Nous voulons vivre des temps forts de visitation de l'Esprit.
        </p>
        <p>
          <span>Notre approche</span> est charismatique. Nos rassemblements se veulent rassembleur et interconfessionnel.
        </p>
        <p>
          Un jeune qui a participé à un événement RJ sera encouragé à s'impliquer dans son groupe de jeunes et dans son église. Il désirera exercer une influence positive autour de lui (famille, ami, société).
        </p>
      </div>
      <div class="second-half"></div>
    </div>

  </div>

  <div class="banner"></div>

</section>
