#container.volunteer {

  section {
    a {
      border-bottom: 1px dashed rgb(138, 138, 138);

      &:hover {
        border-bottom: 1px dashed rgb(26, 26, 26);
        background-color: #f0f0f0;
      }
    }
  }
}