<% if object.errors.any? %>
	<div id="error">
		<p class="title">
			Le formulaire contient <%= pluralize(object.errors.count, "error") %>
		</p>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
			 <li><%= msg.encode("UTF-8") %></li>
			<% end %>
		</ul>
	</div>
<% end %>
