---
---

<section id="logo-burger">
  <div>
    <!-- Logo -->
    <a href="/">
      <svg
        viewBox="0 0 426 426"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"
        ><g id="Calque-1"
          ><path
            d="M372.083,340.903c-2.068,0.924 -4.143,1.776 -6.225,2.58c-36.615,42.747 -90.961,69.881 -151.529,69.881c-110.014,0 -199.518,-89.496 -199.518,-199.51c0,-28.04 5.832,-54.744 16.314,-78.982l-5.053,0c-10.234,24.309 -15.905,50.999 -15.905,78.982c0,112.573 91.589,204.158 204.162,204.158c65.244,0 123.435,-30.773 160.839,-78.573c-1.024,0.504 -2.047,0.995 -3.085,1.464"
            style="fill-rule:nonzero;"></path><path
            d="M81.907,64.766c35.254,-31.348 81.647,-50.419 132.422,-50.419c50.569,0 96.792,18.918 131.985,50.046l6.915,0c-36.466,-33.913 -85.297,-54.69 -138.9,-54.69c-53.802,0 -102.798,20.929 -139.305,55.063l6.883,0Z"
            style="fill-rule:nonzero;"></path><path
            d="M35.784,208.023l59.765,0c6.431,0 12.497,-0.682 18.186,-2.043c5.696,-1.354 10.635,-3.65 14.846,-6.869c4.207,-3.212 7.483,-7.295 9.843,-12.249c2.345,-4.946 3.525,-11.005 3.525,-18.186c0,-6.926 -1.24,-12.807 -3.717,-17.632c-2.473,-4.822 -5.813,-8.72 -10.02,-11.695c-4.211,-2.967 -9.094,-5.131 -14.665,-6.495c-5.565,-1.358 -11.318,-2.044 -17.252,-2.044l-26.356,0l-67.931,0l0,-61.985l87.599,0c7.427,0 14.91,0.128 22.458,0.369c7.547,0.249 15.031,0.992 22.461,2.228c7.423,1.24 14.597,3.216 21.527,5.941c6.925,2.726 13.481,6.436 19.672,11.134c11.381,9.405 19.923,20.787 25.616,34.155c5.686,13.357 8.535,27.34 8.535,41.941c0,10.646 -1.545,20.848 -4.641,30.623c-3.094,9.78 -7.607,18.56 -13.549,26.356c-5.933,7.796 -13.179,14.348 -21.715,19.672c-8.535,5.33 -18.246,8.848 -29.138,10.582l74.981,94.648l-80.915,0l-99.115,-138.451Z"
            style="fill-rule:nonzero;"></path><path
            d="M422.193,68.451l0,164.442c0,6.681 -0.064,13.489 -0.184,20.411c-0.135,6.936 -0.739,13.738 -1.862,20.425c-1.109,6.673 -2.843,13.176 -5.195,19.487c-2.352,6.304 -5.75,12.053 -10.206,17.255c-9.161,11.641 -20.602,20.546 -34.333,26.729c-13.738,6.19 -27.908,9.274 -42.499,9.274c-6.446,0 -12.814,-0.554 -19.124,-1.662c-6.304,-1.116 -12.31,-2.786 -18.002,-5.018c-19.302,-7.178 -33.281,-18.378 -41.945,-33.587c-8.663,-15.223 -12.991,-32.861 -12.991,-52.903l74.238,0c0.242,3.468 0.618,7.05 1.116,10.774c0.497,3.71 1.478,7.107 2.97,10.198c1.486,3.106 3.583,5.636 6.311,7.612c2.722,1.99 6.311,2.97 10.76,2.97c4.954,0 8.848,-1.044 11.698,-3.155c2.843,-2.096 4.946,-4.818 6.304,-8.166c1.364,-3.34 2.231,-7.05 2.608,-11.136c0.369,-4.08 0.554,-7.974 0.554,-11.691l0,-121.381l-36.749,0l0,-60.878l106.531,0Z"
            style="fill-rule:nonzero;"></path>
        </g>
      </svg>
    </a>
    <ul class="links">
      <!--<li><a href="/">Home</a></li>-->
      <li><a href="/2025">RJ25</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/vision">Vision</a></li>
      <li><a href="/volunteers">Bénévole</a></li>
    </ul>
    <!-- Burger -->
    <div class="svg" id="header-btn">
      <svg
        viewBox="0 0 426 426"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"
        ><g
          ><rect x="0" y="39.83" width="425.197" height="82.185"></rect><rect
            x="0"
            y="174.266"
            width="425.197"
            height="82.185"></rect><rect
            x="0"
            y="303.182"
            width="425.197"
            height="82.185"></rect>
        </g>
      </svg>
    </div>
  </div>
</section>

<header class="hiddenContent">
  <div class="content-wrap">
    <img src="/layouts/close.svg" id="close-button" />

    <ul class="links">
      <!--<li><a href="/">Home</a></li>-->
      <li><a href="/2025">RJ25</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/vision">Vision</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/volunteers">Bénévole</a></li>
      <li><a href="/support">Soutenir</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </div>
</header>

<script>
  const burger = document.getElementById("header-btn");
  const close = document.getElementById("close-button");
  const menu = document.getElementsByTagName("header")[0];

  // open menu
  burger?.addEventListener("click", function () {
    burger.classList.add("hiddenContent");
    menu?.classList.remove("hiddenContent");
  });

  // close menu
  close?.addEventListener("click", function () {
    burger?.classList.remove("hiddenContent");
    menu?.classList.add("hiddenContent");
  });

  // set active link
  const links = document.getElementsByClassName("links")[0].children;
  for (const link of links) {
    const a = link.children[0];
    if (a.getAttribute("href") == window.location.pathname) {
      a.classList.add("active");
      break;
    }
  }
</script>

<style lang="scss">
  @import "../styles/variables";

  .hiddenContent {
    display: none !important;
  }

  section#logo-burger {
    position: absolute;
    z-index: 1;

    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px);

    padding-bottom: 20px;

    left: 0;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .links {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      font-size: $large-text * 1.25;
    }
    @media screen and (max-width: $mobile-width) {
      .links {
        display: none;
      }    
    }

    & > div {
      max-width: $main-width;
      height: 100%;
      width: 100%;
      padding: 0 $main-padding;
      height: 50px;
      margin: 20px 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      svg {
        width: 50px;

        path,
        rect {
          // fill: #1e1c1a;
          fill: #fff;
        }
      }

      div#header-btn {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: none;
        cursor: pointer;

        svg {
          width: 30px;
        }
      }
      @media screen and (max-width: $mobile-width) {
        div#header-btn {
          display: flex;
        }
      }
      div.keep {
        background-color: #111;
        padding: 10px;
        z-index: 20;
        position: fixed;
        top: 20px;
        right: $main-padding;
        transition: 0.5s;

        @keyframes burger-button {
          0% {
            background-color: #6bcf4c;
          }
          50% {
            background-color: #85d31e;
          }
          80% {
            background-color: rgb(26, 228, 76);
          }
          100% {
            background-color: #6bcf4c;
          }
        }

        &:hover {
          background-color: #6bcf4c;
          animation-name: burger-button;
          animation-duration: 5s;
          animation-delay: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
  }

  header {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    display: block;

    .hiddenContent {
      display: none;
    }

    div.content-wrap {
      overflow-y: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      margin: 20px 0 0 0;
      max-width: $main-width;
      padding: $main-padding $main-padding 0 $main-padding;
      margin: auto;
      font-family: "Helvetica neue", "Helvetica", sans-serif;

      img#close-button {
        width: 30px;
        cursor: pointer;
      }

      ul {
        color: #fff;
        font-size: $sub-title;
        font-weight: bold;
        text-align: right;
        padding: 30px 100px 0 0;
        flex: 1;

        li {
          list-style-type: none;
          padding: 0 0 20px 0px;
          margin-right: 10px;

          a {
            position: relative;
          }

          a.off {
            color: #666666;
            pointer-events: none;
            cursor: default;
          }

          a.active::after,
          a:hover::after {
            content: "";
            position: absolute;
            left: -30px;
            right: -14px;
            bottom: -10px;
            top: 15px;
            z-index: -1;
            box-sizing: border-box;
            transition: 0.5s ease-in;
          }
        }

        li:nth-child(1) a:hover::after {
          background: #288084;
        }
        li:nth-child(2) a:hover::after {
          background: #4f2c92;
        }
        li:nth-child(3) a:hover::after {
          background: #b21d77;
        }
        li:nth-child(4) a:hover::after {
          background: #0127a6;
        }
        li:nth-child(5) a:hover::after {
          background: #ad870d;
        }
        li:nth-child(6) a:hover::after {
          background: #e7d42b;
        }
        li:nth-child(7) a:hover::after {
          background: #12550b;
        }
      }

      div.signin {
        color: #fff;
        padding: 30px 100px 60px 0;
        align-self: flex-end;
        justify-self: flex-end;
        font-size: $large-text;
      }

      &::-webkit-scrollbar-track {
        border: 1px solid black;
        background-color: rgb(0, 0, 0);
      }

      &::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(27, 27, 27);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #505050;
      }
    }
  }
</style>
