---
---

<section>
  <div id="box">
    <div id="logo">
      <img src="/public/2025/icons/rj_logo.png" alt="">
    </div>
    <div id="links">
      <a href="#">RJ25</a>
      <a href="#">RJLOGIN</a>
      <a href="#">Vision</a>
      <a href="#">Photos</a>
      <a href="#">Bénévoles</a>
      <a href="#">Soutenir</a>
      <a href="#">FAQ</a>
    </div>
    <div id="media">
      <div id="socials">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img src="/public/2025/icons/facebook.png" alt="Rencontre de jeunesse Facebook">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img src="/public/2025/icons/instagram.png" alt="Rencontre de jeunesse Instagram">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img src="/public/2025/icons/youtube.png" alt="Rencontre de jeunesse Youtube">
        </a>
      </div>
      <b>Rencontre de jeunesse<br>1607 Palézieux</b>
      <b>@ Rencontre de jeunesse 2024</b>
      <b id="icon">Icônes : Flaticon.com</b>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  section {
    background: #000;
  
    #box {
      background: #fff;
      padding: $blank-space;
      border-radius: 20px 20px 0px 0px;

      display: flex;
      justify-content: space-between;
    
      img {
        width: 50px;
      }
      
      #links {
        display: flex;
        flex-direction: column;
        font-size: $medium-title;
        font-weight: bold;
        gap: 10px;
      }

      #media {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: $large-text;
        
        #socials {
          display: flex;
          gap: 20px;

          img {
            width: 35px;
          }
        }

        #icon {
          opacity: 0.5;
        }
      }
    }
  }

  @media only screen and (min-width: $mobile-width) {
    section {    
      #box {     
        img {
          width: 150px;
        }
        
        #links {
          display: flex;
          flex-direction: column;
          font-size: $large-text;
          font-weight: bold;
          gap: 10px;
        }

        #media {
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-size: $large-text;
          
          #socials {
            display: flex;
            gap: 20px;

            img {
              width: 35px;
            }
          }

          #icon {
            opacity: 0.5;
          }
        }
      }
    }
  }
</style>
