---
---

<section class="cont">
  <div class="section-container">
    <div class="partners">
      <div class="content-wrap">
        <p>Partenaires</p>
        <p>
          <a href="https://vecteurcom.com" target="_blank">Vecteurcom</a> · <a
            href="http://cash-solutions.ch"
            target="_blank">Cash Solutions</a
          > · <a href="https://doxatech.ch" target="_blank">DOXATECH</a> · <a
            href="https://www.topchretien.com"
            target="_blank">TOPCHRÉTIEN</a
          > · <a href="http://www.ligue.ch" target="_blank"
            >Ligue pour la lecture de la Bible</a
          >
        </p>
        <div>
          <p class="address">
            Rencontre de jeunesse, 1607 Palézieux<br />
            IBAN CH91 0900 0000 1717 2886 0<br />
            Copyright © 2022
          </p>
        </div>
      </div>
    </div>
    <div class="social-medias">
      <p>
        <a href="https://facebook.com/rencontredejeunesse" target="_blank"
          ><img src="/footer/facebook.svg" />
        </a>
        <a href="https://www.instagram.com/rencontredejeunesse" target="_blank"
          ><img src="/footer/instagram.svg" />
        </a>
        <a
          href="https://www.youtube.com/user/RencontredeJeunesse"
          target="_blank"
          ><img src="/footer/youtube.svg" />
        </a>
      </p>
    </div>
  </div>
</section>
<section class="cont2">
  <div class="section-container">
    <div class="build">
      {import.meta.env.APP_VERSION || "rj-v0.0"} - <a
        href={import.meta.env.BUILD_URL || "#"}
        >{import.meta.env.SHORT_SHA || "aef123"}</a
      > - {import.meta.env.BUILD_DATE || "1.1.1970"}
    </div>
    <div class="infomaniak">
      <svg
        height="52"
        viewBox="0 0 132 52"
        width="132"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path class="rectangle" d="m0 51.999h132v-51.998h-132z"></path>
        <g class="logo">
          <path
            d="m81.6407 22.5929c-.246.639-.534 1.092-.863 1.36-.33.268-.735.401-1.214.401-.267 0-.531-.028-.793-.088v-.69c.195.042.412.064.651.064.603 0 1.032-.333 1.288-.996l.324-.809-2.336-5.711h.941l1.269 3.239c.277.739.451 1.273.517 1.602h.041c.047-.177.142-.478.288-.904.147-.428.625-1.74 1.436-3.937h.94zm-4.645-5.299c-.264-.363-.673-.545-1.226-.545-.6 0-1.03.17-1.295.507-.264.336-.396.903-.396 1.703 0 .797.136 1.368.408 1.713.27.344.705.516 1.304.516.539 0 .941-.194 1.205-.578.264-.386.397-.939.397-1.662 0-.74-.133-1.291-.397-1.654zm.668 3.839c-.424.518-1.013.775-1.768.775-.376 0-.721-.068-1.031-.204-.312-.137-.576-.346-.786-.631h-.064l-.185.73h-.628v-8.065h.877v1.959c0 .44-.014.834-.042 1.182h.042c.409-.566 1.015-.849 1.817-.849.761 0 1.352.255 1.773.764.421.51.633 1.231.633 2.165 0 .932-.213 1.658-.638 2.174zm-9.577-2.154c0-.804-.138-1.379-.41-1.723-.274-.345-.709-.517-1.308-.517-.515 0-.909.197-1.182.59-.273.391-.41.945-.41 1.661 0 .726.137 1.274.408 1.644.271.369.669.554 1.194.554.599 0 1.033-.16 1.303-.48.271-.32.405-.836.405-1.548zm.163 2.824-.117-.76h-.046c-.406.576-1.012.865-1.818.865-.757 0-1.347-.254-1.768-.762s-.632-1.23-.632-2.167c0-.936.211-1.663.634-2.183.423-.517 1.012-.777 1.766-.777.784 0 1.387.281 1.807.84h.068l-.037-.409-.02-.4v-2.312h.875v8.065zm-6.647-4.631c-.249-.287-.6-.433-1.058-.433-.466 0-.835.148-1.113.447-.276.298-.439.709-.488 1.233h3.028c0-.542-.123-.957-.369-1.247zm-2.681 1.946c.019.668.19 1.174.516 1.52.325.345.785.518 1.377.518.623 0 1.239-.128 1.85-.383v.768c-.312.131-.605.224-.881.281-.276.058-.611.086-1 .086-.858 0-1.534-.256-2.028-.767s-.742-1.222-.742-2.131c0-.916.229-1.643.689-2.182.461-.54 1.077-.809 1.853-.809.725 0 1.3.234 1.723.702.423.47.634 1.087.634 1.853v.544zm-3.001 1.805c.165.183.393.274.682.274.155 0 .305-.011.448-.033.145-.023.26-.046.345-.07v.658c-.095.045-.236.083-.422.112-.184.03-.351.044-.499.044-1.12 0-1.68-.579-1.68-1.736v-3.381h-.829v-.414l.829-.358.37-1.212h.508v1.317h1.679v.667h-1.679v3.344c0 .342.083.605.248.788zm-4.413-4.184c-.415 0-.73.065-.941.192-.212.128-.316.305-.316.529 0 .152.039.281.118.39.08.106.208.208.383.305.176.096.514.236 1.015.419.688.247 1.15.493 1.392.743.241.248.363.561.363.937 0 .529-.201.937-.603 1.223-.401.288-.965.431-1.691.431-.768 0-1.367-.119-1.796-.357v-.799c.278.138.576.248.895.326.318.08.626.119.922.119.458 0 .811-.071 1.058-.214.246-.143.369-.363.369-.656 0-.221-.098-.411-.293-.567-.196-.157-.577-.344-1.143-.559-.54-.196-.923-.367-1.151-.515-.226-.147-.396-.313-.508-.5-.109-.186-.166-.409-.166-.669 0-.463.193-.827.576-1.095.384-.268.911-.403 1.58-.403.624 0 1.234.124 1.829.374l-.311.7c-.583-.235-1.109-.354-1.581-.354zm-4.399.573c-.298-.374-.737-.563-1.318-.563-.575 0-1.009.187-1.3.556-.293.37-.44.921-.44 1.654 0 .725.148 1.278.444 1.658.297.381.731.571 1.306.571.574 0 1.01-.19 1.308-.568.297-.378.447-.932.447-1.661 0-.723-.15-1.271-.447-1.647zm.641 3.816c-.474.521-1.132.78-1.971.78-.517 0-.977-.119-1.378-.357-.402-.238-.713-.582-.931-1.027-.218-.447-.328-.968-.328-1.565 0-.926.236-1.649.709-2.165.472-.515 1.127-.775 1.966-.775.809 0 1.454.264 1.931.794.478.528.716 1.243.716 2.146 0 .925-.238 1.649-.714 2.169zm-6.747.675v-3.673c0-.463-.108-.809-.323-1.037-.215-.229-.551-.344-1.009-.344-.609 0-1.055.163-1.335.488s-.42.857-.42 1.597v2.969h-.877v-8.065h.877v2.442c0 .293-.015.538-.043.731h.054c.172-.273.417-.488.737-.646.32-.156.683-.235 1.092-.235.707 0 1.239.165 1.593.495.353.329.531.854.531 1.573v3.705z"
          ></path>
          <path
            d="m120.7432 23.278c-2.614 2.732-6.297.475-10.989 3.624-5.778 3.876-4.158 9.087-2.733 10.751.297-1.545 1.501-4.207 3.505-6.416 2.91-3.208 7.589-5.242 7.603-5.227s-3.801 2.495-6.177 5.524c-1.865 2.379-2.749 4.611-3.262 6.604 0 0 6.842.141 9.084-3.563 2.761-4.561 3.029-10.644 2.969-11.297"
          ></path>
          <path
            d="m104.8575 37.9474h-3.745l-1.757-3.413-1.253 1.201v2.212h-3.397v-11.747h3.397v6.062l2.484-2.826h4.091l-3.111 2.981zm-14.728-4.039c-.457.16-.933.302-1.429.425-.675.176-1.103.35-1.282.52-.186.176-.278.377-.278.601 0 .257.09.467.274.629.182.163.45.244.804.244.37 0 .715-.087 1.034-.265.317-.176.542-.389.677-.644.133-.253.2-.583.2-.99zm.548 4.039c-.126-.221-.208-.386-.246-.502-.037-.114-.076-.295-.114-.54-.437.411-.868.704-1.298.88-.59.236-1.272.353-2.051.353-1.035 0-1.821-.234-2.357-.705-.536-.469-.805-1.048-.805-1.738 0-.646.195-1.178.58-1.596.388-.416 1.102-.725 2.141-.928 1.246-.246 2.056-.418 2.426-.517.37-.1.761-.228 1.176-.389 0-.401-.084-.681-.252-.841-.169-.161-.466-.241-.891-.241-.545 0-.954.086-1.226.256-.213.135-.383.385-.514.754l-3.178-.329c.12-.545.293-.974.518-1.285.227-.314.552-.583.977-.814.305-.166.724-.293 1.259-.384.533-.092 1.11-.136 1.73-.136.997 0 1.797.055 2.403.164.604.109 1.107.338 1.51.685.284.24.506.581.671 1.021.163.441.244.861.244 1.262v3.758c0 .401.026.715.078.941.051.227.164.517.338.871zm-11.241-9.528h3.325v-2.219h-3.325zm0 9.528h3.325v-8.511h-3.325zm-4.779 0v-4.681c0-.533-.1-.912-.302-1.133-.201-.222-.484-.332-.849-.332-.403 0-.73.149-.981.449-.25.299-.376.835-.376 1.609v4.088h-3.323v-8.511h3.094v1.387c.463-.566.931-.971 1.406-1.214.473-.243 1.051-.364 1.731-.364.921 0 1.642.267 2.16.805.521.538.781 1.367.781 2.487v5.41zm-10.407-4.039c-.458.16-.934.302-1.429.425-.676.176-1.104.35-1.282.52-.186.176-.279.377-.279.601 0 .257.092.467.275.629.181.163.45.244.803.244.37 0 .715-.087 1.034-.265.318-.176.544-.389.677-.644.135-.253.201-.583.201-.99zm.547 4.039c-.125-.221-.208-.386-.245-.502-.038-.114-.077-.295-.114-.54-.436.411-.869.704-1.299.88-.588.236-1.271.353-2.051.353-1.035 0-1.819-.234-2.356-.705-.536-.469-.804-1.048-.804-1.738 0-.646.193-1.178.58-1.596.386-.416 1.099-.725 2.14-.928 1.247-.246 2.056-.418 2.426-.517.37-.1.762-.228 1.176-.389 0-.401-.085-.681-.254-.841-.168-.161-.464-.241-.889-.241-.544 0-.954.086-1.227.256-.211.135-.383.385-.513.754l-3.178-.329c.12-.545.293-.974.519-1.285.226-.314.551-.583.975-.814.306-.166.725-.293 1.258-.384.535-.092 1.111-.136 1.733-.136.996 0 1.797.055 2.402.164.603.109 1.108.338 1.51.685.284.24.507.581.669 1.021.164.441.247.861.247 1.262v3.758c0 .401.026.715.077.941.051.227.165.517.339.871zm-11.109 0v-4.848c0-.384-.076-.671-.228-.858-.223-.294-.5-.44-.831-.44-.39 0-.706.138-.944.416-.239.277-.358.723-.358 1.338v4.392h-3.332v-4.687c0-.375-.023-.628-.066-.763-.072-.213-.195-.386-.369-.516-.174-.132-.38-.197-.615-.197-.382 0-.697.142-.943.425-.246.284-.369.749-.369 1.394v4.344h-3.332v-8.511h3.103v1.242c.448-.517.9-.885 1.354-1.106.456-.219 1.005-.327 1.648-.327.694 0 1.242.12 1.646.36.403.24.733.598.989 1.073.522-.555.998-.933 1.427-1.133.431-.201.961-.3 1.591-.3.931 0 1.655.27 2.179.813.522.542.782 1.39.782 2.543v5.346zm-16.149-5.919c-.31-.36-.695-.54-1.153-.54-.484 0-.884.183-1.2.549s-.474.924-.474 1.671c0 .758.156 1.319.469 1.682.313.364.708.545 1.181.545.479 0 .872-.178 1.181-.537.307-.357.46-.932.46-1.722 0-.737-.154-1.286-.464-1.648zm2.479 4.857c-.885.836-2.109 1.253-3.672 1.253-1.395 0-2.521-.347-3.382-1.042-1.057-.859-1.584-1.987-1.584-3.38 0-1.299.446-2.369 1.339-3.21.892-.841 2.099-1.261 3.619-1.261 1.737 0 3.049.493 3.937 1.482.713.795 1.069 1.776 1.069 2.941 0 1.308-.442 2.381-1.326 3.217zm-8.158-8.713c-.397-.065-.719-.098-.963-.098-.3 0-.515.05-.645.148-.131.099-.225.256-.279.469-.027.117-.04.366-.04.745h1.584v2.388h-1.584v6.123h-3.332v-6.123h-1.243v-2.388h1.243v-.385c0-.346.037-.728.114-1.144.076-.418.219-.758.429-1.023.209-.264.503-.477.882-.64.377-.163.932-.244 1.661-.244.584 0 1.43.065 2.541.2zm-10.284 9.775v-4.681c0-.533-.1-.912-.302-1.133-.202-.222-.484-.332-.849-.332-.403 0-.731.149-.981.449-.25.299-.376.835-.376 1.609v4.088h-3.324v-8.511h3.095v1.387c.464-.566.931-.971 1.406-1.214.473-.243 1.05-.364 1.731-.364.921 0 1.641.267 2.16.805.52.538.781 1.367.781 2.487v5.41zm-10.611-9.528h3.324v-2.219h-3.324zm0 9.528h3.324v-8.511h-3.324z"
          ></path>
        </g>
      </svg>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables";

  section.cont {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1ae4ad+53,131dc7+100 */
    background: #1ae4ad; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #1ae4ad 53%,
      #131dc7 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #1ae4ad 53%,
      #131dc7 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #1ae4ad 53%,
      #131dc7 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ae4ad', endColorstr='#131dc7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .section-container {
      max-width: $main-width;
      margin: auto;
      display: flex;
      flex-direction: row;
      height: 180px;
      padding: 0 $main-padding;

      div.partners {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $small-text;

        p {
          padding: 0 0 10px 0;

          a {
            display: inline-block;
          }

          &.address {
            padding-top: 10px;
            text-transform: none;
          }
        }
      }

      div.social-medias {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        img {
          height: 25px;
          margin: 0 0 0 10px;
        }
      }
    }

    @media only screen and (max-width: $mobile-width) {
      padding: 40px 0 0 0;

      .section-container {
        div.social-medias {
          img {
            height: 20px;
          }
        }
      }
    }
  }

  section.cont2 {
    background: black;

    .section-container {
      max-width: $main-width;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1px $main-padding;
      font-size: 8px;
      color: #00b485;

      svg {
        height: 40px;

        path.rectangle {
          fill: none;
          stroke: none;
        }

        g.logo {
          fill: #00b485;
        }
      }
    }
  }
</style>
