---
export interface Props {
	title: string;
	dark: boolean;
}

import Favicon from "./Favicon.astro";
import Burger from "./Burger.astro";
import Footer from "./Footer.astro";

import "../styles/normalize.scss";
import "../styles/reset.scss";
import "../styles/global.scss";
import "../styles/fonts.scss";

const { title, dark=false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<Favicon />

		<title>{title}</title>

		<style>
			.wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				overflow: hidden;

				position: absolute;
				left: 0px;
				top: 0px;

				height: 100vh;
				width: 100vw;
				overflow-y: auto;
			}
			.resizer {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 0px;

				height: 100%;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="wrapper" style={dark ? `background: black;` : ''}>
			<div class="resizer">
				<Burger />

				<slot />

				<Footer />
			</div>
		</div>
	</body>
</html>
