<section id="banner">

  <div class="section-container">

    <div class="row1">
      <h1>Les Highlights</h1>
      <p><a href="/highlights/2018" class="previous">voir l'édition 2018</a></p>
    </div>

  </div>

</section>
