<% content_for :id, "volunteers-index" %>

<section class="content-wrap">

  <div id="connect-header">
    <%= link_to image_tag("connect/layout/back.svg", class: "back"), connect_root_path, remote: false %>
    <h1>Bénévolat</h1>
  </div>

  <% if @volunteer %>

  <p>Tu es inscrit comme bénévole.</p>
  <% if @volunteer.sector %>
  <p>Tu as choisi comme secteur: <%= t("sector.attributes.#{@volunteer.sector}") %></p>
  <% end %>

  <% else %>

  <%= link_to "M'inscrire comme bénévole", volunteers_path(anchor: "letsgo") %>

  <% end %>

</section>