<% content_for :id, "orders-index" %>

<section class="content-wrap">

  <div id="connect-header">
    <%= link_to image_tag("connect/layout/back.svg", class: "back"), connect_root_path, remote: false %>
    <h1>Mes commandes</h1>
  </div>

  <p><center>
    <%= link_to "Aller à mes commandes en cours", pending_connect_orders_path, class: "connect-btn-light" %>
  </center></p>

  <% @orders.each do |order| %>

    <p>Commande n°<%= link_to order.order_id, connect_order_path(order) %> pour la <%= order.product_name.capitalize %></p>

  <% end %>

</section>
