@import "../../../components/variables";
@import "../../../components/button-bar";

#container.rj-2020 section#program {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: image-url("rj/2020/welcome/background.png");
  background-size: cover;
  background-position-x: center;
  color: #fff;

  .section-container {
    max-width: $main-width;
    width: 100%;
    padding: 60px $main-padding 0px $main-padding;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    .program {
      width: 60%;

      display: flex;
      flex-direction: row;

      .sub-title {
        font-size: $medium-title;
        text-transform: uppercase;
        padding: 0 20px 0 0;
        position: relative;

        span {
          z-index: 1;
          position: relative;
        }

        img {
          position: absolute;
          width: 150px;
          left: -40px;
          top: -10px;
          z-index: 0;
        }
      }

      .program-content {
        padding: 6px 0 0 0;
        .day {
          padding: 0 0 40px 0;
          .title {
            font-size: $large-text;
            text-transform: uppercase;
            padding: 0 0 4px 0;
          }
          .entry {
            display: flex;
            flex-direction: row;

            span:first-child {
              flex-shrink: 0;
            }
            span:nth-child(2) {
              padding: 0 0 0 5px;
            }
          }
        }
      }
    }

    .contact {
      width: 40%;

      .top {
        display: flex;
        flex-direction: row;

        .sub-title {
          font-size: $medium-title;
          text-transform: uppercase;
          padding: 0 20px 0 0;
          position: relative;

          span {
            z-index: 1;
            position: relative;
          }

          img {
            position: absolute;
            width: 150px;
            right: 25px;
            top: -10px;
            z-index: 0;
          }
        }

        .address {
          padding: 10px 0 0 0;

          p.link {
            padding: 20px 0 0 0;

            a {
              background: #fff;
              color: #000;
              padding: 5px 14px;
            }
          }
        }
      }

      .form {
        padding: 70px 0 0 0;
        form {
          input,
          textarea,
          select {
            width: 100%;
            border: 0px transparent;
            background: #1f1f1f;
            color: #d6d6d6;
            padding: 5px 20px 10px 20px;
            margin: 5px 0;
            font-size: $small-text;
            text-transform: uppercase;
          }
          textarea {
            width: 100%;
          }
          select {
            width: 100%;
          }
          input[type="submit"] {
            width: initial;
            background: #fff;
            color: #000;
            text-transform: capitalize;
            padding: 5px 14px;
            font-size: $large-text;
          }
        }
      }
    }

    .registration {
      flex: 1;

      .title {
        display: flex;
        flex-direction: row;
        max-width: 50%;

        .sub-title {
          font-size: $medium-title;
          text-transform: uppercase;
          padding: 0 20px 0 0;
          position: relative;

          span {
            z-index: 1;
            position: relative;
          }

          img {
            position: absolute;
            width: 150px;
            right: 25px;
            bottom: 40px;
            z-index: 0;
          }
        }

        .text {
          font-size: $small-text;
        }
      }

      .prices {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px 0 0 0;

        .price {
          flex: 1;

          &:not(:last-child) {
            border-right: 1px solid #707070;
          }
          &:not(:first-child) {
            border-left: 1px solid #707070;
          }

          display: flex;
          flex-direction: row;
          justify-content: center;

          .price-wrapper {
            p:nth-child(1) {
              font-size: $title-size;
            }
            p:nth-child(2) {
              font-size: $large-text;
              text-transform: uppercase;
            }
            p:nth-child(3) {
              font-size: $large-text;
              text-transform: uppercase;
              padding: 0 0 20px 0;
            }
            a {
              padding: 5px 19px;
              background: #fff;
              color: #000;
              font-size: $medium-title;
            }
          }
        }
      }

      .faq {
        display: flex;
        flex-direction: row;
        padding: 60px 0 0 0;

        a {
          background: #fff;
          color: #000;
          padding: 5px 14px;
        }

        p {
          font-size: $small-text;
          padding: 0 0 0 20px;
          max-width: 500px;
        }
      }
    }

    p.hands {
      width: 100%;
      text-align: center;
      line-height: 0;

      img {
        max-width: 100%;
      }
    }
  }
}
