@import "../../../components/variables";
@import '../../../components/button-bar';

#container.rj-2020 section#video {
  div.video {
    width: 100%;
    height: 500px;
    background: image-url("rj/2020/video/video.jpg");
    background-size: cover;
    background-position: center center;
  }
}