#connect-container.orders-show {

  &::before, &::after {
    background-color:  #ffffff;
  }

  div.connect-container-wrapper {
    background-color: #ffffff;
    color: #333;

    p:first-of-type {
      padding-top: 40px;
    }

    p {
      padding: 0 0 20px 0;
    }
  }
}