@import '../../components/variables';

section#application-footer {
  background-color: #101010;
  color: #fff;

  .section-container {
    max-width: $main-width;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 180px;
    padding: 0 $main-padding;

    div.partners {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: $small-text;

      p {
        padding: 0 0 10px 0;

        a {
          display: inline-block;
        }

        &.address {
          padding-top: 10px;
          text-transform: none;
        }
      }
    }

    div.social-medias {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      img {
        height: 25px;
        margin: 0 0 0 10px;
      }
    }
  }

  @media only screen and (max-width: $mobile-width) {
    .section-container {
      padding: 0 $mobile-padding !important;

      div.social-medias {
        img {
          height: 20px;
        }
      }
    }
  }
}
