<section id="countdown">

  <div class="section-container">
    <div class="left">
      <p class="countdown-text"></p>
    </div>
    <div class="right">
      <p class="txt">49CHF</p>
      <p class="sub">Vente flash</p>
    </div>
  </div>

</section>