<section id="header">

  <div class="section-container">

    <div class="poster"></div>
    <div class="title">
      <div class="title-wrapper">
        <a href="orders/rj-2020/events/new"><h2>acheter<br>son billet</h2></a>
        <p>dès maintenant et pendant 48h</p>
      </div>
    </div>

  </div>

</section>
