@import "../../components/variables";
@import '../../components/logo-burger-color';

@include logo-burger-color(#000, ".rj-2019");

#container.rj-2019 {
  font-family: monument, sans-serif;

  p {
    line-height: 1.5em;
  }
}

body.body-rj-2019 {
  overflow-x: hidden;
}

@media only screen and (max-width: $mobile-width) {
  div[class^="brush-"] {
    display: none !important;
  }
}