@import "../../components/variables";
@import "../../components/logo-burger-color";

$color1: #cda884;
$color2: #e8c7a7;
$color3: #ffeede;

@include logo-burger-color(#fff, ".rj-2022");

#container.rj-2022 {
  overflow-x: hidden;

  section#bg-1 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    .section-container {
      max-width: $main-width;
      width: 100%;
      position: relative;
      height: 0;

      svg {
        position: absolute;
        width: 3141px;
        height: 577px;
        left: 50%;
        transform: translateX(-50%);

        path.el1 {
          fill: $color1;
        }

        path.el2 {
          fill: $color2;
        }

        path.el3 {
          fill: $color3;
        }
      }
    }
  }

  section#welcome {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    .section-container {
      max-width: $main-width;
      width: 100%;
      padding: $logo-burger-height $main-padding 80px $main-padding;
      position: relative;

      h1 {
        font-size: $title-size;
        margin: 0;
        padding: 45px 0 0 0;
      }

      .sub {
        font-size: $sub-title;
        padding: 0 0 20px 0;
      }

      .intro {
        max-width: 300px;
        font-size: $large-text;
      }
    }
  }

  section#locations {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    .section-container {
      max-width: $main-width;
      width: 100%;
      padding: $logo-burger-height $main-padding 80px $main-padding;
      position: relative;

      div.locations {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 40px 0;

        p {
          text-transform: uppercase;
          font-size: $sub-title;
        }
      }

      div.time {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        p:nth-of-type(1) {
          text-transform: uppercase;
          width: 100px;
          font-size: $medium-title;
        }

        p:nth-of-type(2) {
          font-size: $medium-title;
          padding: 0 40px 0 0;
        }

        p:nth-of-type(3) {
          font-size: $large-text;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-width) {
}
