@import "../../components/variables";
@import "../../components/logo-burger-color";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

$color1: #ffeede;
$color2: #ecd2b9;
$color3: #e6c9ae;
$color4: #fff7f0;

@include logo-burger-color($color3, ".rj-2022");

#container.rj-2022 section#contact {
  background-color: white !important;
}

#container.rj-2022 {
  overflow: hidden;
  background: $color4;
  font-family: didot, sans-serif;
  color: #4f4031;

  section#bg-1 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    .section-container {
      max-width: $main-width;
      width: 100%;
      position: relative;
      height: 0;

      svg {
        position: absolute;
        width: 3141px;
        height: 577px;
        left: 50%;
        transform: translateX(-50%);

        path.el1 {
          fill: $color1;
        }

        path.el2 {
          fill: $color2;
        }

        path.el3 {
          fill: $color3;
        }
      }
    }
  }

  section#welcome {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 10;

    .section-container {
      max-width: $main-width;
      width: 100%;
      padding: $logo-burger-height $main-padding 80px $main-padding;
      position: relative;

      h1 {
        font-size: $title-size;
        margin: 0;
        padding: 45px 0 0 0;
        font-family: 'futura', serif;
        font-weight: normal;

        span {
          font-size: .8em;
        }
      }

      .sub {
        font-size: $sub-title;
        padding: 0 0 20px 0;
        font-family: futura;
      }

      .intro {
        max-width: 400px;
        font-size: $large-text;
      }
    }
  }

  section#locations {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 10;
    padding: 0 0 0 0;

    .section-container {
      max-width: $main-width;
      width: 100%;
      padding: $logo-burger-height $main-padding 80px $main-padding;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      div.locations {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 40px 0;
        width: 100%;

        p {
          text-transform: uppercase;
          font-size: $sub-title;
          font-family: 'futura', serif;
          font-weight: 800;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: -8px;
            height: 5px;
            left: 0;
            width: 80px;
            background: $color3;
          }
        }
      }

      div.time {
        div.time-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          p:nth-of-type(1) {
            text-transform: uppercase;
            width: 130px;
            font-size: $medium-title;
          }

          p:nth-of-type(2) {
            font-size: $large-text;
            width: 220px;
          }
        }
      }
    }
  }

  section#bg-2 {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    .section-container {
      max-width: $main-width;
      width: 100%;
      position: relative;
      height: 0;

      svg {
        position: absolute;
        width: 4500px;
        height: 2000px;
        left: 50%;
        transform: translateX(-50%);
        top: -865px;

        path.el1 {
          fill: $color1;
        }
      }
    }
  }

  section#price {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    z-index: 10;

    .section-container {
      max-width: $main-width;
      width: 100%;
      padding: 100px $main-padding 80px $main-padding;

      div.card {
        background: $color3;
        margin: auto;
        width: 300px;
        text-align: center;
        padding: 40px;
        font-size: $large-text;
        border-radius: 5px;
        margin-top: 40px;

        p:nth-child(1) {
          font-size: $sub-title;
          font-family: "futura";
          text-transform: uppercase;
        }

        p:nth-child(2) {
          padding: 0 0 30px 0;
        }

        p:nth-child(3) {
          span {
            font-family: futura;
          }
        }

        p:nth-child(4) {
          padding: 10px 0 40px 0;

          span {
            font-family: futura;
          }
        }

        p:nth-child(5) {
          padding: 0 0 15px 0;
        
          a {
            padding: 10px 25px;
            color: #fff;
            background: darken($color1, 30%);
            text-transform: uppercase;
            transition: all 300ms;
            border-radius: 7px;
            font-family: futura;

            &:hover {
              background: darken($color1, 50%);
              padding: 11px 25px 9px 25px;
              text-shadow: 0px 2px 0px #b3a59a;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-width) {
}
