@import '../../base/variables';

#form {

  .fields-for {

    .registrants-wrap {

      display: flex;
      max-width: 600px;
      flex-wrap: wrap;

      .row > div {
        text-align: center;
      }

    }

    button.remove-fields, button.add-fields {
      background-color: $red;
      padding: 5px 30px;
      margin: 15px 0;
      color: white;
      box-sizing: content-box;
      border: none;

      &:hover {
        background-color: #940833;
      }
    }

  }

}
