<h1>Inscription de groupe</h1>
<h6>
  Tu as demandé à inscrire un groupe de 15 personnes ou plus à la Rencontre de jeunesse.
</h6>
<p>
  Nous avons bien reçu ta demande d'inscription. Tu recevras par email dans les prochains jour une facture personnalisée correspondant au document transmis et avec les coordonnées de paiement.<br>
</p>
<p>
  Merci de procéder rapidement au paiement, <span style="font-weight: 500;"> de préférence par e-banking pour nous éviter des frais supplémentaires.</span>
</p>
<p>
  Ton inscription ne sera finalisée qu'une fois le paiement effectué.
</p>
<h6>
  Information relative à la commande
</h6>
<p>Commande n°<%= @order.order_id %> au nom de <%= @order.user.full_name %></p>
