<h1>Inscription de groupe</h1>
<h6>
  Tu as demandé à inscrire un groupe de 15 personnes ou plus à la Rencontre de jeunesse.
</h6>
<p>
  Nous avons bien reçu ta demande d'inscription. Tu recevras sous peu une facture personnalisée correspondant au document transmis.
</p>
<h6>
  Information relative à la commande
</h6>
<p>Commande n°<%= @order.order_id %> au nom de <%= @order.user.full_name %></p>
