<% if flash.any? %>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, id: "flash", class: "flash-#{key}") do %>
      <%= value %>
      <span class="close"><%= image_tag "icons/close.png" %></span>
    <% end %>
  <% end %>
<% end %>
