<section id="banner">

  <div class="section-container">

    <div class="row1">
      <h1>RJ Login</h1>
      <p class="intro">
        Une journée destinée à édifier - connecter - envoyer.<br>
        Rejoins des centaines de leaders pour cet événement spécial !
      </p>
      <p>
        <%#= link_to "S'inscrire", new_orders_event_path(key: "rj-login-20"), class: "register" %>
      </p>
    </div>

  </div>

</section>
