<section id="banner">

  <div class="section-container">
    <div class="row1">
      <%= link_to image_tag("layout/logo.png", class: "logo"), "/" %>
      <%= image_tag "layout/burger.svg", id: "header-btn" %>
    </div>

    <div class="row2">
      <h1>RJ Login</h1>
      <p>
        Une journée destinée à encourager - équiper - envoyer. <br>
        Rejoins des centaines de leaders pour cet événement spécial !
      </p>
      <a class="register" href="">S'inscrire</a>
    </div>

    <div class="row3">
      <a class="register" href="">S'inscrire</a>
    </div>

  </div>

</section>
