<section id="banner">

  <div class="section-container">
  
    <div class="row1">
      <h1>RJ Login</h1>

        Une journée destinée à encourager - équiper - envoyer. <br>
        Rejoins des centaines de leaders pour cet événement spécial !
      </p>
      <a class="register" href="">S'inscrire</a>
    </div>

    <div class="row3">
      <a class="register" href="">S'inscrire</a>
    </div>

  </div>

</section>
