<section id="guest">

  <div class="section-container">

    <div class="guest">
      <%= image_tag "login/guest/david.jpg" %>
      <p>avec DAVID Bonhomme</p>
      <p>Directeur <a href="https://progressifmedia.com" target="_blank">Progressif Media</a></p>
    </div>

    <div class="guest">
      <%= image_tag "login/guest/helene.jpg" %>
      <p>avec HÉLÈNE Bonhomme</p>
      <p>Créatrice <a href="https://fabuleusesaufoyer.com" target="_blank">Fabuleuse au foyer</a></p>
    </div>

    <div class="guest">
      <%= image_tag "login/guest/hillsong.jpg" %>
      <p>avec HILLSONG Genève</p>
      <p>Worship group</p>
    </div>
  </div>

</section>
