<section id="guest">

  <div class="section-container">

    <div class="guest">
      <%= image_tag "login/guest/ralph.jpg" %>
      <p>RALPH Pedley</p>
      <p><a href="https://campusawakening.co.uk/author/ralph-pedley" target="_blank">Campus Awakening</a></p>
    </div>

    <div class="guest">
      <%= image_tag "login/guest/etienne.jpg" %>
      <p>Etienne et Salomé Jaquier</p>
      <p>Louange (Gospel Center Oron)</p>
    </div>
  </div>

  <p>
    Vous serez inspirés durant la journée par des plusieurs intervenants: Ralph Pedley sera notre orateur principal pour la journée et vous pourrez écouter durant les ateliers Lizete Dos Santos, Nicolas Broglie et d'autres encore. De plus, Etienne et Salomé Jaquier du Gospel Center Oron nous conduirons dans la louange.
  </p>

</section>
