<section id="guest">

  <div class="section-container">

    <div class="guest">
      <%= image_tag "login/guest/avatar.jpg" %>
      <p>avec DAVID Bonhomme</p>
      <p>Titre, église</p>
    </div>

    <div class="guest">
      <%= image_tag "login/guest/avatar.jpg" %>
      <p>avec Hélène Bonhomme</p>
      <p>Titre, église</p>
    </div>

    <div class="guest">
      <%= image_tag "login/guest/avatar.jpg" %>
      <p>avec HILLSONG Genève</p>
      <p>Worship group</p>
    </div>
  </div>

</section>
