<section id="guest">

  <div class="section-container">

    <div class="guests">
      <div class="guest">
        <%= image_tag "login/guest/steve.jpg" %>
        <p>Stève Rivière</p>
        <p><a href="https://extravagance.re" target="_blank">Pasteur à Extravagance</a></p>
      </div>
    </div>

    <p>
      Vous serez inspirés durant la journée par plusieurs intervenants: Stève Rivière sera notre orateur principal pour la journée et vous pourrez écouter durant les ateliers plusieurs invités. <!-- De plus, Etienne et Salomé Jaquier du Gospel Center Oron nous conduirons dans la louange.-->
    </p>

  </div>

</section>
