<section id="program">

  <div class="section-container">
    <h2>Vision</h2>
    <p>
      La vision de la RJ Login est d'accompagner les leaders dans leur rôle en les encourageant, les bénissant et les équipant. La journée permet de rassembler des centaines de leaders afin qu'ils puissent échanger entre eux et repartir avec une vision large et rafraichie de l'action continuelle de Dieu. Ressourcés et équipés, les leaders peuvent continuer à oeuvrer pour que Son Royaume prenne place sur terre, comme au ciel !
    </p>

    <!--

    <div class="activities">
      <div>
        <h3>Input</h3>
        <p>
          Des messages encourageants et édifiants sont donnés durant la journée avec de la louange pour nous emmener dans la présence de Dieu.
        </p>
      </div>
      <div>
        <h3>Ateliers</h3>
        <p>
          Plusieurs ateliers sont proposés afin de donner des clés concrètes et pertinentes pour le travail de leader.
        </p>
      </div>
      <div>
        <h3>Connexion</h3>
        <p>
          Des temps libres durant l'événement permettent de discuter et partager avec d'autres leaders venant de toute la Suisse romande.
        </p>
      </div>
      <div>
        <h3>Espace RJ</h3>
        <p>
          La journée est une occasion de partager la vision de la RJ, de lever des bénévoles et de distribuer des packs de communication.
        </p>
      </div>
    </div>

    <h2>Horaires</h2>
    <p>
      08h30		Ouverture avec café-croissants
    </p>
    <p>
      09h30		Session #1
    </p>
    <p>
      11h00		Session RJ & Networking
    </p>
    <p>
      12h00		Lunch (libre)
    </p>
    <p>
      13h30		Session RJ: servir à la RJ
    </p>
    <p>
      14h30		Pause
    </p>
    <p>
      15h00		Ateliers #1: David Bonhomme // Shékina Favre
    </p>
    <p>
      15h45		Pause
    </p>
    <p>
      16h00		Ateliers #2: Hélène Bonhomme // Yves Bulundwe
    </p>
    <p>
      16h45		Pause
    </p>
    <p>
      17h00		Table ronde
    </p>
    <p>
      18h00		Repas (servi)
    </p>
    <p>
      20h00		Session #2
    </p>
    <p>
      22h00		Fin
    </p>
  </div>
  -->

</section>
