<section id="program">

  <div class="section-container">
    <h2>Vision</h2>
    <p>
      La vision de la RJ Login est d'accompagner les leaders dans leur rôle en les encourageant, les bénissant et les équipant. La journée permet de rassembler des centaines de leaders afin qu'ils puissent échanger entre eux et repartir avec une vision large et rafraichie de l'action continuelle de Dieu. Ressourcés et équipés, les leaders peuvent continuer à oeuvrer pour que Son Royaume prenne place sur terre, comme au ciel !
    </p>
    <h3>SPÉCIAL 2021</h3>
    <p>
      Ne souhaitant pas renoncer l'édition 2021 pour des raisons sanitaires, la RJ Login se déroulera entièrement en ligne ! Cette journée de rassemblement a toute son importance dans la pédiode défiante que nous vivons. Les changements amènent les églises, groupes de jeunes et toutes les oeuvres à innover pour y faire face et la RJ Login n'y déroge pas. Cette édition sera l'occasion de s'édifier et s'encourager à travers toute la francophonie ! 
      En outre, la RJ Login permet de préparer la RJ qui a besoin du soutien de tous pour fonctionner.
    </p>
    <!--
    <div class="activities">
      <div>
        <h3>Input</h3>
        <p>
          Des messages encourageants et édifiants sont donnés durant la journée avec de la louange pour nous emmener dans la présence de Dieu.
        </p>
      </div>
      <div>
        <h3>Ateliers</h3>
        <p>
          Plusieurs ateliers sont proposés afin de donner des clés concrètes et pertinentes pour le travail de leader.
        </p>
      </div>
      <div>
        <h3>Connexion</h3>
        <p>
          Des temps libres durant l'événement permettent de discuter et partager avec d'autres leaders venant de toute la Suisse romande.
        </p>
      </div>
      <div>
        <h3>Espace RJ</h3>
        <p>
          La journée est une occasion de partager la vision de la RJ, de lever des bénévoles et de distribuer des packs de communication.
        </p>
      </div>
    </div>
    -->

    <h2>Horaires</h2>

    <p>
      09h15		Ouverture du live
    </p>
    <p>
      09h30		Introduction et louange
    </p>
    <p>
      09h40		Message de Raphaël Guichoud
    </p>
    <p>
      10h00		Prière pour les leaders
    </p>
    <p>
      10h15		Formation jeunesse
    </p>
    <p>
      10h35	  Perspective RJ 2021
    </p>
    <p>
      10h50	  Fin du live du matin
    </p>
    <p>
      11h15	  Espace de prière
    </p>
    <p>
    </p>
    <p>
      13h30		Ouverture du live
    </p>
    <p>
      13h35		Table ronde entre leaders:
    </p>
    <ul>
      <li>David Tripet (RJ), Olivier Hoareau (Canada), Benjamin Peterschmidt (Porte Ouverte, Mulhouse), Bony Kouamela (Momentum, Bordeaux), Kevin Roulin (Impact, Sainte-Croix)</li>
    </ul>
    <p>
      14h05	  Prière pour la jeunesse
    </p>
    <p>
      14h20		Ateliers interactifs à choix
    </p>
    <ul>
      <li>Le discipulat comme culture dans le groupe de jeunes avec Alexandre Juvet</li>
      <li>Vivre le groupe de jeunes en temps de pandémie avec Nicolas Grosbety</li>
      <li>Gérer les retours de formations à l’étrange avec Eloïse Bader</li>
      <li>Accompagner les jeunes avec Anne-Laure Guenat: <a href="https://app.sli.do/event/a6sfdirp" target="_blank">pose tes questions sur sli.do (clique ici)</a></li>
    </ul>
    <p>
      15h00		RJ 2021
    </p>
  </div>
  

</section>