<section id="register">

  <div class="section-container">
    <h2>Pratique</h2>
    <p>La RJ Login durera le samedi matin, après-midi et soir, le 29 janvier 2022.</p>
    <p>Cette journée sera déroulera à l'église évangélique de Lonay, dès 09h00</p>
    <p>Le pass sanitaire 2G est obligatoire pour accéder à l'événement (sous réserve de modification).</p>
    <p>Prix de la journée: 25 CHF sur place. Merci de t'inscire si tu sais que tu viens afin que nous nous organisions au mieux (c'est sans engagement).</p>
    <p>Le repas du soir est inclus et le repas de midi est libre. Il y aura un food truck sur place pour vendre des plats chauds.</p>

    <a class="register" href="https://docs.google.com/forms/d/e/1FAIpQLSdIT7e46QL0C70exK0YkaMPcC3p8UtDVA2CR4ZBawF1FpQXIA/viewform?usp=sf_link" target="_blank">Inscription</a>
    <%#= link_to "Inscription", "#register", class: "register" %>
    <!--<p class="last">Inscription bientôt disponible !</p>-->
    
    <!--<p class="last">Inscription et paiement en ligne:</p>-->
    <%#= link_to "S'inscrire", new_orders_event_path(key: "rj-login-20"), class: "register" %>

    <h3>Se rendre sur place</h3>

    <p>
      Eglise Evangélique Lonay<br>
      Route de Préverenges 14-16, 1027 Lonay
    </p>
    <div><%= image_tag "login/register/one4you.png" %></div>

    <p><b>En transport public:</b> l'église se trouve à 5 minutes à pieds de la gare de Lonay.<p>
    <p><b>En voiture:</b> un parking est disponible sur place, à l'église de Lonay. Des personnes vous guideront sur place.</p>
    
    <!-- <a href="/parking.pdf" target="_blank">Un plan est diponible en suivant ce lien.</a>-->

  </div>

</section>
