<section id="register">

  <div class="section-container">
    <h2>Pratique</h2>
    <p>La RJ Login durera le samedi matin et après-midi, le 30 janvier 2021.</p>
    <p>Cette journée online sera gratuite !</p>

    <p>Afin de nous préparer au mieux, nous te remercions de t'inscrire à la journée. C'est sans engagement et gratuit !</p>

    <a class="register" target="_blank" href="https://forms.gle/6U2KPkf27Gj2cs1i7">Inscription (gratuite)</a>

    <!--
    <p>
    IMPORTANT: information parkings<br>
    Des parkings indiqués seront disponibles pour les participants de la RJ Login. Merci de ne PAS utiliser les parkings des commerçants (Coop, Brico...).
    <a href="/parking.pdf" target="_blank">Un plan est diponible en suivant ce lien.</a>
    </p>
    
    

    <p class="last">Inscription et paiement en ligne:</p>

    <p class="last">Inscription bientôt disponible !</p>
    -->
    <%#= link_to "Inscription en décembre", nil, class: "register" %>
    <%#= link_to "S'inscrire", new_orders_event_path(key: "rj-login-20"), class: "register" %>

  </div>

</section>
