<section id="register">

  <div class="section-container">
    <h2>Pratique</h2>
    <p>La RJ Login dure une journée entière, le samedi 26 janvier 2019, dès 8h30.</p>
    <p>Les frais d'entrée sont de 25.- en s'inscrivant à l'avance en ligne et de 35.- sur place. Le repas du soir est compris, cependant il faut prévoir soi-même un repas pour midi (pique-nique ou magasins sur place). Nous recommandons vivement de s'inscire en ligne afin de faciliter l'organisation sur place !</p>

    <p>Rendez-vous dès 8h30 au GOSPEL CENTER ORON, Route du Flon 28, 1610 Oron-la-Ville.</p>
    
    <!-- <p class="last">Inscription bientôt disponible !</p>-->
    <%= link_to "S'inscrire", new_orders_event_path(item: "rj-login-19"), class: "register" %>
    <p class="last">Inscription et paiement en ligne</p>

  </div>

</section>
