<section id="register">

  <div class="section-container">
    <h2>Pratique</h2>
    <p>La RJ Login durera le samedi matin et après-midi, le 30 janvier 2021.</p>
    <p>Cette journée online sera gratuite !</p>

    <p>Afin de nous préparer au mieux, nous te remercions de t'inscrire à la journée. C'est sans engagement et gratuit !</p>

    <a class="register" target="_blank" href="https://forms.gle/6U2KPkf27Gj2cs1i7">Inscription (gratuite)</a>

    <h2 id="discord">Discord</h2>

    <p>Le contenu de la journée est diffusé sur la chaine <b>Youtube</b> de la RJ. Parallèlement, les parties interactives se dérouleront sur notre communauté <b>Discord</b> !</p>

    <div>
      <%= image_tag "login/register/youtube.png" %>
      <p>Le live sur notre >> <a href="https://www.youtube.com/user/RencontredeJeunesse" target="_blank">chaine youtube</a> <<</p>
    </div>
    <div>
      <%= image_tag "login/register/discord.png" %>
      <p>Rejoins notre >> <a href="https://discord.gg/Q6hJb67rfk" target="_blank">communauté Discord</a> <<</p>
    </div>

    <p>Tu ne connais pas Discord ?</p>
    <p>
    Discord permet de créer des communautés pour discuter sur des chats ou dans des réunions vocales. 
    La communauté de la RJ Login te permettra de réagir au live, de discuter avec d'autres leaders ou de participer à des ateliers interactifs.
    </p>

    <ul>
      <li>1. Télécharge l'application sur le site <i><a href="https://discord.com" target="_blank">Discord</a></i> (Mac, Windows) ou sur ton smartphone (iOS, Android).</li>
      <li>2. Crée toi un compte sur l'application.</li>
      <li>3. Rejoins notre communauté au suivant <i><a href="https://discord.gg/Q6hJb67rfk" target="_blank">ce lien</a></i>.
    </ul>

    <!--
    <p>
    IMPORTANT: information parkings<br>
    Des parkings indiqués seront disponibles pour les participants de la RJ Login. Merci de ne PAS utiliser les parkings des commerçants (Coop, Brico...).
    <a href="/parking.pdf" target="_blank">Un plan est diponible en suivant ce lien.</a>
    </p>
    
    

    <p class="last">Inscription et paiement en ligne:</p>

    <p class="last">Inscription bientôt disponible !</p>
    -->
    <%#= link_to "Inscription en décembre", nil, class: "register" %>
    <%#= link_to "S'inscrire", new_orders_event_path(key: "rj-login-20"), class: "register" %>

  </div>

</section>
