<section id="register">

  <div class="section-container">
    <h2>Pratique</h2>
    <p>La RJ Login durera le samedi matin et après-midi, le 29 janvier 2022.</p>
    <p>Cette journée sera déroulera à l'église évangélique de Lonay, dès 09h00</p>
    <p>Le pass sanitaire est obligatoire pour accéder à l'événement.</p>
    <p>Prix de la journée: 25 CHF en ligne, le repas du soir est inclus.</p>

    <%= link_to "Inscription", "#register", class: "register" %>
    <p class="last">Inscription bientôt disponible !</p>
    
    <!--<p class="last">Inscription et paiement en ligne:</p>-->
    <%#= link_to "S'inscrire", new_orders_event_path(key: "rj-login-20"), class: "register" %>

    <h3>Se rendre sur place</h3>

    <p>
      Eglise Evangélique Lonay<br>
      Route de Préverenges 14-16, 1027 Lonay
    </p>
    <div><%= image_tag "login/register/one4you.png" %></div>

    <p><b>En transport public:</b> l'église se trouve à 5 minutes à pieds de la gare de Lonay.<p>
    <p><b>En voiture:</b> un parking est disponible sur place, à l'église de Lonay. Des personnes vous guideront sur place.</p>
    
    <!-- <a href="/parking.pdf" target="_blank">Un plan est diponible en suivant ce lien.</a>-->

  </div>

</section>
